<p-toast></p-toast>

<div class="body mt-2 ml-10 ">
  <!-- <label class="text-black text-2xl ps-0">Stock Upload Mapping</label> -->

  <!-- <div class="row col-9 justify-end d-flex !m-0">
                    <span class="!mb-4 btn-view cursor-pointer" >View Mapping</span>
                </div> -->
  <form [formGroup]="stMappingForm" class="">
    <div class="d-flex  mt-3 z-50">
      <div
        class="card  py-3" [ngClass]="isSidebarVisible?'w-[70vw]':'w-[80vw]'"
      >
      <div class="!flex !flex-row !gap-6 !justify-evenly !items-center">

        <div>
          <p-select  
          [options]="brands"
          formControlName="brands"
          optionLabel="brand"
          optionValue="brand_id"
          placeholder="Select Brand"
          class="brandDropdown !mt-3 "
          [filter]="true" 
          filterPlaceholder="Search Brand..."
          [ngClass]="isSidebarVisible?'brandDropdown':'brandDropdown-collapse'"
          (onChange)="onBrandSelect($event)"
        />
        <div class="px-2" *ngIf="stMappingForm.get('brands')?.touched && stMappingForm?.get('brands')?.invalid " >
          <small *ngIf="stMappingForm?.get('brands')?.hasError('required')" style="color: red; font-size: 12px;">Brand is required.</small> 
         </div>
        </div>
         
          <span class="cursor-pointer" (click)="showDialog()" [ngClass]="[isMappingExist?'':'disabled',isSidebarVisible?'btn-view':'btn-view-collapse']"
          >View & Edit</span
         >
         <span class="btn-view cursor-pointer" (click)="showAddMapping()" [ngClass]="[isMappingExist?'disabled':'',isSidebarVisible?'btn-view':'btn-add-collapse']">Add Mapping</span>
         <span class="btn-view cursor-pointer" (click)="viewAllExistingMapping()">View All Exisitng Mapping</span>
      </div>
        
        <!-- <div class="row w-full">
          <div class="col d-flex justify-evenly mb-4">
           
          </div>
        </div> -->
        <div class="ms-2">
            
        </div>
      </div>
     
    </div>
    <div *ngIf="isAddMapping" >

    
    <div class="d-flex mt-4">
      <div>
        <input
          type="checkbox"
          class="cursor-pointer w-4 h-4"
          formControlName="mappingForBothStock"
          (change)="onCheckboxChange($event)"
        />
        <span class="f-15 !ms-2"
          >Is Mapping Different for Current & Older Days Stock?</span
        >
      </div>
    </div>

    <div>
        <div class=" add-mapping-card  !flex  !flex-col mt-3 !gap-6 p-3" [ngClass]="isSidebarVisible?'w-[70vw]':'w-[80vw]'">
            <span>Add Mapping for Current Days Stock Upload : </span>
            <div class="d-flex flex-row justify-between">
              <p-fileupload *ngIf="showUploader" [multiple]="false"
                #fu
                class="ms-2 me-5"
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                class="btn-file-upload"
                [auto]="false"
                [multiple]="false"
                accept=".xlsx,.csv,.xls"
                (onSelect)="onSelect($event)"
              />
    
              <div class="d-flex justify-end">
                <p-button
                  label="Upload"
                  class="btn-upload"
                  (onClick)="onUpload('Current')"
                  severity="secondary"
                  class="pb-3"
                />
              </div>
            </div>
            <div class=" mapping-card">
                <form [formGroup]="currentStockForm">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-6 d-flex  align-items-center mt-2 ">
                            <span>Part Number:</span>
                          </div>
                          
                          
                          <div class="col-6">
                            <p-select  appendTo="body"
                              [options]="currentStockColumns"
                             formControlName="partNumber"
                              placeholder="Select"
                              class="dropdown !mt-3 "
                            />
                          </div>
                        </div>
                        <div class="  mt-1" *ngIf="currentStockForm.get('partNumber')?.touched && currentStockForm?.get('partNumber')?.invalid " >
                            <small *ngIf="currentStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
                           </div>
          
                        <div class="row">
                          <div class="col-6 d-flex  align-items-center mt-2">
                            <span>Location:</span>
                          </div>
                          <div class="col-6">
                            <p-select  appendTo="body"
                            [options]="currentStockColumns"
                              placeholder="Select"
                              formControlName="location"
                              class="dropdown !mt-3 "
                            />
                          </div>
                        </div>
                        <div class="  mt-1" *ngIf="currentStockForm.get('location')?.touched && currentStockForm?.get('location')?.invalid " >
                            <small *ngIf="currentStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
                           </div>
                        <div class="row">
                          <div class="col-6 d-flex  align-items-center mt-2">
                            <span>Stock Quantity:</span>
                          </div>
                          <div class="col-6">
                            <!-- <p-select  appendTo="body"
                            [options]="currentStockColumns"
                             formControlName="stockQty"
                              placeholder="Select"
                              class="dropdown !mt-3 "
                            /> -->
                            <p-multiselect [options]="currentStockColumns" appendTo="body" placeholder="Select" styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty" />
                          </div>
                          
                        </div>
                        <div class="  mt-1" *ngIf="currentStockForm.get('stockQty')?.touched && currentStockForm?.get('stockQty')?.invalid " >
                            <small *ngIf="currentStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
                           </div>
                      
                    </div>
                  </div>
                    <div class="!flex !justify-center !align-center w-full">
                      <span class="btn-view cursor-pointer" (click)="showCalculationDialog('current')" [ngClass]="isMappingExist?'disabled':''">Submit</span>
                    </div>
                </form>
            </div>
    
            <span *ngIf="isMappingForBothOlder"
              >Add Mapping for Older Days Stock Upload :
            </span>
    
            <div
              class="d-flex flex-row justify-between"
              *ngIf="isMappingForBothOlder"
            >
              <p-fileupload *ngIf="showUploader" [multiple]="false"
                #fu
                class="ms-2 me-5 btn-file-upload"
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                [auto]="false"
                [multiple]="false"
                accept=".xlsx,.csv,.xls"
                (onSelect)="onSelect($event)"
              />
    
              <div class="d-flex justify-end">
                <p-button
                  label="Upload"
                  class="btn-upload"
                  (onClick)="onUpload('Older')"
                  severity="secondary"
                  class="pb-3"
                />
              </div>

            
            </div>
            <div
              class="card mapping-card d-flex justify-center"
              *ngIf="isMappingForBothOlder"
            >
            <form [formGroup]="olderStockForm">
                <div class="row">
                  <div class="col-12">
                      
                    <div class="row">
                      <div class="col-6 d-flex  align-items-center mt-2">
                        <span>Part Number:</span>
                      </div>
                      <div class="col-6">
                        <p-select  appendTo="body"
                          [options]="olderStockColumns"
                          placeholder="Select"
                          formControlName="partNumber"
                          class="dropdown !mt-3 "
                        />
                      </div>
                    </div>
                    <div class="  mt-1" *ngIf="olderStockForm.get('partNumber')?.touched && olderStockForm?.get('partNumber')?.invalid " >
                        <small *ngIf="olderStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
                       </div>
                    <div class="row">
                      <div class="col-6 d-flex  align-items-center mt-2">
                        <span>Location:</span>
                      </div>
                      <div class="col-6">
                        <p-select  appendTo="body"
                          [options]="olderStockColumns"
                          placeholder="Select"
                          formControlName="location"
                          class="dropdown !mt-3 "
                        />
                      </div>
                    </div>
                    <div class="  mt-1"  *ngIf="olderStockForm.get('location')?.touched && olderStockForm?.get('location')?.invalid " >
                        <small *ngIf="olderStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
                       </div>
                    <div class="row">
                      <div class="col-6 d-flex  align-items-center mt-2">
                        <span>Stock Quantity:</span>
                      </div>
                      <div class="col-6">
                        <!-- <p-select  appendTo="body"
                          [options]="olderStockColumns"
                          placeholder="Select"
                          formControlName="stockQty"
                          class="dropdown !mt-3 "
                        /> -->
                        <p-multiselect [options]="olderStockColumns" appendTo="body" placeholder="Select" styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty"/>
                      </div>
                    </div>
                  
                    <div class="  mt-1" *ngIf="olderStockForm.get('stockQty')?.touched && olderStockForm?.get('stockQty')?.invalid " >
                        <small *ngIf="olderStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
                       </div>
                  </div>
                </div>
                        
            </form>
            </div>
    
            <div class="!flex !justify-center !align-center w-full">
              <span class="btn-view cursor-pointer" (click)="showCalculationDialog('older')" [ngClass]="isMappingExist?'disabled':''" *ngIf="isMappingForBothOlder">Submit</span>
            </div>

          </div>
    </div>
    
</div>
    
  </form>
</div>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '35rem',height:'80rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
      <span class="font-bold whitespace-nowrap">View Mapping</span>
    </div>
  </ng-template>
  <div>
    <div>
      <input
        type="checkbox"
        class="cursor-pointer w-4 h-4"
        [(ngModel)]="isViewMappingForBothStocks"
        (change)="onCheckboxChangeInView($event)"
      />
      <span class="f-15 !ms-2"
        >Is Mapping Different for Current & Older Days Stock?</span
      >
    </div>
    <div class="row" class="mt-2">
      <div class="col-12">
        <div class="d-flex justify-between mt-2 align-items-center ">
          <span class="font-semibold">Mapping For Current Stocks</span>
          <span
            class="font-semibold cursor-pointer edit-btn"
            (click)="editCurrentStock()"
            >want to re-upload?</span
          >
        </div>
        <div
          class="d-flex flex-row justify-between mt-3"
          *ngIf="editCurrentDaysStock"
        >
          <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
          <p-fileupload *ngIf="showUploader" [multiple]="false"
            #fu
            class="ms-2 me-5"
            mode="basic"
            chooseLabel="Choose"
            chooseIcon="pi pi-upload"
            name="demo[]"
            [auto]="false"
            [multiple]="false"
            accept=".xlsx,.csv,.xls"
            (onSelect)="onSelect($event)"
            class="btn-file-upload"
          />

          <div class="d-flex justify-end">
            <p-button
              label="Upload"
              class="btn-upload"
              (onClick)="onUpload('Edit Current')"
              severity="secondary"
              class="pb-3"
            />
          </div>
        </div>
        <form [formGroup]="editCurrentDayStockForm">
          <div class="row">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Part Number:</span>
            </div>
            <div class="col-6">
              <p-select  appendTo="body"
                [options]="editCurrentStockColumns"
                formControlName="partNumber"
            
                placeholder="Select"
                class="dropdown !mt-3 "
              />
            </div>
          </div>
          <div  class="  mt-1" *ngIf="editCurrentDayStockForm.get('partNumber')?.touched && editCurrentDayStockForm?.get('partNumber')?.invalid " >
            <small *ngIf="editCurrentDayStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
           </div>
          <div class="row">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Location:</span>
            </div>
            <div class="col-6">
              <p-select  appendTo="body"
                [options]="editCurrentStockColumns"
                formControlName="location"
               
                placeholder="Select"
                class="dropdown !mt-3 "
              />
            </div>
          </div>
          <div class="  mt-1" *ngIf="editCurrentDayStockForm.get('location')?.touched && editCurrentDayStockForm?.get('location')?.invalid " >
            <small *ngIf="editCurrentDayStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
           </div>
          <div class="row">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Stock Quantity:</span>
            </div>
            <div class="col-6">
              <!-- <p-select  appendTo="body"
                [options]="editCurrentStockColumns"
                formControlName="stockQty"
               
                placeholder="Select"
                class="dropdown !mt-3 "
              /> -->
              <p-multiselect [options]="editCurrentStockColumns"
               appendTo="body" placeholder="Select" 
                styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty"/>
            </div>
          </div>
        
          <div class="  mt-1" *ngIf="editCurrentDayStockForm.get('stockQty')?.touched && editCurrentDayStockForm?.get('stockQty')?.invalid " >
            <small *ngIf="editCurrentDayStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
           </div>
           <div class="row" *ngIf="!isCurrentQtyOne">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Stock Calculation:</span>
            </div>
            <div class="col-6">
              <!-- <p-select  appendTo="body"
                [options]="editCurrentStockColumns"
                formControlName="stockQty"
               
                placeholder="Select"
                class="dropdown !mt-3 "
              /> -->
              <input type="text" pInputText formControlName="calculativeField" />
              <i class='bx bx-edit-alt ms-2 cursor-pointer'  *ngIf="editCurrentDaysStock" (click)="showCalculationDialog('Edit Current')"></i>
            </div>
          </div>
           <!-- <div class="d-flex justify-start">
            <p-button
              label="Stock Calculation"
              class="btn-upload"
              (onClick)="showCalculationDialog('Edit Current')"
              severity="secondary"
              class="pb-3"
            />
          </div> -->
        </form>
      </div>
    </div>
    <div class="row" *ngIf="isViewMappingForBothStocks">
      <div class="col-12">
        <div class="d-flex justify-between mt-2 align-items-center ">
          <span class="font-semibold">Mapping For Older Stocks</span>
          <span class="font-semibold cursor-pointer edit-btn " (click)="editOlderStock()"
            >want to re-upload?</span
          >
        </div>
        <form [formGroup]="editOlderDaysStockForm">
          <div
            class="d-flex flex-row justify-between mt-3"
            *ngIf="editOlderDaysStock"
          >
            <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
            <p-fileupload *ngIf="showUploader" [multiple]="false"
              #fu
              class="ms-2 me-5"
              mode="basic"
              chooseLabel="Choose"
              class="btn-file-upload"
              chooseIcon="pi pi-upload"
              name="demo[]"
              [multiple]="false"
              [auto]="false"
              accept=".xlsx,.csv,.xls"
              (onSelect)="onSelect($event)"
            />

            <div class="d-flex justify-end">
              <p-button
                label="Upload"
                class="btn-upload"
                (onClick)="onUpload('Edit Older')"
                severity="secondary"
                class="pb-3"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Part Number:</span>
            </div>
            <div class="col-6">
              <p-select  appendTo="body"
                [options]="editOlderStockColumns"
               
                placeholder="Select"
                formControlName="partNumber"
                class="dropdown !mt-3 "
              />
            </div>
          </div>
          <div class="  mt-1" *ngIf="editOlderDaysStockForm.get('partNumber')?.touched && editOlderDaysStockForm?.get('partNumber')?.invalid " >
            <small *ngIf="editOlderDaysStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
           </div>

          <div class="row">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Location:</span>
            </div>
            <div class="col-6">
              <p-select  appendTo="body"
                [options]="editOlderStockColumns"
               
                placeholder="Select"
                formControlName="location"
                class="dropdown !mt-3 "
              />
            </div>
          </div>
          <div class="  mt-1" *ngIf="editOlderDaysStockForm.get('location')?.touched && editOlderDaysStockForm?.get('location')?.invalid " >
            <small *ngIf="editOlderDaysStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
           </div>
          <div class="row">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Stock Quantity:</span>
            </div>
            <div class="col-6">
              <!-- <p-select  appendTo="body"
                [options]="editOlderStockColumns"
                
                placeholder="Select"
                formControlName="stockQty"
                class="dropdown !mt-3 "
              /> -->
              <p-multiselect [options]="editOlderStockColumns"
               appendTo="body" placeholder="Select" 
                styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty"/>
            </div>
          </div>
          <div class="  mt-1" *ngIf="editOlderDaysStockForm.get('stockQty')?.touched && editOlderDaysStockForm?.get('stockQty')?.invalid " >
            <small *ngIf="editOlderDaysStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
           </div>
           <div class="row" *ngIf="!isOlderQtyOne">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Stock Calculation:</span>
            </div>
            <div class="col-6">
              <!-- <p-select  appendTo="body"
                [options]="editCurrentStockColumns"
                formControlName="stockQty"
               
                placeholder="Select"
                class="dropdown !mt-3 "
              /> -->
              <input type="text" pInputText formControlName="calculativeField" />
              <i class='bx bx-edit-alt ms-2 cursor-pointer'  *ngIf="editOlderDaysStock "  (click)="showCalculationDialog('Edit Older')"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #footer>
 
    <p-button
    label="Ok"
    [text]="true"
    severity="secondary"
    *ngIf=" !editCurrentDaysStock && !editOlderDaysStock "
    (click)="visibleViewEditPopUp = false"
  />
    <p-button *ngIf="editCurrentDaysStock || editOlderDaysStock || isCurrentQtyOne || isOlderQtyOne"
      label="Cancel"
      [text]="true"
      severity="secondary"
      (click)="visible = false"
    />
    <p-button *ngIf="editCurrentDaysStock || editOlderDaysStock ||  isCurrentQtyOne || isOlderQtyOne"
      label="Save"
      [outlined]="true"
      severity="secondary"
      [disabled]="(!isCurrentQtyOne && calculativeFormula=='') || (!isOlderQtyOne && calculativeFormula=='')"
       (click)="editMappingWithViewEditBtn()"
    />
  </ng-template>
</p-dialog>

<!-- <p-dialog [(visible)]="visibleMapping" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <span class="font-bold whitespace-nowrap">Mapping Already Exist. You can Edit and View</span>
      </div>
    </ng-template>
   
  </p-dialog> -->

  <!-- <div class="flex scale-[.8]" *ngIf="showTable"> -->
    <!--  -->
    <div
      class="card ml-10  h-auto  p-3 bg-gray-50 rounded-lg shadow-lg mb-5 mt-4 " [ngClass]="isSidebarVisible?'w-[70vw]':'w-[80vw]'"
      *ngIf="showTable"  
      >
      <div class="d-flex justify-end">
        <i class="bx bx-export font-bold mb-3 cursor-pointer" style="font-size: 18px;" (click)="exportTableData()"></i>
      </div>
      <p-table
        [scrollable]="true"
        scrollHeight="400px"
        [value]="tableData"
        styleClass="mt-4"
        [rows]="10"
      
        [rowsPerPageOptions]="[10,20, 30, 40, 50, 100]"
        [showGridlines]="true"
        [scrollHeight]="'400px'"
        [scrollable]="true"
        class="bg-white  !rounded-lg border border-gray-200 shadow-md"
      >
        <ng-template #header let-item>
          <tr>
           
            <th style="font-size: 13px;" >Brand</th>
            <th style="font-size: 13px;" >
              Current Days Stock Mapping
            </th>
           
            <th style="font-size: 13px;" >
              Added On For Current Days Stock
             
            </th>
            <th style="font-size: 13px;">
              Added By For Current Days Stock
            </th>
            <th style="font-size: 13px;" >Older Days Stock Mapping</th>
            
            <th style="font-size: 13px;">Added On For Older Days Stock</th>
            <th style="font-size: 13px;">Added By For Older Days Stock</th>
          </tr>
        </ng-template>
        <ng-template #body let-rowData let-i="rowIndex">
          <tr>
            <td style="font-size: 11px;">{{rowData.brandName}}</td>
            <td style="font-size: 11px;" class="text-center"><i [ngClass]="rowData.current_data_exists?'pi pi-check':'pi pi-times'" style="color: slateblue" class="cursor-pointer"(click)="showEditStock('current',rowData.current_data_exists,rowData)"></i></td>
            <td style="font-size: 11px;">
                {{rowData.current_added_on}}
            </td>
            <td style="font-size: 11px;">
                {{rowData.current_added_by}}
            </td>
            <td style="font-size: 11px;" class="text-center"><i [ngClass]="rowData.older_data_exists?'pi pi-check':'pi pi-times'" style="color: slateblue" class="cursor-pointer" (click)="showEditStock('older',rowData.older_data_exists,rowData)"></i></td>
            <td style="font-size: 11px;">
                {{rowData.older_added_on}}
            </td>
            <td style="font-size: 11px;" >
                 {{rowData.older_added_by}}
               
            </td>
           
           
          </tr>
        </ng-template>

        <!-- <ng-template  > -->
          <!-- <div class="card flex justify-center"> -->
           
        <!-- </div> -->
        <!-- </ng-template> -->
      </p-table>
      
    </div>
  <!-- </div> -->

  <p-dialog [modal]="true" [(visible)]="visibleViewEditPopUp" [style]="{ width: '45rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
          <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
          <span class="font-bold whitespace-nowrap">View Mapping</span>
        </div>
      </ng-template>
      <div>
       
        <div class="row" class="mt-2" *ngIf="showforEditCurrentData">
          <div class="col-12">
            <div class="d-flex justify-between mt-2 align-items-center ">
              <span class="font-semibold">Mapping For Current Stocks</span>
              <span
                class="font-semibold cursor-pointer edit-btn"
                (click)="editCurrentStock()"
                >want to re-upload?</span
              >
            </div>
            <div
              class="d-flex flex-row justify-between mt-3"
              *ngIf="editCurrentDaysStock"
            >
              <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
              <p-fileupload *ngIf="showUploader" [multiple]="false"
                #fu
                class="ms-2 me-5"
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                [multiple]="false"
                name="demo[]"
               [auto]="false"
                accept=".xlsx,.csv,.xls"
                (onSelect)="onSelect($event)"
                class="btn-file-upload"
              />
    
              <div class="d-flex justify-end">
                <p-button
                  label="Upload"
                  class="btn-upload"
                  (onClick)="onUpload('Edit Current From Table')"
                  severity="secondary"
                  class="pb-3"
                />
              </div>

            </div>
            <form [formGroup]="editCurrentDayStockForm">
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Part Number:</span>
                </div>
                <div class="col-6">
                  <p-select  
                    [options]="showCurrentStockColumnsInTable"
                    formControlName="partNumber"
                    appendTo="body"
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div  class="  mt-1" *ngIf="editCurrentDayStockForm.get('partNumber')?.touched && editCurrentDayStockForm?.get('partNumber')?.invalid " >
                <small *ngIf="editCurrentDayStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
               </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Location:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="showCurrentStockColumnsInTable"
                    formControlName="location"
                   
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div class="  mt-1" *ngIf="editCurrentDayStockForm.get('location')?.touched && editCurrentDayStockForm?.get('location')?.invalid " >
                <small *ngIf="editCurrentDayStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
               </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Stock Quantity:</span>
                </div>
                <div class="col-6">
                  <!-- <p-select  appendTo="body"
                    [options]="showCurrentStockColumnsInTable"
                    formControlName="stockQty"
                   
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  /> -->
                  <p-multiselect 
                  [options]="showCurrentStockColumnsInTable"
                   appendTo="body" 
                    placeholder="Select" styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty"/>
                </div>
              </div>
              <div class="  mt-1" *ngIf="editCurrentDayStockForm.get('stockQty')?.touched && editCurrentDayStockForm?.get('stockQty')?.invalid " >
                <small *ngIf="editCurrentDayStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
               </div>
 <div class="row" *ngIf="!isCurrentQtyOne">
            <div class="col-6 d-flex  align-items-center mt-2">
              <span>Stock Calculation:</span>
            </div>
            <div class="col-6">
              <!-- <p-select  appendTo="body"
                [options]="editCurrentStockColumns"
                formControlName="stockQty"
               
                placeholder="Select"
                class="dropdown !mt-3 "
              /> -->
              <input type="text" pInputText formControlName="calculativeField" />
              <i class='bx bx-edit-alt ms-2 cursor-pointer' 
               (click)="showCalculationDialog('Edit Current From Table',editCurrentDaysStock,editOlderDaysStock)"></i>
            </div>
          </div>
            </form>
          </div>
        </div>
        <div class="row" *ngIf="showforEditOlderData">
          <div class="col-12">
            <div class="d-flex justify-between mt-2 align-items-center ">
              <span class="font-semibold">Mapping For Older Stocks</span>
              <span class="font-semibold cursor-pointer edit-btn " (click)="editOlderStock()"
                >want to re-upload?</span
              >
            </div>
            <form [formGroup]="editOlderDaysStockForm">
              <div
                class="d-flex flex-row justify-between mt-3"
                *ngIf="editOlderDaysStock"
              >
                <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
                <p-fileupload *ngIf="showUploader" [multiple]="false"
                  #fu
                  class="ms-2 me-5"
                  mode="basic"
                  chooseLabel="Choose"
                  class="btn-file-upload"
                  chooseIcon="pi pi-upload"
                  name="demo[]"
                  [auto]="false"
                  [multiple]="false"
                  accept=".xlsx,.csv,.xls"
                  (onSelect)="onSelect($event)"
                />
    
                <div class="d-flex justify-end">
                  <p-button
                    label="Upload"
                    class="btn-upload"
                    (onClick)="onUpload('Edit Older From Table')"
                    severity="secondary"
                    class="pb-3"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Part Number:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="showOlderStockColumnsInTable"
                    placeholder="Select"
                   
                    formControlName="partNumber"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div class="  mt-1" *ngIf="editOlderDaysStockForm.get('partNumber')?.touched && editOlderDaysStockForm?.get('partNumber')?.invalid " >
                <small *ngIf="editOlderDaysStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
               </div>
    
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Location:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="showOlderStockColumnsInTable"
                   
                    placeholder="Select"
                    formControlName="location"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div class="  mt-1" *ngIf="editOlderDaysStockForm.get('location')?.touched && editOlderDaysStockForm?.get('location')?.invalid " >
                <small *ngIf="editOlderDaysStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
               </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Stock Quantity:</span>
                </div>
                <div class="col-6">
                  <!-- <p-select  appendTo="body"
                    [options]="showCurrentStockColumnsInTable"
                    
                    placeholder="Select"
                    formControlName="stockQty"
                    class="dropdown !mt-3 "
                  /> -->
                  <p-multiselect [options]="showOlderStockColumnsInTable"
                  
                  appendTo="body" placeholder="Select" styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty"/>
                </div>
              </div>
              <div class="  mt-1" *ngIf="editOlderDaysStockForm.get('stockQty')?.touched && editOlderDaysStockForm?.get('stockQty')?.invalid " >
                <small *ngIf="editOlderDaysStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
               </div>

               <div class="row" *ngIf="!isOlderQtyOne">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Stock Calculation:</span>
                </div>
                <div class="col-6">
                  <!-- <p-select  appendTo="body"
                    [options]="editCurrentStockColumns"
                    formControlName="stockQty"
                   
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  /> -->
                  <input type="text" pInputText formControlName="calculativeField" />
                  <i class='bx bx-edit-alt ms-2 cursor-pointer'   (click)="showCalculationDialog('Edit Older From Table',editCurrentDaysStock,editOlderDaysStock)"></i>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <ng-template #footer>
        <p-button
        label="Ok"
        [text]="true"
        severity="secondary"
        *ngIf=" !editOlderDaysStock && !editCurrentDaysStock "
        (click)="visibleViewEditPopUp = false"
      />
        <p-button
          label="Cancel"
          [text]="true"
          severity="secondary"
          (click)="visibleViewEditPopUp = false"
          *ngIf="editOlderDaysStock || editCurrentDaysStock"
        />
        <p-button
          label="Save"
          [outlined]="true"
          severity="secondary"
          [disabled]="!isCurrentQtyOne && !isOlderQtyOne"
          (click)="editFromTable(editCurrentDaysStock,editOlderDaysStock)"
          *ngIf="editOlderDaysStock || editCurrentDaysStock"
        />
      </ng-template>
</p-dialog>


<p-dialog [modal]="true" [(visible)]="visibleAddPopUp" [style]="{ width: '45rem' }" >
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
          <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
          <span class="font-bold whitespace-nowrap">Add Mapping</span>
        </div>
      </ng-template>
      <div>
       
        <div class="row" class="mt-2" *ngIf="showAddCurrentData">
          <div class="col-12">
            <div class="d-flex justify-between mt-2">
              <span class="font-semibold">Mapping For Current Stocks</span>
            </div>
            <div
              class="d-flex flex-row justify-between mt-3"
              *ngIf="editCurrentDaysStock"
            >
              <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
              <p-fileupload *ngIf="showUploader" [multiple]="false"
                #fu
                class="ms-2 me-5"
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
               [auto]="false"
               [multiple]="false"
                accept=".xlsx,.csv,.xls"
                (onSelect)="onSelect($event)"
                class="btn-file-upload"
              />
    
              <div class="d-flex justify-end">
                <p-button
                  label="Upload"
                  class="btn-upload"
                  (onClick)="onUpload('Add Current From Table')"
                  severity="secondary"
                  class="pb-3"
                />
              </div>
            </div>
            <form [formGroup]="currentStockForm">
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Part Number:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="currentStockColumns"
                    formControlName="partNumber"
                
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div  class="  mt-1" *ngIf="currentStockForm.get('partNumber')?.touched && currentStockForm?.get('partNumber')?.invalid " >
                <small *ngIf="currentStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
               </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Location:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="currentStockColumns"
                    formControlName="location"
                   
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div class="  mt-1" *ngIf="currentStockForm.get('location')?.touched && currentStockForm?.get('location')?.invalid " >
                <small *ngIf="currentStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
               </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Stock Quantity:</span>
                </div>
                <div class="col-6">
                  <!-- <p-select  appendTo="body"
                    [options]="currentStockColumns"
                    formControlName="stockQty"
                   
                    placeholder="Select"
                    class="dropdown !mt-3 "
                  /> -->
                  <p-multiselect [options]="currentStockColumns" appendTo="body" placeholder="Select" styleClass="w-full md:w-80" class="dropdown !mt-3 " formControlName="stockQty"/>
                </div>
              </div>
            
              <div class="  mt-1" *ngIf="currentStockForm.get('stockQty')?.touched && currentStockForm?.get('stockQty')?.invalid " >
                <small *ngIf="currentStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
               </div>
              
            </form>
          </div>
        </div>
        <div class="row" *ngIf="showAddOlderData">
          <div class="col-12">
            <div class="d-flex justify-between mt-2">
              <span class="font-semibold">Mapping For Older Stocks</span>
             
            </div>
            <form [formGroup]="olderStockForm">
              <div
                class="d-flex flex-row justify-between mt-3"
                *ngIf="editOlderStock"
              >
                <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
                <p-fileupload *ngIf="showUploader" [multiple]="false" 
                  #fu
                  class="ms-2 me-5"
                  mode="basic"
                  chooseLabel="Choose"
                  class="btn-file-upload"
                  chooseIcon="pi pi-upload"
                  name="demo[]"
                  [auto]="false"
                  [multiple]="false"
                  accept=".xlsx,.csv,.xls"
                  (onSelect)="onSelect($event)"
                />
    
                <div class="d-flex justify-end">
                  <p-button
                    label="Upload"
                    class="btn-upload"
                    (onClick)="onUpload('Add Older From Table')"
                    severity="secondary"
                    class="pb-3"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Part Number:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="olderStockColumns"
                   
                    placeholder="Select"
                    formControlName="partNumber"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div class="  mt-1" *ngIf="olderStockForm.get('partNumber')?.touched && olderStockForm?.get('partNumber')?.invalid " >
                <small *ngIf="olderStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
               </div>
    
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Location:</span>
                </div>
                <div class="col-6">
                  <p-select  appendTo="body"
                    [options]="olderStockColumns"
                   
                    placeholder="Select"
                    formControlName="location"
                    class="dropdown !mt-3 "
                  />
                </div>
              </div>
              <div class="  mt-1" *ngIf="olderStockForm.get('location')?.touched && olderStockForm?.get('location')?.invalid " >
                <small *ngIf="olderStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
               </div>
              <div class="row">
                <div class="col-6 d-flex  align-items-center mt-2">
                  <span>Stock Quantity:</span>
                </div>
                <div class="col-6">
                  <!-- <p-select  appendTo="body"
                    [options]="olderStockColumns"
                    
                    placeholder="Select"
                    formControlName="stockQty"
                    class="dropdown !mt-3 "
                  /> -->
                  <p-multiselect [options]="olderStockColumns" appendTo="body" placeholder="Select" styleClass="w-full md:w-80" class="dropdown !mt-3 " />
                </div>
              </div>
              <div class="  mt-1" *ngIf="olderStockForm.get('stockQty')?.touched && olderStockForm?.get('stockQty')?.invalid " >
                <small *ngIf="olderStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
               </div>

            </form>
          </div>
        </div>
      </div>
      <ng-template #footer>
       
        <p-button
          label="Cancel"
          [text]="true"
          severity="secondary"
          (click)="visibleAddPopUp = false"
        />
        <p-button
          label="Save"
          [outlined]="true"
          severity="secondary"
          (click)="showCalculationDialog('Add From Table',showAddCurrentData,showAddOlderData)"
        />
      </ng-template>
</p-dialog>

<p-dialog [(visible)]="visibleStockCalculation" header="Stock Calculation" [modal]="true" [style]="{ width: '45rem' }" >
  <form [formGroup]="stockCalculationForm">
    <div class="d-flex flex-row">
      <!-- First fixed dropdown -->
      <div class="">
        <p-select appendTo="body"
          formControlName="firstColumn"
          [options]="columnsForStockCalculation"
          placeholder="Select"
          [ngClass]="{ 'ng-invalid': stockCalculationForm.get('firstColumn')?.invalid && stockCalculationForm.get('firstColumn')?.touched }"
          class="st-dropdown">
        </p-select>
        <small class="text-danger d-flex" *ngIf="stockCalculationForm.get('firstColumn')?.touched && stockCalculationForm.get('firstColumn')?.hasError('required')">
          Column is required.
        </small>
      </div>
  
      <!-- Operator + Column pairs -->
      <div formArrayName="operations" class="d-flex flex-row ms-2">
        <div *ngFor="let op of operations.controls; let i = index" [formGroupName]="i" class="d-flex flex-row ms-2">
          <div>
            <p-select appendTo="body"
              formControlName="operator"
              [options]="operatorsColumns"
              placeholder="Operator"
              [ngClass]="{ 'ng-invalid': op.get('operator')?.invalid && op.get('operator')?.touched }"
              class="operator-dropdown">
            </p-select>
            <small class="text-danger d-flex" *ngIf="op.get('operator')?.touched && op.get('operator')?.hasError('required')">
              Operator is required.
            </small>
          </div>
          <div class="ms-2">
            <p-select appendTo="body"
              formControlName="column"
              [options]="columnsForStockCalculation"
              placeholder="Select"
              
              [ngClass]="{ 'ng-invalid': op.get('column')?.invalid && op.get('column')?.touched }"
              class="st-dropdown">
            </p-select>
            <small class="text-danger d-flex" *ngIf="op.get('column')?.touched && op.get('column')?.hasError('required')">
              Column is required.
            </small>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Submit Button -->
    <div class="d-flex justify-center mt-2">
      <p-button
        label="Submit"
        class="btn-submit"
        (onClick)="onSubmit(stockType)"
        severity="secondary">
      </p-button>
    </div>
  </form>
  
  
 
  
</p-dialog>









