.card{
    /* box-shadow:  10px 10px 40px #bebebe38,
    -40px -40px 40px #FFFFFF;   */
    /* top: 20vh;  */
    border:none;
    /* background-color: antiquewhite; */
    background-color: var(--primary-color);
}
span{
    font-size: 14px;
}
:host ::ng-deep span.p-button-label.ng-star-inserted{
    font-size: 14px;
}
:host ::ng-deep span.filelabel.ng-star-inserted{
    font-size: 14px;
}
:host ::ng-deep span.p-select-label.p-placeholder.ng-star-inserted{
    font-size: 14px;
    padding: 4px;
}

:host ::ng-deep span.p-select-label.ng-star-inserted {
    font-size: 14px;
    padding: 4px;
}
:host ::ng-deep .p-multiselect-label.p-placeholder {
    padding: 3px;
    font-size: 14px;
}

:host ::ng-deep .p-multiselect-label{
    padding: 3px;
    font-size: 14px;
}
.btn-view{
    border-radius: 8px;
    background-color: rgb(221, 221, 118);
    padding: 5px;

}

.btn-view-collapse{
    border-radius: 8px;
    background-color: rgb(221, 221, 118);
    padding: 5px;
    width: 140px;
    display: flex;
    justify-content: center;

}

.btn-add-collapse{
    border-radius: 8px;
    background-color: rgb(221, 221, 118);
    padding: 5px;
    width: 140px;
    display: flex;
    justify-content: center;

}
:host ::ng-deep button.p-ripple.p-button.p-component.p-button-secondary{
    border: none !important;
  outline: none !important;
  background-color: rgba(0, 0, 255, 0.164);
  padding: 8px;
  border-radius: 4px;
  
  
}

.edit-btn{
    border: none !important;
    outline: none !important;
    background-color: rgba(0, 0, 255, 0.164);
    padding: 8px;
    border-radius: 4px;
}

.mapping-card{
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 20px;
    padding: 10px;
}

.add-mapping-card{
    border:none;
    /* background-color: antiquewhite; */
    background-color: var(--primary-color);
    border-radius: 6px;
}

:host ::ng-deep .p-overlay-mask {
    background: var(--p-mask-background) !important;
    color: var(--p-mask-color) !important;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}

:host ::ng-deep p-button:focus-visible{
    outline: none !important;
}

:host ::ng-deep button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined:focus-visible{
    outline: none;
}

:host ::ng-deep button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined:focus{
    outline: none;
}

:host ::ng-deep .dropdown{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 18vw;
}

:host ::ng-deep .dropdown-collapse{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 22vw;
}

:host ::ng-deep .brandDropdown{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 18vw;
}

:host ::ng-deep .brandDropdown-collapse{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 22vw;
}

::ng-deep .ng-invalid .p-dropdown {
    border: 1px solid red !important;
  }
  
:host ::ng-deep button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined{
    background-color: rgba(0, 0, 255, 0.164) !important;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 8px !important;
}


:host ::ng-deep .disabled {
    pointer-events: none; /* Prevents clicking on the element */
    color: white; /* Optional: Change color to indicate it's disabled */
    background-color: darkred;
    cursor: not-allowed; /* Changes the cursor to indicate it's disabled */
  }

  :host ::ng-deep .loader .p-overlay-mask{
    
    position: absolute;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 11102 !important;
  }

  :host ::ng-deep  .p-select-list-container{
    max-height: 260px !important;
    /* width: 225px !important;
    overflow-x:hidden; */
    width: 18vw !important;
    overflow-x: hidden !important;
}

:host ::ng-deep  li{
   display: flex !important;
}

:host ::ng-deep textarea.ng-pristine.ng-valid.ng-touched{
    outline: white;
    border-radius: 5px !important;
    border: none !important;
}

:host ::ng-deep textarea.ng-pristine.ng-valid.ng-touched:focus-visible{
    outline: white !important;
    border: none !important;
}

:host ::ng-deep textarea{
    border-radius: 4px !important;
}
/* .row{
    margin-left: 0px;
} */

:host ::ng-deep .operator-dropdown{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 5vw;
}

:host ::ng-deep .st-dropdown{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 12vw;
}


:host ::ng-deep .st-dropdown .p-dropdown-panel .p-select-list-container{
    max-height: 260px !important;
    /* width: 225px !important;
    overflow-x:hidden; */
    width: 12vw !important;
    overflow-x: hidden !important;
}

:host ::ng-deep input.p-inputtext.p-component.ng-untouched.ng-pristine.p-filled{
    font-size: 14px;
    padding: 4px;
   
}

:host ::ng-deep input.p-inputtext.p-component{
    width: 230px;
} 

 

