<p-toast position="top-center"></p-toast>

<div class="body mt-2 ml-10">
    <span class="text-black text-2xl ">Dealer Location Mapping</span>   
                <div class="d-flex mt-2">
                    <form [formGroup]="dlForm">
                        <div class="d-flex justify-end">
                            <!-- <i *ngIf="isDataPresent"
     class="bx bx-export cursor-pointer font-semibold mb-2"
     style="font-size: 20px;"
     (click)="exportToExcel()">
  </i>
  <i *ngIf="!isDataPresent"
     class="bx bx-export cursor-pointer font-semibold mb-2 disabled"
     style="font-size: 20px;">
  </i> -->
  <!-- <span class="btn-view mb-3 cursor-pointer"  (click)="downloadFormat()" >Download Format</span> -->
  <i class='bx bx-export  f-20 bx-rotate-180 btn-view mb-3 cursor-pointer'  pTooltip="Download Format" (click)="downloadFormat()"></i>
                        </div>
                        <div class=" add-mapping-card h-auto  flex flex-col" [ngClass]="visibleSidebar?'w-[70vw]':'w-[90vw]'">
                          <div class="  !flex !flex-row !gap-6 p-3 !items-center">
                       
                            <div>

                                <p-select
                                  [options]="brands"
                                  formControlName="brand"
                                  optionLabel="brand"
                                  optionValue="brand_id"
                                  placeholder="Select Brand"
                                  class="  w-56 md:w-56"
                                  [ngClass]="visibleSidebar?'dropdown':'brandDropdown-collapse'"
                                  (onChange)="onBrandSelect($event)"
                                />
                                <div class=" d-flex mt-1" *ngIf="dlForm.get('brand')?.touched && dlForm?.get('brand')?.invalid " >
                                    <small *ngIf="dlForm?.get('brand')?.hasError('required')" style="color: red; font-size: 12px;">Brand is required.</small> 
                                </div>
                            </div>
                            
                      <div>
                        
                        <!-- <p-fileupload [multiple]="false" #fu1 class=" !line-clamp-3" mode="basic" chooseLabel="Choose"  chooseIcon="pi pi-upload" name="demo[]"
                        [auto]="false" accept=".xlsx,.csv,.xls"  [multiple]="false" (onSelect)="onSelect($event)"  /> -->
                        <!-- <span>{{addFileName}}</span> -->
                        <p-fileUpload
                        #fu
                        [customUpload]="true"
                        [auto]="false"
                        [showUploadButton]="false"
                        [showCancelButton]="false"
                        chooseLabel="Upload"
                        chooseIcon="pi pi-upload"
                        name="demo[]"
                        accept=".xlsx,.csv,.xls"
                        [multiple]="false"
                        (onSelect)="onSelect($event)"
                        
                      >
                        <!-- Truncated file name with tooltip -->
                        <ng-template let-file pTemplate="file">
                          <div class="truncate-file-name" [title]="file.name">
                            {{ file.name.length > 10 ? (file.name | slice: 0: 10) + '...' : file.name }}
                          </div>
                        </ng-template>
                      </p-fileUpload>
                        <div class=" d-flex mt-1" *ngIf="dlForm.get('file')?.touched && dlForm?.get('file')?.invalid " >
                          <small *ngIf="dlForm?.get('file')?.hasError('required')" style="color: red; font-size: 12px;">File is required.</small> 
                      </div>
                      </div>
                    
                       
                        <p-button label="Submit" class="" (onClick)="onUpload()" severity="secondary" [disabled]="isDataPresent" />
                      
                        <p-button label="Edit" class="" (onClick)="showEditPopup()" severity="secondary" [disabled]="!isDataPresent" />
                        <!-- <p-button label="View" [ngClass]="isViewMapping?'cursor-pointer':''" [disabled]="!isViewMapping" (onClick)="viewMapping()" severity="secondary"  />  -->
                      </div>
                   
                    <!-- <div class="d-flex justify-start p-3 gap-3 me-3"> 
                     <p-button label="Export" class="" (onClick)="exportToExcel()" severity="secondary" [disabled]="!isDataExist" /> 
                      
                     </div>  -->
                  </div>
                        

                </form>
                </div>
                <div
                class="card   h-auto  p-3 bg-gray-50 rounded-lg shadow-lg mb-5 mt-4 "
                *ngIf="showTable" [ngClass]="visibleSidebar?'w-[70vw]':'w-[90vw]'"
                >
                <div class="d-flex justify-end mb-2">
                  <div class="flex flex-wrap gap-4">
                    <div class="flex items-center">
                        <p-radiobutton name="all" value="All" [(ngModel)]="exportType" (ngModelChange)="applyFilter()" inputId="all" />
                        <label for="all" class="ml-2 mb-0">All</label>
                    </div>
                
                    <div class="flex items-center">
                        <p-radiobutton name="active" value="Active" [(ngModel)]="exportType" inputId="active" (ngModelChange)="applyFilter()" />
                        <label for="active" class="ml-2 mb-0">Active</label>
                    </div>
                
                    <div class="flex items-center">
                        <p-radiobutton name="inactive" value="Inactive" [(ngModel)]="exportType" (ngModelChange)="applyFilter()" inputId="inactive" />
                        <label for="inactive" class="ml-2 mb-0">Inactive</label>
                    </div>
                  </div>
                  <i class="bx bx-export font-bold mb-1 ml-3 cursor-pointer" style="font-size: 18px;" (click)="exportTableData(exportType)"></i>
                </div>
  <p-table #dataTable
  [scrollable]="true"
  scrollHeight="400px"
  [value]="filteredRecords"
  styleClass="mt-4"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10,20, 30, 40, 50, 100]"
  [showGridlines]="true"
  [scrollHeight]="'400px'"
  [scrollable]="true"
  class="bg-white  !rounded-lg border border-gray-200 shadow-md"
>
  <ng-template #header let-item>
    <tr>
      <th style="font-size: 13px;" class="">
        <span class="pb-2">Brand</span>
        <p-columnFilter type="text" field="brandName" display="menu" class="column-filter ms-2" />
      </th>
    
      <th style="font-size: 13px;" class=" ">
        <span class="pb-2">Dealer</span>
        <p-columnFilter type="text" field="dealer" display="menu" class="column-filter ms-2" />
      </th>
    
      <th style="font-size: 13px;" class=" ">
        <span class="pb-2">Location</span>
        <p-columnFilter type="text" field="location" display="menu" class="column-filter ms-2" />
      </th>
    
      <th style="font-size: 13px;" class=" ">
        <span class="pb-2">Inventory Location</span>
        <p-columnFilter type="text" field="inventory_location" display="menu" class="column-filter ms-2" />
      </th>
    
      <th style="font-size: 13px;" class="pb-6px">
        <!-- <div class="pb-2">Status</div> -->
         Status
      </th>
    
      <th style="font-size: 13px;" class="pb-6px">
        Added On
      </th>
    
      <th style="font-size: 13px;" class="pb-6px">
        Added By
      </th>
    </tr>
    
    
    
  </ng-template>
  <ng-template #body let-rowData let-i="rowIndex">
    <tr>
      <td style="font-size: 11px;">
        {{rowData.brandName}}
  
     
      <td style="font-size: 11px;">
          {{rowData.dealer}}
      </td>
      <td style="font-size: 11px;">
          {{rowData.location}}
         
      </td>
 
      <td style="font-size: 11px; " class="word-break">
         {{rowData.inventory_location}}
      </td>
      <td class="p-2" >
        <p-toggleswitch [(ngModel)]="rowData.statusBoolean" (change)="deleteMapping(rowData)"  /></td>
     <td style="font-size: 11px;">
        {{rowData.addedOn}}
     </td>
     <td style="font-size: 11px;">
        {{rowData.addedBy}}
     </td>
     
    </tr>
  </ng-template>
</p-table>
</div>
             
            </div>
           
            <!-- <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
                <ng-template #header>
                  <div class="inline-flex items-center justify-center gap-2">
                    <span class="font-bold whitespace-nowrap">Mapping Already Exist.</span>
                  </div>
                </ng-template>
               
              </p-dialog>  -->

              <p-dialog header="Edit Mapping" [(visible)]="showEditPopUp" [modal]="true" [style]="{ width: '35rem' }">
                <!-- <ng-template #header>
                  <div class="inline-flex items-center justify-center gap-2">
                    <span class="font-bold whitespace-nowrap">Mapping Already Exist.</span>
                  </div>
                </ng-template> -->

                <div class="inline-flex items-center justify-center gap-2 flex-row">

                    <p-fileupload [multiple]="false" #fu class=" !line-clamp-3" mode="basic" chooseLabel="Choose"  chooseIcon="pi pi-upload" name="demo[]"
                    [auto]="false" accept=".xlsx,.csv,.xls" [multiple]="false" (onSelect)="onSelect($event)"   />
                    <!-- <span>{{fileName}}</span> -->

                    
                    <p-button label="Upload" class="" (onClick)="onEdit()" severity="secondary"  />
                  
                   
                </div>
              </p-dialog>           
