.card{
    /* box-shadow:  10px 10px 40px #bebebe38,
    -40px -40px 40px #FFFFFF;   */
    /* top: 20vh;  */
    border:none;
    background-color: var(--primary-color);
}
.btn-view{
    border-radius: 8px;
    /* background-color: rgb(221, 221, 118); */
    padding: 5px;

}

:host ::ng-deep .brandDropdown-collapse{
    border: 2px solid #00000030 !important;
    margin-bottom: 10px !important;
    width: 25vw;
}

:host ::ng-deep button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined{
  border: none !important;
  outline: none !important;
}

:host ::ng-deep button.p-ripple.p-button.p-component.p-button-secondary{
    border: none !important;
  outline: none !important;
  background-color: rgba(0, 0, 255, 0.164);
  padding: 3px;
  border-radius: 4px;
  z-index: auto; 
}

:host ::ng-deep p-button.pb-3{
    display: flex;
    justify-content: center;
}
:host ::ng-deep p-fileupload.mt-2{
    border: none !important;
    outline: none !important;
}

.add-mapping-card{
    border:none;
    /* background-color: antiquewhite; */
    background-color: var(--primary-color);
    border-radius: 6px;
}

:host ::ng-deep .p-select-list-container{
    max-height: 260px !important;
    /* width: 225px !important; */
    width: 160px !important;
    overflow-x:hidden;
}

:host ::ng-deep .disabled {
    pointer-events: none; /* Prevents clicking on the element */
    color:gray; /* Optional: Change color to indicate it's disabled */
    /* background-color: gray; */
    cursor: not-allowed; /* Changes the cursor to indicate it's disabled */
  }
 /* :host ::ng-deep span.filelabel.ng-star-inserted {
    display: none;
  }  */
:host ::ng-deep input.p-inputtext.p-component.ng-star-inserted{
    padding: 5px;
}

/* :host ::ng-deep button.p-ripple.p-button.p-component.p-button-secondary{
 height: 28px;
 width: 28px;
  
} */

:host ::ng-deep button.p-ripple.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-column-filter-button{
    height: 28px;
    width: 28px;
}

.pb-6px{
    padding-bottom: 6px !important;
}