<div class="min-w-full h-full bg-gray-100">
  <h1 class="text-xl font-serif ml-2">Party Management</h1>

  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap flex p-2 gap-10 shadow-lg border-dashed border-2 bg-white rounded-md border-white"
    >
      <div class="flex flex-col w-44">
        <label for="partyname" class="text-sm">Add Party Name :</label>
        <input
          pInputText
          id="partyname"
          class="text-xs h-8"
          [placeholder]="'Add Name Here'"
          aria-describedby="username-help"
        />
      </div>
      <div class="flex flex-col w-44">
        <label for="partycode" class="text-sm">Add Party Code :</label>
        <input
          pInputText
          id="partycode"
          class="text-xs h-8"
          [placeholder]="'Add Name Here'"
          aria-describedby="username-help"
        />
      </div>

       <div class="flex-col h-auto justify-center">
        <p-button
          label="Download Format"
          size="small"
          icon="pi pi-download"
          [style]="{ 'background-color': '#008080', 'color': '#fff'}"
         
          iconPos="right"
          class="text-xs"
        />
       </div>
    </div>
  </div>
</div>
