/* From Uiverse.io by KINGFRESS */ 
   
:host ::ng-deep .p-datatable-table-container {
    height: 75vh;
}


:host ::ng-deep tr.bg-gray-200.text-gray-700.text-sm.font-semibold {
    height: 35px;
}

:host ::ng-deep div#pn_id_13_panel {
  scale: .7;
}

:host ::ng-deep div#pn_id_14_panel {
  scale: 0.7;
}
 /* .ng-trigger .ng-tns-c2456691946-4 .p-datepicker-panel .p-component .ng-star-inserted{
  scale: 0.5;
} */


:host ::ng-deep #pn_id_15_panel {
  scale: 0.7;
}

:host ::ng-deep #pn_id_16_panel{
  scale: 0.7;
}


:host ::ng-deep div#pn_id_18_panel {
  scale: .7;
}

:host ::ng-deep div#pn_id_19_panel {
  scale: .7;
}


/* :host ::ng-deep input.p-inputtext.p-component {
  width: 130px;
} */

  
::ng-deep .table-input input.p-inputtext.p-component{
  width: 130px !important;
}


/* Reduce overall scale of the filter popover */
::ng-deep .p-datatable-filter-overlay {
  transform: scale(0.85) !important; /* or 0.75 if you want smaller */
  
}

/* Optional: reduce font-size and padding inside */
::ng-deep  .p-datatable-filter-overlay * {
  font-size: 12px !important;
 
}

  ::ng-deep
  timesicon.p-component.p-iconwrapper.p-select-clear-icon.ng-star-inserted {
  top: 60%;
  left: 60%;
}


::ng-deep .low-z-paginator .p-paginator .p-paginator-page,
::ng-deep .low-z-paginator .p-paginator .p-paginator-first,
::ng-deep .low-z-paginator .p-paginator .p-paginator-prev,
::ng-deep .low-z-paginator .p-paginator .p-paginator-next,
::ng-deep .low-z-paginator .p-paginator .p-paginator-last {
  z-index: 1 !important; /* or even 0 if needed */
}
