th {
    padding: 10px;
    font-size: 10px;
}
td {
    padding: 9px;
    font-size: 12px;
}
.p-datatable-gridlines table {
    border-collapse: collapse;
  }
  
  .p-datatable-gridlines th,
  .p-datatable-gridlines td {
    border: 1px solid #ddd; /* Light border for gridlines */
  }
  
  .p-datatable-gridlines th {
    background-color: #f9f9f9; /* Slightly shaded header */
    text-align: left; /* Align text */
  }
  
  .p-datatable-gridlines {
    border: 1px solid #ccc; /* Outer table border */
  }

  .custom-paginator-style {
    background-color: #10cbbe;
    padding: 10px;
    border-top: 2px solid #ccc;
  }

  ::ng-deep .custome-table .p-paginator-rpp-dropdown {
    
    scale: 0.8;
   
  }

  ::ng-deep .p-paginator .p-paginator-rpp-dropdown {
  z-index: auto !important;
}


::ng-deep .low-z-paginator .p-paginator .p-paginator-page,
::ng-deep .low-z-paginator .p-paginator .p-paginator-first,
::ng-deep .low-z-paginator .p-paginator .p-paginator-prev,
::ng-deep .low-z-paginator .p-paginator .p-paginator-next,
::ng-deep .low-z-paginator .p-paginator .p-paginator-last {
  z-index: 1 !important; /* or even 0 if needed */
}
