<div class="min-w-full bg-gray-100">
  <!-- <h1 class="text-2xl font-serif ml-2">All Approvals</h1> -->

  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap items-center justify-center flex-col p-2 gap-3 shadow-lg bg-white rounded-md"
    >
      <div class="flex flex-wrap gap-4">
        <form [formGroup]="filterForm">
          <div class="flex flex-wrap gap-4">
            <!-- Brand -->
            <p-floatlabel variant="on">
              <p-select
                formControlName="brand"
                [filter]="true"
                [options]="BrandData"
                optionValue="bigid"
                optionLabel="vcbrand"
                size="small"
                class="w-44 h-8"
                (onClick)="OnclickBrand()"
              />
              <label for="brand" class="text-xs">Select Brand</label>
            </p-floatlabel>

            <!-- Dealer -->
            <p-floatlabel variant="on">
              <p-select
                [filter]="true"
                formControlName="dealer"
                [options]="DealerData"
                optionValue="dealerid"
                optionLabel="dealer"
                size="small"
                class="w-44 h-8"
                (onChange)="OnClickDealer()"
              />
              <label for="dealer" class="text-xs">Select Dealer</label>
            </p-floatlabel>

            <!-- Location -->
            <p-floatlabel variant="on">
              <p-select
                [filter]="true"
                formControlName="location"
                [options]="LocationData"
                optionValue="locationid"
                optionLabel="location"
                size="small"
                class="w-44 h-8"
              />
              <label for="location" class="text-xs">Select Location</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
              <p-multiselect
                formControlName="status"
                optionLabel="Name"
                optionValue="id"
                [options]="StatusData"
                size="small"
                class="w-44 h-8"
              />
              <label for="user" class="text-xs">Status</label>
            </p-floatlabel>

            <!-- From Date -->
            <div class="flex flex-col h-11">
              <p-floatlabel
                class="w-full sm:w-44 md:w-52 lg:w-[185px]"
                variant="on"
              >
                <input
                  pInputText
                  formControlName="fromDate"
                  id="fromDate"
                  type="date"
                  [max]="today"
                  [value]="firstDayOfMonth"
                  class="w-full h-8"
                />
                <label for="fromDate" class="text-xs">From Date</label>
              </p-floatlabel>
            </div>

            <!-- To Date -->
            <div class="flex flex-col h-11">
              <p-floatlabel
                class="w-full sm:w-44 md:w-52 lg:w-[185px]"
                variant="on"
              >
                <input
                  pInputText
                  formControlName="toDate"
                  type="date"
                  [max]="today"
                  class="w-full h-8"
                />
                <label for="ToDate" class="text-xs">To Date</label>
              </p-floatlabel>
            </div>

            <!-- Order Type -->
            <p-floatlabel variant="on">
              <p-multiselect
                formControlName="orderType"
                [options]="RequestTypeData"
                optionLabel="Name"
                optionValue="id"
                [size]="'small'"
                
                class="!w-44 !h-8"
              />
              <label for="orderType" class="text-xs">Order Type</label>
            </p-floatlabel>

            <!-- Pending Since -->
            <p-floatlabel variant="on">
              <p-multiselect
                formControlName="pendingSince"
                [size]="'small'"
                [options]="periodOptions"
                optionValue="value"
                optionLabel="name"
                class="!w-44 !h-8"
              />
              <label for="pendingSince" class="text-xs">Pending Since</label>
            </p-floatlabel>

            <!-- Buttons -->
            <p-button
              size="small"
              label="View"
              [style]="{ 'background-color': '#008080', color: '#fff' }"
              icon="pi pi-eye"
              iconPos="left"
              (onClick)="onView()"
            />
            <p-button
              size="small"
              label="Reset"
              [style]="{ 'background-color': '#008080', color: '#fff' }"
              icon="pi pi-filter-slash"
              iconPos="left"
              (onClick)="onReset()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2">
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        [scrollable]="true"
        scrollHeight="600px"
        [showGridlines]="true"
        scrollDirection="both"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr class="">
            <th
              class="!px-1 flex-auto !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px] !min-h-[22px]"
            >
              S.No
            </th>
            <th
              class="!px-1 flex-2 !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px]"
            >
              Part Number
              <p-columnFilter type="text" field="" display="menu" />
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Latest Part Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Substituition
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Last Updated
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Category
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Part Description
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              MOQ
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Qty
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Price
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Original Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Stock as on Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Group Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Latest Group Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Non Moving Check
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              6 Month CS
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              6 Month WS
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              6 Month CS Brand
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              6 Month WS Brand
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Max Value
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              OOQ
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Value
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Remarks
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Re Order Remark
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Auto Approval Logs
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Remarks Dropdown
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Action Fields
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
            <td
              class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
            >
              {{ rowData.Dashboard }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!-- <p-dialog
  header="⚙️ Configure Table Columns"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '95vw' }"
  [style]="{ width: '40vw' }"
  [contentStyle]="{ 'max-height': '60vh', 'overflow-y': 'auto' }"
  [draggable]="true"

  [resizable]="false"


>
  <div class="grid grid-cols-2 gap-3 p-2">
    <div
      class="flex items-center bg-gray-50 hover:bg-gray-100 rounded-lg px-3 py-2 transition"
      *ngFor="let col of tableColumns"
    >
      <p-checkbox
        [inputId]="col.field"
        name="columns"
        [value]="col.field"
        [(ngModel)]="selectedColumns"
        binary="true"
      />
      <label
        [for]="col.field"
        class="ml-2 mt-2 text-sm text-gray-700 cursor-pointer select-none"
      >
        {{ col.header }}
      </label>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-3">
      <button
        pButton
        label="Save as Default"
        severity="info"
        class="p-button-outlined p-button-sm"
        (click)="visible=false"
      ></button>
      <button
        pButton
        label="Cancel"
        class="p-button-outlined p-button-sm"
        (click)="visible=false"
      ></button>
      <button
        pButton
        label="Apply for Now"
        class="p-button-sm"
        
      ></button>
    </div>
  </ng-template>
</p-dialog> -->
