<div class="min-w-full h-full bg-gray-100">
  <!-- <h1 class="text-2xl font-serif ml-2">View Rules</h1> -->
  <!-- <div class="min-w-full !min-h-[100px] flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[50px] flex flex-wrap p-2 gap-3 border-dashed border-2 bg-gray-50 border-gray-200"
    >
      <p-select [filter]="true" placeholder="Category" class="w-44" />
      <p-select [filter]="true" placeholder="Status" class="w-44" />
      <p-select [filter]="true" placeholder="Nature" class="w-44" />
    </div>
  </div> -->

  <div class="min-w-full !min-h-[100px] flex items-start justify-start px-2">
    <div
      class="min-w-full min-h-[50px] flex flex-wrap p-2 gap-3 border-dashed border-2 bg-gray-50 border-gray-200"
      [formGroup]="BrandInputData"
    >
      <p-select
        [filter]="true"
        [options]="Brand"
        formControlName="brand"
        optionLabel="vcbrand"
        optionValue="bigid"
        placeholder="Brand"
        (onChange)="OnClickBrand()"
        class="w-44"
      />
      <p-select
        [filter]="true"
        placeholder="Dealer"
        [options]="Dealer"
        formControlName="dealer"
        optionLabel="dealer"
        optionValue="dealerid"
        (onChange)="OnClickDealer()"
        class="w-44"
      />
      <p-select
        [filter]="true"
        formControlName="location"
        placeholder="Location"
        optionLabel="location"
        optionValue="locationid"
        [options]="Location"
        class="w-44"
      />
      <p-select [filter]="true" placeholder="Rule Name" class="w-44" />
      <p-button size="small" icon="pi pi-check" label="Save" />
      <p-button size="small" icon="pi pi-eye" label="View" />
      <p-button size="small" icon="pi pi-eye" label="View Template" />
      <p-button size="small" icon="pi pi-download" label="Export" />
      <p-button size="small" icon="pi pi-upload" label="Upload" />
    </div>
  </div>

  <!--View Rules Table -->

  <div class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2">
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        [scrollable]="true"
        scrollHeight="600px"
        [showGridlines]="true"
        scrollDirection="both"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr class="">
            <th
              class="!px-1 flex-auto !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px] !min-h-[22px]"
            >
              S.No
            </th>
            <th
              class="!px-1 flex-2 !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px]"
            >
              Brand
              <p-columnFilter type="text" field="" display="menu" />
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Dealer
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Location
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Rule Name
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Created By
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Created On
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Status
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Priority
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Action
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
            <td
              class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
            >
              {{ rowData.Dashboard }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        class="h-6 text-sm"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [appendTo]="body"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      />
    </div>
  </div>
</div>
