<div class="min-w-full h-full bg-gray-100">
  <h1 class="text-xl font-serif ml-2">Advisor Management</h1>

  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap flex p-2 gap-10 shadow-lg border-dashed border-2 bg-white rounded-md border-white"
    >
      <div class="flex flex-col w-44">
        <label for="partyname" class="text-sm">Add Advisor :</label>
        <input
          pInputText
          id="partyname"
          class="text-xs h-8"
          [placeholder]="'Add Name Here'"
          aria-describedby="username-help"
          [(ngModel)]="Advisor"
        />
      </div>
     

       <div class="flex items-end gap-3 flex-wrap w-auto justify-center">
        <p-button
          label="Save"
          size="small"
          icon="pi pi-check"
          [style]="{ 'background-color': '#008080', 'color': '#fff'}"
          iconPos="right"
          class="text-xs"
          (onClick)="onclickSave()"
        />
         <p-button
          label="View Table"
          size="small"
          icon="pi pi-table"
          [style]="{ 'background-color': '#008080', 'color': '#fff'}"
          iconPos="right"
          class="text-xs"
          (onClick)="onClickShowTable()"
        />
       </div>
       
    </div>
  </div>
  <div class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2" *ngIf="showtable">
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        [scrollable]="true"
        scrollHeight="600px"
        [showGridlines]="true"
        scrollDirection="both"
        [paginatorDropdownAppendTo]="'body'"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr class="">
            <th
              class="!px-1 flex-auto !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px] !min-h-[22px]"
            >
              S.No
            </th>
            <th
              class="!px-1 flex-2 !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px]"
            >
              Advisor
              <p-columnFilter type="text" field="" display="menu" />
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Status
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Action
            </th>
            
          </tr>
        </ng-template>

        <ng-template #body let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
            <td
              class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
            >
              {{ rowData.Dashboard }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        class="h-6 text-sm"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [appendTo]="body"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      />
    </div>
  </div>
</div>
