body{
    /* background: var(--secondary-color) !important; */
    height: 100vh;

}
.body{
    /* background-color: var(--secondary-color) !important; */
    height: 130vh;
    overflow-x: hidden;
    overflow-y: auto;
}

:host ::ng-deep .p-fileupload-content{
    display: none;
}
:host ::ng-deep .p-fileupload-buttonbar{
    padding: 0%;
    /* background-color: var(--secondary-color) !important; */
}

:host ::ng-deep span.p-ripple.p-element.p-button.p-component.p-fileupload-choose{
background-color: var(--theme-color);
padding: 10px !important;
/* width: 128px;
height: 36px;
margin-left: 64px; */
}

:host ::ng-deep p-dropdown .p-dropdown.p-component.p-inputwrapper{
    border-radius:5px !important;
    /* width:-webkit-fill-available !important; */
    width:90% !important
}

:host ::ng-deep .p-dropdown:not(.p-disabled):hover {
    border-color:#d1d5db !important;
}

:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    border-color:#d1d5db !important;
    box-shadow:none !important
}

:host ::ng-deep span.p-element.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted{
    padding: 4px !important;
    padding-left:10px !important;
}

.card{
    background-color: white;
}

.btn-search{
    background-color: var(--theme-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px !important;
    height: 40px !important;

}

.btn-view{
    background-color: var(--theme-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep button:focus:not(:focus-visible) {
    outline: 0;
    border: none;
    box-shadow: none;
}

:host ::ng-deep span.p-element.p-dropdown-label.p-inputtext.ng-star-inserted{
    padding: 4px !important;
    padding-left:10px !important;
}

:host ::ng-deep .btn-export{

    background-color: var(--theme-color) !important;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 40px !important;
    width: 215px !important;
}

:host ::ng-deep th.p-element.p-sortable-column{
    display: flex;
}

:host ::ng-deep svg.p-icon.p-sortable-column-icon {
    width: 12px;
    height: 12px;
}
:host ::ng-deep sortalticon.p-element.p-icon-wrapper.ng-star-inserted{
    padding-top: 6px;
}

:host::ng-deep p-sorticon.p-element{
    padding: 5px !important;
}

::ng-deep body{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.p-table {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100% !important;
  }

:host ::ng-deep .p-fileupload .p-fileupload-buttonbar{
    background: none;
}

/* :host ::ng-deep .p-datatable .p-datatable-tbody > tr:nth-child(even){
    background-color: var(--theme-color);

} */

:host ::ng-deep div#pn_id_6{
    display: flex !important;
    align-items: center !important;
}

:host ::ng-deep li{
    padding-bottom: 4px;
}

:host ::ng-deep .p-dropdown-items-wrapper{
    max-height:350px !important;
}
:host ::ng-deep ul{
    padding-top:10px
}
.latest-rows {
    background-color: #5a9fa396;
  }
.previous-rows{
    background-color: white;
}
:host ::ng-deep th{
    font-size: 12px;
}
:host ::ng-deep div#pn_id_8{
    width: auto;
}
:host ::ng-deep td{
    font-size: 12px;
    padding: 7px;
}

:host ::ng-deep span.p-element.p-dropdown-label.p-inputtext{
    padding:5px !important
}

@media (min-width:768px) and (max-width:1023px){
    label{
        font-size:14px !important
    }

    .btn-export{
        width:130px !important
    }

    .div-btn{
        padding-left: 0px !important;
        gap: 17px !important;
        margin-left: 0px !important;
    }
    .btn-search{
        margin-left: 0px !important;
    }
    /* .col-4{
        width: 0% !important;
    } */
    .col-sm-1{
        width:0% !important
    }
    .col-4-div{
        width: 0%  !important;
    }


}

@media (min-width:1020px ) and (max-width:1439px){
   div .col-4.col-4-div{
        width: 0%  !important;
    }
}