<div class="min-w-full bg-gray-100">
  <!-- <h1 class="text-xl font-serif ml-2">Order Status</h1> -->

  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap flex-col p-2 gap-3 shadow-lg border-dashed border-2 bg-white rounded-md border-white"
    >
      <div class="flex gap-4 flex-wrap" [formGroup]="OrderStatusInput">
        <p-floatlabel class="w-44 !h-8" variant="on">
          <p-datepicker
            size="small"
            inputId="on_label"
            class="w-44 !h-8"
            dateFormat="mm/dd/yy"
            formControlName="FromDate"
            iconDisplay="input"
            [readonlyInput]="true"
            [panelStyle]="{
              position: 'absolute',
              left: '0px',
              top: '100%',
              'z-index': '1000',
              transform: 'scale(0.7)',
              'transform-origin': 'top left'
            }"
          />
          <label for="on_label" class="text-xs">From Date</label>
        </p-floatlabel>
        <p-floatlabel class="w-44 h-8" variant="on">
          <p-datepicker
            size="small"
            inputId="on_label"
            class="!w-44 !h-8"
            formControlName="ToDate"
            dateFormat="mm/dd/yy"
            iconDisplay="input"
            [readonlyInput]="true"
            [panelStyle]="{
              position: 'absolute',
              'z-index': '1201',
              transform: 'scale(0.7)',
              'transform-origin': 'top left'
            }"
          />
          <label for="on_label" class="text-xs">To Date</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-select
            [checkmark]="true"
            optionLabel="name"
            formControlName="OrderType"
            [showClear]="true"
            size="small"
            class="w-44 h-8"
          />
          <label for="parameters" class="text-xs">Select Order Type</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input
            pInputText
            id="on_label"
            formControlName="PartNumber"
            class="w-44 !h-8"
            autocomplete="off"
          />
          <label for="on_label" class="text-xs">Part Number</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <input
            pInputText
            formControlName="JobCardNumber"
            id="on_label"
            class="w-44 !h-8"
            autocomplete="off"
          />
          <label for="on_label" class="text-xs">Job Card Number</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="on_label"
            formControlName="VehicleNumber"
            class="w-44 !h-8"
            autocomplete="off"
          />
          <label for="on_label" class="text-xs">Vehicle Number</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-select
            [checkmark]="true"
            optionLabel="name"
            formControlName="AdvisorName"
            [showClear]="true"
            size="small"
            class="w-44 h-8"
          />
          <label for="parameters" class="text-xs">Advisor</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-select
            [checkmark]="true"
            optionLabel="name"
            formControlName="FloorSupervisor"
            [showClear]="true"
            size="small"
            class="w-44 h-8"
          />
          <label for="parameters" class="text-xs">Floor Supervisor</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-select
            [checkmark]="true"
            optionLabel="name"
            formControlName="CustomFilter"
            [showClear]="true"
            size="small"
            class="w-44 h-8"
          />
          <label for="parameters" class="text-xs">Custom Filter</label>
        </p-floatlabel>
        <p-floatlabel variant="on">

          <p-multiselect
           
            optionLabel="header"
            [options]="ColummnData"
            formControlName="TableFilter"
            [showClear]="true"
            size="small"
            class="w-44 h-8"
          />
          <label for="parameters" class="text-xs">Table Column</label>
        </p-floatlabel>

        <p-button label="View Order Status" size="small" (onClick)="onClickView()" />
        <p-button size="small" icon="pi pi-download" />
      </div>
    </div>
  </div>
  <br />
  <div class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2" *ngIf="visible">
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        [scrollable]="true"
        scrollHeight="600px"
        [showGridlines]="true"
        scrollDirection="both"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr class="">
            <th
              class="!px-1 flex-auto !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px] !min-h-[22px]"
            >
              S.No
            </th>
            <th
              class="!px-1 flex-2 !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px]"
            >
              Approval ID
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Location
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Part Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Latest Part Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Substitution
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Vehicle Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Vehicle Model
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Job Card Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Job Card Type
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Advisor Name
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Floor Supervisor
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Job Card Type
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Type.
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Request Type
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Part Description
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              MOQ
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Quantity
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Price
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Orignal Stock.
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Group Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Latest Group Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Value
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Ordering Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Stockable
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              GM Approval
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              GM Remarks
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              PO Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              JobCard Open Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              JobCard Close Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              JobLine Close Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              JobLine Update Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              OOQ Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              SCS Approval
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              SCS Remarks
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Open Jobline with Open JC
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Jobline Status
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Jobcard Status
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Remarks
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Place
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Re-Order
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
            <td
              class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
            >
              {{ rowData.Dashboard }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      
      <p-paginator
          class="h-6 w-full text-sm"
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [appendTo]="body"
          pagginatordropdownappendto="body"
          [totalRecords]="120"
          [rowsPerPageOptions]="[10, 20, 30]"
        />
    </div>
  </div>
</div>
