body{
  transform: none !important;
}
.card{
    /* box-shadow:  10px 10px 40px #bebebe38,
    -40px -40px 40px #FFFFFF;   */
    /* top: 20vh;  */
    border:none;
    background-color: var(--primary-color);
    margin-left: 2.5rem !important;
    transform:none !important
}
.btn-view{
    border-radius: 8px;
    background-color: rgb(221, 221, 118);
    padding: 5px;

}

:host ::ng-deep button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined{
  border: none !important;
  outline: none !important;
  padding: 10px !important;
}

:host ::ng-deep button.p-ripple.p-button.p-component.p-button-secondary{
    border: none !important;
  outline: none !important;
 background-color: var(--theme-color) !important;
  color: white !important;
  /* background-color: rgb(0 0 255 / 34%); */
  padding: 3px;
  border-radius: 4px;
  z-index: auto;
  
}

:host ::ng-deep p-button.pb-3{
    display: flex;
    justify-content: center;
}
:host ::ng-deep p-fileupload.mt-2{
    border: none !important;
    outline: none !important;
}

.add-mapping-card{
    border:none;
    /* background-color: antiquewhite; */
    background-color: var(--primary-color);
    border-radius: 6px;
    display: flex !important;
}

:host ::ng-deep .p-select-list-container{
    max-height: 260px !important;
    width: 160px !important;
    overflow-x:hidden;
}

:host ::ng-deep .disabled {
    /* pointer-events: none;  */
    color: red; /* Optional: Change color to indicate it's disabled */
   /* background-color: darkred; */
    cursor: not-allowed; /* Changes the cursor to indicate it's disabled */
  }

  ::ng-deep button.p-ripple.p-paginator-page.ng-star-inserted.p-paginator-page-selected {
    background-color: #007bff7d !important;
    color: white !important; /* Change text color */
  
    font-weight: bold !important;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height:30px !important;
    font-size: 12px !important;
  }

  :host ::ng-deep .dropdown{
    transform: none !important;
    width: 10rem !important;
    font-size: 12px !important;
  }

  :host ::ng-deep .p-select-label.p-placeholder{
    padding: 5px !important;
  }

  :host ::ng-deep .p-select-label{
    padding:5px !important;
    font-size: 12px !important;
  }

  .truncate-file-name {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px !important;
  }

  :host ::ng-deep .p-fileupload-advanced{
    border: none !important;
    border-radius: none !important;
    background: none !important;
    display: flex!important;
    align-items: center !important;
  }

  :host ::ng-deep .p-fileupload-header{
    border-radius: 0rem !important;
    padding:0rem !important;
    background: none !important;
  }

  :host ::ng-deep .p-fileupload-content{
    gap: 0rem !important;
    padding: 0rem !important;
  }

  :host ::ng-deep .p-fileupload-content .p-progressbar{
    display: none !important;
  }

  :host ::ng-deep .p-datatable{
    transform: none !important;
  }

  :host ::ng-deep .p-icon{
    height: 11px !important;
  }

  :host ::ng-deep .p-paginator-current{
    font-size: 12px;
    order: 2;
    margin-left: 20px !important;
  }
  
  :host ::ng-deep button.p-ripple.p-button.p-component.p-button-secondary{
    border: none !important;
  outline: none !important;
 background-color: var(--theme-color) !important;
  color: white !important;
  /* background-color: rgb(0 0 255 / 34%); */
  padding: 3px !important;
  border-radius: 4px !important;
  z-index: auto !important;
  
}

:host ::ng-deep input.p-inputtext.p-component.p-select-filter{
    font-size: 12px !important;
}

::ng-deep .upload-icon-only .p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
}

::ng-deep .upload-icon-only .p-button-label {
  display: none !important;
}

::ng-deep .upload-icon-only .p-button-icon {
  margin: 0 !important;
  font-size: 1.2rem; /* Adjust icon size if needed */
}