<div class="min-w-full h-full bg-gray-100">
  <!-- <h1 class="text-2xl font-serif ml-2">Rule Creation</h1> -->
  <div class="flex flex-wrap gap-4 p-2">
    <div class="flex items-center">
      <p-checkbox [(ngModel)]="locationSpecific" [binary]="true"></p-checkbox>
      <label class="ml-2 mt-[10px] text-sm">Location Specific</label>
    </div>
    <div class="flex items-center">
      <p-checkbox [(ngModel)]="GeneralRule" [binary]="true"></p-checkbox>
      <label class="ml-2 mt-[10px] text-sm">General Rule</label>
    </div>
    <br />
  </div>

  <div class="p-2 gap-3 flex" [formGroup]="LocationSpecificName">
    <p-select
      [filter]="true"
      formControlName="brand"
      [options]="Brand"
      optionLabel="vcbrand"
      optionValue="bigid"
      size="small"
      (onChange)="OnClickBrand()"
      placeholder="Select a Brand"
      class="w-44"
    />
    <p-select
      [filter]="true"
      formControlName="dealer"
      [options]="Dealer"
      optionLabel="dealer"
      optionValue="dealerid"
      size="small"
      (onChange)="OnClickDealer()"
      placeholder="Select a Dealer"
      class="w-44"
    />
    <p-select
      [filter]="true"
      formControlName="location"
      optionLabel="location"
      optionValue="locationid"
      [options]="Location"
      size="small"
      placeholder="Select a Location"
      class="w-44"
    />
  </div>

  <br />

  <div class="flex flex-wrap w-full p-2 gap-5" [formGroup]="RuleName">
    <!-- Rule Name -->
    <div class="flex flex-col w-auto sm:w-1/2">
      <p-floatlabel variant="on">
        <input
          type="text"
          id="rulename"
          formControlName="NameofRule"
          pSize="small"
          pInputText
        />
        <label for="rulename" class="text-xs">Name of Rule</label>
      </p-floatlabel>

      <!-- Validation messages -->
      <div
        class="text-red-500 text-xs mt-1"
        *ngIf="
          RuleName.get('NameofRule')?.touched &&
          RuleName.get('NameofRule')?.invalid
        "
      >
        <span *ngIf="RuleName.get('NameofRule')?.errors?.['required']"
          >Rule name is required.</span
        >
        <span *ngIf="RuleName.get('NameofRule')?.errors?.['minlength']"
          >Minimum 3 characters required.</span
        >
      </div>
    </div>

    <!-- Description -->
    <div class="flex flex-col w-auto sm:w-1/2">
      <p-floatlabel variant="on">
        <input
          type="text"
          id="description"
          formControlName="Description"
          pSize="small"
          pInputText
        />
        <label for="description" class="text-xs">Description</label>
      </p-floatlabel>

      <!-- Validation messages -->
      <div
        class="text-red-500 text-xs mt-1"
        *ngIf="
          RuleName.get('Description')?.touched &&
          RuleName.get('Description')?.invalid
        "
      >
        <span *ngIf="RuleName.get('Description')?.errors?.['required']"
          >Description is required.</span
        >
        <span *ngIf="RuleName.get('Description')?.errors?.['minlength']"
          >Minimum 5 characters required.</span
        >
      </div>
    </div>
    <div class="flex flex-col w-auto sm:w-1/2">
      <p-floatlabel variant="on">
        <p-select
          [filter]="true"
          [filter]="true"
          formControlName="RuleType"
          [options]="ruleType"
          optionLabel="name"
          optionValue="value"
          size="small"
          (onChange)="OnClickDealer()"
          class="w-44 h-9"
        />
        <label for="description" class="text-xs">Rule Type</label>
      </p-floatlabel>

      <!-- Validation messages -->
      <div
        class="text-red-500 text-xs mt-1"
        *ngIf="
          RuleName.get('RuleType')?.touched && RuleName.get('RuleType')?.invalid
        "
      >
        <span *ngIf="RuleName.get('RuleType')?.errors?.['required']"
          >Rule Type is required.</span
        >
      </div>
    </div>
  </div>

  <br />

  <div class="min-w-full !min-h-[100px] flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[50px] flex-col flex-wrap p-2 gap-3 items-stretch border-dashed border-2 bg-gray-50 border-gray-200"
    >
      <h1>Numeric Rule Creation</h1>
      <br />
      <form [formGroup]="NumericRule">
        <div
          class="min-h-auto flex flex-wrap items-center justify-start p-2 gap-2 border bg-gray-50 border-gray-200"
        >
          <p-floatlabel variant="on">
            <p-select
              [filter]="true"
              size="small"
              [options]="Bucket"
              formControlName="selectedBucket"
              optionLabel="Bucket"
              (onChange)="OnClickBucket()"
              styleClass="w-44"
            />
            <label for="parameter" class="text-sm">Bucket</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              [filter]="true"
              [filter]="true"
              size="small"
              [options]="parametersNumeric"
              formControlName="selectedParameter"
              optionLabel="Parameter"
              styleClass="w-44 text-wrap"
            />
            <label for="parameter" class="text-sm">Parameters</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              [filter]="true"
              [filter]="true"
              size="small"
              [options]="OperatorList"
              formControlName="selectedOperator"
              optionLabel="Operator"
              optionValue="Operator"
              styleClass="w-44"
            />
            <label for="operator" class="text-sm">List of operators</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              [filter]="true"
              [filter]="true"
              size="small"
              [options]="OperatorList"
              formControlName="SubParameters"
              optionLabel="Operator"
              optionValue="Operator"
              styleClass="w-44"
            />
            <label for="operator" class="text-sm">Sub Parameters</label>
          </p-floatlabel>

          <input
            formControlName="enteredValue"
            placeholder="Enter Value (Optional)"
            class="p-inputtext !text-sm h-8 w-44"
          />

          <p-button
            label="Add to Rule"
            size="small"
            (click)="appendToRuleNumeric()"
          />
          <p-button
            label="Backspace"
            size="small"
            (click)="removeLastChunk()"
            class="p-button-secondary"
          />
          <p-button
            label="Save"
            size="small"
            (click)="showDialogForfinalCondition()"
            class="p-button-secondary"
          />
        </div>
      </form>

      <br />
      <div>
        <span class="text-black font-bold">Expression:</span>
        <span class="ml-3 text-red-500">{{ expression }}</span>
      </div>
    </div>
  </div>
  <br />
</div>



<p-dialog
  header="Rule Output Condition"
  [modal]="true"
  [(visible)]="visibleTrueFalse"
  [style]="{ width: '40rem', height: '80%' }"
>
  <span class="p-text-secondary block mb-8 text-lg font-semibold"
    >If Success</span
  >
  <div [formGroup]="trueFalseInput">
    <div class="flex items-center gap-4 mb-4">
      <label for="success" class="text-sm w-24">Remark for Success</label>
      <p-select
        [filter]="true"
        [filter]="true"
        [options]="ActionList"
        optionLabel="Condition"
        optionValue="Id"
        formControlName="trueAction"
        placeholder="Select a Action "
        class="w-full h-8 md:w-48"
      />

      <input
        pInputText
        id="success"
        formControlName="trueRemark"
        pSize="small"
        [(ngModel)]="trueRemarktext"
        class="flex-auto"
        autocomplete="off"
      />

      <p-select
        [filter]="true"
        [filter]="true"
        optionLabel="label"
        formControlName="trueParameter"
        optionValue="value"
        placeholder="Parameters"
        class="w-full h-8 md:w-48"
      />
    </div>
    <span class="p-text-secondary block mb-8 text-lg font-semibold"
      >If Failure</span
    >

    <div class="flex items-center gap-4 mb-8">
      <label for="faileur" class="text-sm w-24">Remark for Failure</label>
      <p-select
        [filter]="true"
        [filter]="true"
        [options]="ActionList"
        optionLabel="Condition"
        optionValue="Id"
        appendTo="body"
        formControlName="falseAction"
        placeholder="Select a Action "
        class="w-full h-8 md:w-48"
      />
      <input
        pInputText
        pSize="small"
        id="faileur"
        formControlName="falseRemark"
        class="flex-auto"
        autocomplete="off"
      />

      <p-select
        [filter]="true"
        [filter]="true"
        optionLabel="label"
        formControlName="falseParameter"
        optionValue="value"
        placeholder="Parameters"
        class="w-full h-8 md:w-48"
      />
    </div>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        class="!h-8"
        size="small"
        severity="secondary"
        (click)="visibleTrueFalse = false"
      />
      <p-button label="Save" size="small" (click)="OnClickSaveRule()" />
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Information"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    {{ Result }}
  </p>
</p-dialog>
