<div class="min-w-full h-full bg-gray-100">
  <h1 class="text-2xl font-serif ml-2">Rule Creation</h1>
  <div class="flex flex-wrap gap-4 p-2">
    <div class="flex items-center">
      <p-radiobutton
        name="ruleType"
        value="numeric"
        inputId="numericRule"
        [(ngModel)]="selectedRuleType"
        (onClick)="onRuleTypeChange()"
      />
      <label for="numericRule" class="ml-2 mt-[10px] text-sm"
        >Numeric Rule</label
      >
    </div>

    <div class="flex items-center">
      <p-radiobutton
        name="ruleType"
        value="alphanumeric"
        inputId="alphaNumericRule"
        [(ngModel)]="selectedRuleType"
        (onClick)="onRuleTypeChange()"
      />
      <label for="alphaNumericRule" class="ml-2 mt-[10px] text-sm"
        >Alpha Numeric Rule</label
      >
    </div>

    <div class="flex items-center">
      <p-checkbox
    [(ngModel)]="locationSpecific"
    [binary]="true"
    (ngModelChange)="onlocationSpecificEnable($event)"
  ></p-checkbox>
  <label class="ml-2 mt-[10px] text-sm">Location Specific</label>
    </div>
    <br>
  </div>

  <div class="p-2 gap-3 flex" [formGroup]="LocationSpecificName">
    <p-select formControlName = "brand"  optionLabel="name" size="small" placeholder="Select a Brand" class="w-44 " />
    <p-select formControlName = "dealer"  optionLabel="name" size="small" placeholder="Select a Dealer" class="w-44 " />
    <p-select formControlName = "location"  optionLabel="name" size="small" placeholder="Select a Location" class="w-44 " />
  </div>
  <br>


  <div class="flex flex-wrap w-full p-2 gap-5">
    <p-floatlabel variant="on">
      <input type="text" id="rulename" pSize="small" pInputText />
      <label for="rulename" class="text-xs">Name of Rule Name</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input type="text" id="description" pSize="small" pInputText />
      <label for="description" class="text-xs">Description</label>
    </p-floatlabel>
  </div>
  <br />

  <div class="min-w-full !min-h-[100px] flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[50px] flex-col flex-wrap p-2 gap-3 items-stretch border-dashed border-2 bg-gray-50 border-gray-200"
    >
      <h1>Numeric Rule Creation</h1>
      <br />
      <form [formGroup]="NumericRule">
        <div
          class="min-h-auto flex flex-wrap items-center justify-start p-2 gap-2 border bg-gray-50 border-gray-200"
        >
          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="parametersNumeric"
              formControlName="selectedBucket"
              optionValue="value"
              optionLabel="label"
              styleClass="w-44"
            />
            <label for="parameter" class="text-sm">Bucket</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="parametersNumeric"
              formControlName="selectedParameter"
              optionValue="label"
              optionLabel="label"
              styleClass="w-44 text-wrap"
            />
            <label for="parameter" class="text-sm">Parameters</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="operators"
              formControlName="selectedOperator"
              optionValue="value"
              optionLabel="label"
              styleClass="w-44"
            />
            <label for="operator" class="text-sm">List of operators</label>
          </p-floatlabel>

          <input
            type="number"
            formControlName="enteredValue"
            placeholder="Enter Value (Optional)"
            class="p-inputtext !text-sm h-8 w-44"
          />

          <p-button
            label="Add to Rule"
            size="small"
            (click)="appendToRuleNumeric()"
          />
          <p-button
            label="Backspace"
            size="small"
            (click)="removeLastChunk()"
            class="p-button-secondary"
          />
          <p-button
            label="Save"
            size="small"
            (click)="showDialogForfinalCondition()"
            class="p-button-secondary"
          />
        </div>
      </form>

      <br />
      <div>
        <span class="text-black font-bold">Expression:</span>
        <span class="ml-3 text-red-500">{{ expression }}</span>
      </div>

      <!-- second rule window -->
    </div>
  </div>
  <br /><br /><br />
  <div class="min-w-full !min-h-[100px] flex items-center p-2">
    <div
      class="min-w-full min-h-[150px] flex-col flex-wrap p-2 border-dashed border-2 bg-gray-50 border-gray-200"
    >
      <h1>Alpha-Numeric Rule Creation</h1>
      <br />
      <form [formGroup]="AlphaNumericRule">
        <div
          class="min-h-auto flex flex-wrap items-center justify-start p-2 gap-x-2 gap-y-4 border bg-gray-50 border-gray-200"
        >
          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="parametersNumeric"
              formControlName="bucket"
              optionValue="value"
              optionLabel="label"
              styleClass="w-44"
            />
            <label for="parameter" class="text-sm">Bucket</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="parametersNumeric"
              formControlName="parameter"
              optionValue="label"
              optionLabel="label"
              styleClass="w-44"
            />
            <label for="parameter" class="text-sm">Parameters</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="parametersNumeric"
              formControlName="keyword"
              optionValue="label"
              optionLabel="label"
              styleClass="w-44"
            />
            <label for="operator" class="text-sm">Keyword</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              size="small"
              [options]="operators"
              formControlName="operator"
              optionValue="value"
              optionLabel="label"
              styleClass="w-44"
            />
            <label for="operator" class="text-sm">List of operators</label>
          </p-floatlabel>

          <input
            type="number"
            formControlName="enteredValue"
            placeholder="Enter Value (Optional)"
            class="p-inputtext w-44 !text-sm h-8"
          />

          <p-button
            label="Add to Rule"
            size="small"
            (click)="appendToRuleAlphaNumeric()"
          />
          <p-button
            label="Backspace"
            size="small"
            (click)="removeLastAlphaChunk()"
            class="p-button-secondary"
          />
          <p-button
            label="Save"
            size="small"
            (click)="showDialogForfinalCondition()"
            class="p-button-secondary"
          />
        </div>
      </form>

      <br />
      <div>
        <div class="flex flex-wrap gap-2 mt-2">
          Expression:
          <ng-container *ngFor="let chunk of ruleChunks2">
            <p-tag
              *ngIf="chunk.type === 'param'"
              [value]="chunk.value"
              severity="info"
              [rounded]="true"
            ></p-tag>
          </ng-container>
          <span class="ml-1 mt-[2px] text-red-500">
            {{ expression2 }}
          </span>
        </div>

        <!-- Text view for the rest -->
      </div>
      <br />

      <p-dialog
        header="Rule Output Condition"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '40rem', height: '80%' }"
      >
      
        <span class="p-text-secondary block mb-8 text-lg font-semibold"
          >If Success</span
        >
        <div class="flex items-center gap-4 mb-4">
          <label for="success" class="text-sm w-24">Remark for Success</label>
          <p-select
            [options]="ActionList"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Action "
            class="w-full h-8 md:w-48 "
          />

          <input pInputText id="success" pSize="small" class="flex-auto" autocomplete="off" />
        </div>
        <span class="p-text-secondary block mb-8 text-lg font-semibold"
          >If Failure</span
        >

        <div class="flex items-center gap-4 mb-8">
          <label for="faileur" class="text-sm w-24">Remark for Failure</label>
          <p-select
            [options]="ActionList"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Action "
            class="w-full h-8 md:w-48"
          />
          <input
            pInputText
            pSize="small"
            id="faileur"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div class="flex justify-end gap-2">
          <p-button
            label="Cancel"
            size="small"
            severity="secondary"
            (click)="visible = false"
          />
          <p-button label="Save" size="small" (click)="visible = false" />
        </div>
      </p-dialog>

      <!-- second rule window -->
    </div>
  </div>
</div>
