<div class="flex justify-center my-3">
    <div class="h-auto flex w-[95vw]   bg-white">
      <img
        src="sparecare_horizontal_logo.png"
        width="200px"
        height="30px"
        alt=""
      />

      <ul class="flex ml-10 gap-4 items-center justify-center">
        <li class="text-blue-400  font-bold">All</li>
        <li class="text-blue-400  font-bold">Sims</li>
        <li class="text-blue-400  font-bold">Gainer</li>
        <li class="text-blue-400  font-bold">Audit</li>
      </ul>
    </div>
</div>