.card{
    /* box-shadow:  10px 10px 40px #bebebe38,
    -40px -40px 40px #FFFFFF;   */
    /* top: 20vh;  */
    border:none;
    background-color: var(--primary-color);
    margin-left: 2.5rem !important;
}
.btn-view{
    border-radius: 8px;
    background-color: rgb(221, 221, 118);
    padding: 5px;

}

:host ::ng-deep button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined{
  border: none !important;
  outline: none !important;
}


:host ::ng-deep p-button.pb-3{
    display: flex;
    justify-content: center;
}
:host ::ng-deep p-fileupload.mt-2{
    border: none !important;
    outline: none !important;
}

.add-mapping-card{
    border:none;
    /* background-color: antiquewhite; */
    background-color: var(--primary-color);
    border-radius: 6px;
}

:host ::ng-deep .p-select-list-container{
    max-height: 260px !important;
    /* width: 225px !important; */
     width: 160px !important;
    overflow-x:hidden;
}

:host ::ng-deep .disabled {
    /* pointer-events: none; Prevents clicking on the element */
    color: red; /* Optional: Change color to indicate it's disabled */
    /* background-color: darkred; */
    cursor: not-allowed; /* Changes the cursor to indicate it's disabled */
  }

:host ::ng-deep .datepicker-collapse input.p-inputtext.p-component {
    width: 15rem !important;
    padding: 7px !important
}

/* :host ::ng-deep {
    width: 25vw !important;

} */

::ng-deep button.p-ripple.p-paginator-page.ng-star-inserted.p-paginator-page-selected {
    background-color: #007bff7d !important; /* Change background color */
    color: white !important; /* Change text color */
    font-weight: bold !important;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .dropdown{
    width: 10rem;

}
.dropdown-collapse{
    width: 15rem;
}

:host ::ng-deep button.p-ripple.p-button.p-component.p-button-secondary{
    border: none !important;
  outline: none !important;
  background-color: rgb(12 98 182 / 69%) !important;
  color: white !important;
  /* background-color: rgb(0 0 255 / 34%); */
  padding: 3px !important;
  border-radius: 4px !important;
  z-index: auto !important;
  
}

:host ::ng-deep .p-inputtext{
    padding: 5px !important;
    font-size: 12px !important;
  }