
<!-- 
<app-header></app-header>
<div class="container flex flex-row space-x-4">
  <app-sidebar class="w-1/4"></app-sidebar> 
  
  <div class="flex-1">
    <router-outlet></router-outlet> 
  </div>
</div> -->
<!-- <app-header></app-header>  -->

<!-- 
<div class="flex flex-col">

  <div class="flex flex-row flex-1">
    <app-sidebar class="w-1/4"></app-sidebar> 
    
   
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="flex flex-row w-full "> -->
  <!-- w-1/4 added in ngclass of app-sidebar-->
    <!-- <div class="row flex-row">
     <div class="col-2">
      <app-sidebar 
      #sidebar
      
      [ngClass]="{ ' sidebar card bg-gray-50 rounded-lg shadow-sm ': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] fixed"
    ></app-sidebar> 
     </div>
     <div class="col ">
     
        <img src="Background_image.png" alt="Background Image"  class="w-[100vw]  h-[100vh] img-fluid fixed -z-50">
        <div class="d-flex justify-content-center align-items-center">
         
          <router-outlet></router-outlet>
        </div>
        
   
     </div>
  
 

 
 
</div>  -->
<!-- inset-0 img-fluid fixed -z-50  -->

<!-- right code -->
<!-- <img src="Background_image.png" alt="Background Image" class="w-[100vw] h-[100vh]  img-fluid fixed -z-50 "> -->
<!-- <p-blockUI #blockUI [blocked]="blocked" [style]="{ 'z-index': '9999',  'width': '100vw', 'height': '100vh' }" class="" [ngClass]="isLoading?'loader absolute inset-0  bg-opacity-30 -z-50 flex items-center justify-center':''">
  <div class="d-flex !justify-center !align-items-center">
    <i class="bx bx-loader-circle fa-spin custom-icon fa-spinner"></i>
  </div>
 
</p-blockUI> -->




<!-- <div class="w-full h-full flex flex-row">
 
  <div class="w-auto h-auto" *ngIf="!isLoginPage">
    <app-sidebar
      #sidebar
      [ngClass]="{ 'sidebar card bg-gray-50 rounded-lg shadow-sm': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] "
    ></app-sidebar>
  </div>
  <div>
    
    <div class="w-auto h-auto ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->


<!-- <div class="row flex-row">
 
  <div class="col-3" *ngIf="!isLoginPage">
    <app-sidebar
      #sidebar
      [ngClass]="{ 'sidebar card bg-gray-50 rounded-lg shadow-sm': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] fixed"
    ></app-sidebar>
  </div>
  <div class="col-9">
    
    <div class="d-flex  align-items-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="d-flex"> -->
  <!-- Sidebar -->
  <!-- <div
    *ngIf="!isLoginPage"
    [ngClass]="{
      'w-[18%]': visibleSidebar,
      'w-0 overflow-hidden': !visibleSidebar
    }"
    class="transition-all duration-300 h-screen bg-gray-50 shadow fixed"
  >
    <app-sidebar #sidebar></app-sidebar>
  </div> -->

  <!-- Main Content -->
  <!-- <div
    [ngClass]="{
      'ml-[18%]': visibleSidebar,
      'ml-0': !visibleSidebar
    }"
    class="flex-1 transition-all duration-300"
  > -->
    <!-- Toggle Button -->
    <!-- <button
      (click)="toggleSidebar()"
      class="m-2 p-2 bg-blue-500 text-white rounded" [ngClass]="visibleSidebar?'bx bx-menu':'bx bx-right-arrow-alt'"
    >
      
    </button> -->
    <!-- {{ visibleSidebar ? 'Hide Sidebar' : 'Show Sidebar' }} -->
    <!-- Page Content -->
    <!-- <div class="p-4 pt-0 h-full w-full" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="d-flex"> -->
  <!-- Sidebar -->
  <!-- <div
    *ngIf="!isLoginPage"
    [ngClass]="{
      'w-[18%] sm:w-[18%] md:w-[18%] lg:w-[18%] xl:w-[18%]': visibleSidebar,
      'w-0 overflow-hidden': !visibleSidebar
    }"
    class="transition-all duration-300 h-full bg-gray-50 shadow flex-shrink-0"
  >
    <app-sidebar></app-sidebar>
  </div> -->

  <!-- Main Content -->
  <!-- <div
    [ngClass]="{
      'ml-[18%] sm:ml-[24%] md:ml-[24%] lg:ml-[24%] xl:ml-[24%]': visibleSidebar,
      'ml-0': !visibleSidebar
    }"
    class="flex-1 transition-all duration-300"
  > -->
    <!-- Toggle Button -->
    <!-- <button
      (click)="toggleSidebar()"
      class="m-2 p-2 bg-blue-500 text-white rounded" [ngClass]="visibleSidebar?'bx bx-menu':'bx bx-right-arrow-alt'"
    >
      
    </button> -->
    <!-- {{ visibleSidebar ? 'Hide Sidebar' : 'Show Sidebar' }} -->
    <!-- Page Content -->
    <!-- <div class="" [ngClass]="!visibleSidebar?'px-4 pt-0 ':'p-0'" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->










<!-- 
<app-header></app-header>
<div class="container flex flex-row space-x-4">
  <app-sidebar class="w-1/4"></app-sidebar> 
  
  <div class="flex-1">
    <router-outlet></router-outlet> 
  </div>
</div>
<app-header></app-header>  -->

<!-- 
<div class="flex flex-col">

  <div class="flex flex-row flex-1">
    <app-sidebar class="w-1/4"></app-sidebar> 
    
   
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="flex flex-row w-full "> -->
  <!-- w-1/4 added in ngclass of app-sidebar-->
    <!-- <div class="row flex-row">
     <div class="col-2">
      <app-sidebar 
      #sidebar
      
      [ngClass]="{ ' sidebar card bg-gray-50 rounded-lg shadow-sm ': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] fixed"
    ></app-sidebar> 
     </div>
     <div class="col ">
     
        <img src="Background_image.png" alt="Background Image"  class="w-[100vw]  h-[100vh] img-fluid fixed -z-50">
        <div class="d-flex justify-content-center align-items-center">
         
          <router-outlet></router-outlet>
        </div>
        
   
     </div>
  
 

 
 
</div>  -->
<!-- inset-0 img-fluid fixed -z-50  -->
<!-- <img src="Background_image.png" alt="Background Image" class="w-[100vw] h-[100vh]  img-fluid fixed -z-50 "> -->
<p-blockUI #blockUI [blocked]="blocked" [style]="{ 'z-index': '9999',  'width': '100vw', 'height': '100vh' }" class="" [ngClass]="isLoading?'loader absolute inset-0  bg-opacity-30 -z-50 flex items-center justify-center':''">
  <div class="d-flex !justify-center !align-items-center">
    <i class="bx bx-loader-circle fa-spin custom-icon fa-spinner"></i>
  </div>
 
</p-blockUI>
<!-- <div class="w-full h-full flex flex-row">
 
  <div class="w-auto h-auto" *ngIf="!isLoginPage">
    <app-sidebar
      #sidebar
      [ngClass]="{ 'sidebar card bg-gray-50 rounded-lg shadow-sm': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] "
    ></app-sidebar>
  </div>
  <div>
    
    <div class="w-auto h-auto ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->


<!-- <div class="row flex-row">
 
  <div class="col-3" *ngIf="!isLoginPage">
    <app-sidebar
      #sidebar
      [ngClass]="{ 'sidebar card bg-gray-50 rounded-lg shadow-sm': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] fixed"
    ></app-sidebar>
  </div>
  <div class="col-9">
    
    <div class="d-flex  align-items-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <div
    *ngIf="!isLoginPage"
    [ngClass]="{
      'w-[20%]': visibleSidebar,
      'w-0 overflow-hidden': !visibleSidebar
    }"
    class="transition-all duration-300 h-full bg-gray-50 shadow flex-shrink-0"
  >
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="flex-1 transition-all duration-300 overflow-y-auto overflow-x-hidden relative bg-gray-100">
    <!-- Overlay Button -->
    <button *ngIf="!isLoginPage"
      (click)="toggleSidebar()"
      class="ml-2 mt-2 absolute top-4 left-4 z-50 p-2 bg-blue-500 text-white rounded"
      [ngClass]="visibleSidebar ? 'bx bx-menu' : 'bx bx-right-arrow-alt'"
    ></button>
    
    <!-- Main Content -->
    <router-outlet></router-outlet>
  </div>
</div>












