:host ::ng-deep button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button !important;
    /* background-color: green; */
    background-image: none;
    border-radius: 4px;
    padding: 4px;
}
:host ::ng-deep .p-paginator {
  z-index: 1 !important;
}

 :host ::ng-deep .p-dropdown-clear-icon {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

 :host ::ng-deep timesicon.p-component.p-iconwrapper.p-select-clear-icon.ng-star-inserted {
    top: 60%;
    left: 60%
}