<p-toast></p-toast>
<p-toast key="upload-error" position="top-center"></p-toast>
<div class="body mt-2 ml-10">
    <!-- <span class="text-black text-2xl ">Single Stock Upload</span>    -->
                <div class="d-flex">
                    <form [formGroup]="slForm">
                        <div class="d-flex justify-end">
                          <!-- <i class='bx bx-export mb-2 f-20 bx-rotate-180' [ngClass]="isDataPresentForPartNotInMaster?'cursor-pointer':'disabled'" pTooltip="Part Not In Master Export" (click)="exportToExcel()"></i> -->
                            <!-- <span class="btn-view  mb-2" [ngClass]="isDataPresentForPartNotInMaster?'cursor-pointer':'disabled'"(click)="exportToExcel()" >Part Not In Master Export</span> -->
                            <!-- <i  class="bx bx-export cursor-pointer font-semibold mb-2" style="font-size: 20px;" (click)="exportToExcel()"  ></i> -->
                        </div>
                    <div class=" add-mapping-card   h-auto !p-3 d-flex" [ngClass]="visibleSidebar?'w-[74vw] ':'w-[90vw]'">
                       <div class="!flex !flex-row !gap-6  !items-center">

                      
                        <div>

                            <p-select
                              [options]="brands"
                              formControlName="brand"
                              optionLabel="brand"
                              optionValue="brand_id"
                              placeholder="Select Brand"
                              class=""
                              [filter]="true" 
                          filterPlaceholder="Search Brand..."
                              [ngClass]="visibleSidebar?'dropdown':'dropdown-collapse'"
                              (onChange)="onBrandChange($event)"
                              
                            />
                            <div class=" d-flex mt-1" *ngIf="slForm.get('brand')?.touched && slForm?.get('brand')?.invalid " >
                                <small *ngIf="slForm?.get('brand')?.hasError('required')" style="color: red; font-size: 12px;">Brand is required.</small> 
                            </div>
                        </div>
                        <div>

                            <p-select
                              [options]="dealers"
                              formControlName="dealer"
                              optionLabel="dealer_name"
                              optionValue="dealer_id"
                              placeholder="Select Dealer"
                              [filter]="true" 
                          filterPlaceholder="Search Dealer..."
                              [ngClass]="visibleSidebar?'dropdown':'dropdown-collapse'"
                              (onChange)="onDealerChange($event)"
                              
                            />
                            <div class=" d-flex mt-1" *ngIf="slForm.get('dealer')?.touched && slForm?.get('dealer')?.invalid " >
                                <small *ngIf="slForm?.get('dealer')?.hasError('required')" style="color: red; font-size: 12px;">Dealer is required.</small> 
                            </div>
                        </div>
                            <div>

                                <p-select
                                  [options]="locations"
                                  formControlName="location"
                                  optionLabel="location_name"
                                  optionValue="location_id"
                                  placeholder="Select Location"
                                  [ngClass]="visibleSidebar?'dropdown':'dropdown-collapse'"
                                  [filter]="true" 
                          filterPlaceholder="Search Location..."
                                  (onChange)="onLocationChange($event)"
                                  
                                />
                                <div class=" d-flex mt-1" *ngIf="slForm.get('location')?.touched && slForm?.get('location')?.invalid " >
                                    <small *ngIf="slForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
                                </div>
                            </div>
                            <div>
                                <p-datepicker formControlName="date" [minDate]="min" [maxDate]="max"  placeholder="Select Date"  [ngClass]="visibleSidebar?'dropdown':'dropdown-collapse'" /> 
                                <div class=" d-flex mt-1" *ngIf="slForm.get('date')?.touched && slForm?.get('date')?.invalid " >
                                  <small *ngIf="slForm?.get('date')?.hasError('required')" style="color: red; font-size: 12px;">Date is required.</small> 
                              </div>
                              </div>
                        </div>

                            <div class="!flex  !flex-row gap-6 !items-center ms-5" [ngClass]="visibleSidebar?'':''">
                               
                                <div>
                                    <p-fileupload #fu [customUpload]="true"  [showUploadButton]="false" 
                                    [showCancelButton]="false" class="upload-icon-only !line-clamp-3"  chooseLabel=" "  chooseIcon="pi pi-upload" name="demo[]"
                                    [auto]="false" accept=".xlsx,.csv,.xls" (onSelect)="onSelect($event)"  [multiple]="false" >
          
                                    <!-- Truncated file name with tooltip -->
                        <ng-template let-file pTemplate="file">
                          <div class="truncate-file-name" [title]="file.name">
                            {{ file.name.length > 10 ? (file.name | slice: 0: 10) + '...' : file.name }}
                          </div>
                        </ng-template>
                        </p-fileupload>
                                    <div class=" d-flex mt-1" *ngIf="slForm.get('file')?.touched && slForm?.get('file')?.invalid " >
                                      <small *ngIf="slForm?.get('file')?.hasError('required')" style="color: red; font-size: 12px;">File is required.</small> 
                                  </div>
                                </div>
                              
                                 
                                  <p-button label="Submit" class="" (onClick)="onUpload()" severity="secondary" class="" />
                                  <!-- <p-button label="Get Uploaded Data" class="" [disabled]="!isDataPresent" (onClick)="exportUploadedData()" severity="secondary" class="" /> -->
                                  <!-- <i class='bx bx-export f-20 d-flex align-items-center bx-rotate-180 ms-3' [ngClass]="isDataPresent?'':'disabled'" pTooltip="Get Uploaded Data"    (click)="exportUploadedData()" severity="secondary" ></i> -->
                                </div>
                     
                    </div>
                </form>
                </div>
            </div>
            <div
            class="card   h-auto  p-3 bg-gray-50 rounded-lg shadow-lg mb-5  mt-4 " [ngClass]="visibleSidebar?'w-[74vw]':'w-[90vw]'"
            *ngIf="showTable"
            >
            <!-- <div class="d-flex justify-end">
              <i class="bx bx-export font-bold mb-3 cursor-pointer" style="font-size: 18px;" (click)="exportTableData()"></i>
            </div> -->
            <div class="d-flex justify-between">
              <span class="text-black text-lg ">TOC Upload History</span>
              <i class="bx bx-export font-bold mb-3 cursor-pointer bx-rotate-180" style="font-size: 18px;" (click)="exportTableData()"></i>
            </div>
            <p-table #dataTable
              [scrollable]="true"
              scrollHeight="400px"
              [value]="records"
              styleClass="mt-4"
              [paginator]="true"
              [rows]="10"
              [rowsPerPageOptions]="[10,20, 30, 40, 50, 100]"
              [showGridlines]="true"
              [scrollHeight]="'400px'"
              [scrollable]="true"
              class="bg-white  !rounded-lg border border-gray-200 shadow-md"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
              <ng-template #header let-item>
                <tr>
                  <th style="font-size: 13px;" >Brand </th>
                  <th style="font-size: 13px;">Dealer</th>
                  <th style="font-size: 13px;" >Location</th>
                  <th style="font-size: 13px;" pSortableColumn="prevStockUploadCount">
                    Previous Records <p-sortIcon field="prevStockUploadCount"></p-sortIcon>
                  </th>
                 
                  <th style="font-size: 13px;" pSortableColumn="stockUploadCount">
                    Current Records <p-sortIcon field="stockUploadCount"></p-sortIcon>
                   
                  </th>
                  <th style="font-size: 13px;" pSortableColumn="prevQuantitySum">
                   Previous Quantity Sum  <p-sortIcon field="prevQuantitySum"></p-sortIcon>
                  </th>
                  
                  <th style="font-size: 13px;" pSortableColumn="quantitySum">Current Quantity Sum <p-sortIcon field="quantitySum"></p-sortIcon></th>
                    <!-- <th style="font-size: 13px;" pSortableColumn="operationType">
                   Operation Type  <p-sortIcon field="operationType"></p-sortIcon>
                  </th> -->
                   <th style="font-size: 13px;" pSortableColumn="stockDate">
                   TOC Date  <p-sortIcon field="stockDate"></p-sortIcon>
                  </th>
                  <th style="font-size: 13px;" pSortableColumn="added_on"> 
                     Added On <p-sortIcon field="added_on"></p-sortIcon>
                   </th>
                   <th style="font-size: 13px;" pSortableColumn="addedBy">Added By <p-sortIcon field="addedBy"></p-sortIcon></th>
                  
                </tr>
              </ng-template>
              <ng-template #body let-rowData let-i="rowIndex">
                <tr>
                    <td  style="font-size: 11px;">
                        {{rowData.brandName}}
                    </td>
                    <td  style="font-size: 11px;"> {{rowData.dealerName}}</td>
                  <td style="font-size: 11px;">{{locationName}}</td>
                 
                  <td style="font-size: 11px;">
                      {{rowData.prevRecordsCount !=null? rowData.prevRecordsCount:0}}
                  </td>
                  <td style="font-size: 11px;">
                      {{rowData.currentRecordsCount !=null ?rowData.currentRecordsCount:0}}
                     
                  </td>
             
                  <td style="font-size: 11px;">
                     {{rowData.prevSumQuantity !=null ?rowData.prevSumQuantity:0}}
                  </td>
                 <td style="font-size: 11px;">
                    {{rowData.currentSumQuantity !=null ?rowData.currentSumQuantity:0}}
                 </td>
                  <!-- <td style="font-size: 11px;">
                    {{rowData.operationType}}
                 </td> -->
                  <td style="font-size: 11px;">
                    {{ rowData.tocDate ? (rowData.tocDate | date: 'dd-MM-yyyy') : '-' }}
                 </td>
                 <td style="font-size: 11px;">
                    {{formatDate(rowData.added_on)}}
                 </td>
                 <td style="font-size: 11px;">
                    {{rowData.addedBy}}
                 </td>
                 
                </tr>
              </ng-template>
            </p-table>
          </div>

          <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
            <ng-template #header>
              <div class="inline-flex items-center justify-center gap-2">
                <span class="font-bold whitespace-nowrap"></span>
              </div>
            </ng-template>
           
          </p-dialog> 