

<div class="text-4xl">
  Hellow world
</div>
<p-toast position="top-center"></p-toast>
<!-- <p-blockUI [blocked]="isLoading">  -->
  <!-- <p-progress-spinner 
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".5s" />  -->
     <!-- <i class='bx bx-loader-circle fa-spin custom-icon fa-spinner'></i>
</p-blockUI> -->
 <!-- <div>
  <img
  src="Background_image.png"
  alt="Background"
  class=" w-full h-full object-cover -z-10 fixed"
/>
<div>
<app-header></app-header>
</div> -->


<!-- </div> -->
<div class="body d-flex ">   
  <!-- <div>
    <app-sidebar></app-sidebar>
  </div> -->
  <!-- *ngIf="userPermissions.length>0 && !userPermissions?.edit1 && userPermissions?.add1 && !userPermissions?.view1 && !userPermissions?.delete1" -->
  <div class="d-flex justify-center h-[80vh] w-full align-items-center" *ngIf="userPermissions.length>0 && !userPermissions?.edit1 && userPermissions?.add1 && !userPermissions?.view1 && !userPermissions?.delete1" >
 <h2>You do not have the access for User Management</h2>  
 </div>  
  
    <div class=" mx-5 overflow-hidden" *ngIf="userPermissions?.view1">
   
      <div class="d-flex justify-between " >
        <!-- *ngIf="userPermissions?.view1" -->
        <!-- <div class="mb-3" >
            <span class="font-bold f-18" >View Users</span>

        </div> -->
        <div class="mb-3 flex flex-wrap gap-4">
    <div class="flex items-center ">
        <p-radiobutton name="Admin" value="A" [(ngModel)]="userType" (ngModelChange)="viewUser($event)" inputId="admin" />
        <label for="admin" class="ml-2 f-12 d-flex align-items-center mb-0">Admin</label>
    </div>

    <div class="flex items-center">
        <p-radiobutton name="User" value="D" [(ngModel)]="userType" inputId="dealer" (ngModelChange)="viewUser($event)" />
        <label for="dealer" class="ml-2 f-12 d-flex align-items-center mb-0">User</label>
    </div>
    <div  *ngIf="userType=='D'" class="d-flex flex-row">

     <div class="col p-2 d-flex flex-column" >
              <span class="font-semibold">Brand</span>
               <p-select   
                [options]="brands" 
                optionLabel="brand" 
                optionValue="brand_id"
                class="dropdown"
                [filter]="true"
                 appendTo="self"
                [(ngModel)]="selectedBrandId"
                filterPlaceholder="Select Brand.."
                 (ngModelChange)="onBrandChange($event,'model')"
                placeholder="Select Brand" />
                <!-- <input type="text" pInputText formControlName="brand" *ngIf="actionName!='Add User'"  /> -->
              <!-- Show error message only if the field is touched and invalid -->
            </div>
             <div class="col p-2 d-flex flex-column" >
              <span class="font-semibold">Dealer</span>
               <p-select 
                [options]="dealers" 
                optionLabel="dealer_name" 
                optionValue="dealer_id"
                [filter]="true"
                class="dropdown"
                  appendTo="self"
                 [(ngModel)]="selectedDealerId"
                filterPlaceholder="Select Dealer"
                (ngModelChange)="onDealerChange($event,'model')"
                placeholder="Select Dealer" >
                 <ng-template let-option pTemplate="item">
    <div class="truncate-text" [title]="option.dealer_name">
      {{ option.dealer_name }}
    </div>
    </ng-template>
              </p-select>
              <!-- Show error message only if the field is touched and invalid -->
                <!-- <input type="text" pInputText formControlName="dealer" *ngIf="actionName!='Add User'"  /> -->
              
            </div>

             <div class="col p-2 d-flex flex-column" >
              <span class="font-semibold">Location</span>
               <p-select 
                [options]="locations" 
                optionLabel="location_name" 
                optionValue="location_id"
                 appendTo="self"
                 class="dropdown"
                [(ngModel)]="selectedLocationId"
                 [filter]="true"
                filterPlaceholder="Select Location"
                (ngModelChange)="locationSelection()"
                [showClear]="true"
                placeholder="Select Location" />
                 <!-- <input type="text" pInputText formControlName="location" *ngIf="actionName!='Add User'"  /> -->
              <!-- Show error message only if the field is touched and invalid -->
             
            </div>
            <div class="col-3 p-2 d-flex flex-column">
              <span class="font-semibold">Designation</span>
              
              <p-select 
                [options]="designations" 
                optionLabel="designation_name" 
               appendTo="self"
               class="designation-dropdown"
               [(ngModel)]="selectedDesignationId"
               (onChange)="onDesignationChange()"
                 [filter]="true"
                 [showClear]="true"
                filterPlaceholder="Select Designation"
                optionValue="id"
                placeholder="Select Designation"
                >
              <ng-template let-option pTemplate="item">
    <div class="truncate-text" [title]="option.designation_name">
      {{ option.designation_name }}
    </div>
  </ng-template></p-select>
              <!-- Show error message only if the field is touched and invalid -->
              
            </div>
            <div class="custom-input-wrapper mb-2 mt-2" style="width: 100%;">
    <i class="pi pi-search"></i>
   <input 
      pInputText 
      type="text" 
      [(ngModel)]="globalFilterValue"
      (input)="onGlobalFilter($event)" 
      placeholder="Global Search" 
      class="w-full custom-input"
    />
  </div>
        </div>
        </div>
        <div class="d-flex">
            <!-- *ngIf="userPermissions?.add1" in i tag -->
          <i class="pi pi-user cursor-pointer me-3"  style="font-size: 1.5rem !important;font-weight:bold " *ngIf="userPermissions?.add1" (click)="showDialog('Add User')"></i>
          <!-- *ngIf="userPermissions?.view1" in i tag -->
          <i class='bx bx-export cursor-pointer' style="font-size: 1.5rem;font-weight:bold" *ngIf="userPermissions?.view1" (click)="exportToExcel()" ></i>
          
        </div>
      </div >
      <!-- [tableStyle]="{ 'min-width': '40rem' }" -->
      <!-- *ngIf="userPermissions?.view1"  bg-[#FDF5E6] -->
       <div class="card h-auto flex flex-col justify-start  rounded-lg " *ngIf="userPermissions?.view1" [ngClass]="isSidebarVisible?'w-[80vw] h-auto md:w-[72vw]':'w-[90vw]'" >
         <p-table  #table
         [value]="users" 
         [paginator]="true"
         [globalFilterFields]="['name', 'designationName', 'roleName','associatedBusiness','emailId','mobileNo']"
         [rows]="100"
         [rowsPerPageOptions]="[100,200, 300, 400, 500, 600,700,800,900,1000]"
         styleClass="p-datatable-gridlines" 
          dataKey="code"
          class="w-full !rounded-lg-border border-gray-200 shadow-md h-[75vh]"  
          responsiveLayout="scroll"
          [scrollHeight]="'68vh'"
           [scrollable]="true"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          
         >
             <ng-template pTemplate="header" >
                 <tr>
                     <th>Name <p-columnFilter
                    class="table-input"
                    field="name"
                    display="menu"
                  ></p-columnFilter></th>
                   <th class="min-w-10rem" *ngIf="userType=='D'">Location <p-columnFilter
                    class="table-input"
                    field="location"
                   display="menu"
                  ></p-columnFilter></th>
                     <th class="min-w-10rem">Designation <p-columnFilter
                    class="table-input"
                    field="designationName"
                   display="menu"
                  ></p-columnFilter></th>
                  
                     <th class="min-w-8rem">Role  <p-columnFilter
                    class="table-input"
                    field="roleName"
                    display="menu"
                  ></p-columnFilter></th>
                     <th class=" whitespace-normal min-w-13rem">Associated Business  <p-columnFilter
                    class="table-input"
                    field="associatedBusiness"
                    display="menu"
                  ></p-columnFilter></th>
                     <th>Email  <p-columnFilter
                    class="table-input"
                    field="emailId"
                   display="menu"
                  ></p-columnFilter></th>
                     <th>Mobile  <p-columnFilter
                    class="table-input"
                    field="mobileNo"
                   display="menu"
                  ></p-columnFilter></th>
                     <th *ngIf="this.userPermissions?.edit1">Action</th>
                     <th *ngIf="this.userPermissions?.delete1">Status</th>
                     <!-- <th >Action</th>
                     <th >Status</th> -->
                 </tr>
             </ng-template>
             <ng-template pTemplate="body" let-product>
                 <tr>
                     <td class="break-words whitespace-normal max-w-10rem">{{ product.name }}</td>
                     <td class="break-words whitespace-normal max-w-10rem" *ngIf="userType=='D'">{{ product.location[0].location_name }}</td>
                     <td class="break-words whitespace-normal max-w-10rem">{{ product.designationName }}</td>
                     <td class="break-words whitespace-normal max-w-10rem">{{product.roleName}}</td>
                     <td class="break-words whitespace-normal max-w-10rem">{{ product.associatedBusiness }}</td>
                     <td class="break-words whitespace-normal max-w-10rem">{{ product.emailId }}</td>
                     <td>{{ product.mobileNo }}</td>
                     <td class="text-center" *ngIf="this.userPermissions?.edit1" ><i class='bx bx-edit cursor-pointer' (click)="showDialog('Edit User',product)"></i></td>
                     <td class="p-2" *ngIf="this.userPermissions?.delete1"><p-toggleswitch [ngModel]="setToggleState(product)" 
                      (ngModelChange)="onStatusChange(product,product.status)"> ></p-toggleswitch></td>
                       </tr>
                     <!-- <td class="text-center"  ><i class='bx bx-edit cursor-pointer' (click)="showDialog('Edit User',product)"></i></td> -->
                     <!-- <td class="p-2" > -->
                     
                <!-- <p-toggleswitch [ngModel]="setToggleState(product)" 
                (ngModelChange)="onStatusChange(product,product.status)"> ></p-toggleswitch></td>
                 </tr> -->
             </ng-template>
     </p-table>

       </div>
    </div>
</div>



<p-dialog [header]="actionName" [modal]="true" [(visible)]="visible" [style]="{ width: '50vw' ,height:'100vh' }" class="header edit-add-user">
  <form [formGroup]="editUserForm">
    <div class="card1">
      <div class="row">
        <div class="col-12">
          <div class="row">
             <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">User Type</span>
              <p-select 
                [options]="userTypes" 
                formControlName="userType"
                optionLabel="name" 
                optionValue="value"
                appendTo="body"
                placeholder="Select User Type" />
              <div *ngIf="editUserForm.get('userType')?.touched && editUserForm.get('userType')?.invalid">
                <small *ngIf="editUserForm.get('userType')?.hasError('required')" style="color: red; font-size: 12px;">User Type is required.</small>
              </div>
            </div>

             <div class="col-6 p-2 d-flex flex-column" *ngIf="showBDL">
              <span class="font-semibold">Brand</span>
               <p-select  
                [options]="brands" 
                formControlName="brand"
                optionLabel="brand" 
                optionValue="brand_id"
                [filter]="true"
                appendTo="body"
                filterPlaceholder="Select Brand.."
                 (onChange)="onBrandChange($event)"

                placeholder="Select Brand" />
                <!-- <input type="text" pInputText formControlName="brand" *ngIf="actionName!='Add User'"  /> -->
              <!-- Show error message only if the field is touched and invalid -->
              <div *ngIf="editUserForm.get('brand')?.touched && editUserForm.get('brand')?.invalid">
                <small *ngIf="editUserForm.get('brand')?.hasError('required')" style="color: red; font-size: 12px;">Brand is required.</small>
              </div>
            </div>
             <div class="col-6 p-2 d-flex flex-column" *ngIf="showBDL">
              <span class="font-semibold">Dealer</span>
               <p-select 
                [options]="dealers" 
                formControlName="dealer"
                optionLabel="dealer_name" 
                optionValue="dealer_id"
                [filter]="true"
                appendTo="body"
                filterPlaceholder="Select Dealer"
                (onChange)="onDealerChange($event)"
                placeholder="Select Dealer" />
              <!-- Show error message only if the field is touched and invalid -->
                <!-- <input type="text" pInputText formControlName="dealer" *ngIf="actionName!='Add User'"  /> -->
              <div *ngIf="editUserForm.get('dealer')?.touched && editUserForm.get('dealer')?.invalid">
                <small *ngIf="editUserForm.get('dealer')?.hasError('required')" style="color: red; font-size: 12px;">Dealer is required.</small>
              </div>
            </div>

             <div class="col-6 p-2 d-flex flex-column" *ngIf="showBDL">
              <span class="font-semibold">Location</span>
               <!-- <p-select *ngIf="actionName=='Edit User'"
                [options]="locations" 
                formControlName="location"
                optionLabel="location_name" 
                optionValue="location_id"
               appendTo="body"
                placeholder="Select Location" /> -->

                <p-multiSelect 
  [options]="locations" 
  formControlName="location"
  optionLabel="location_name" 
  optionValue="location_id"
  appendTo="body"
  placeholder="Select Location">
</p-multiSelect>
                 <!-- <input type="text" pInputText formControlName="location" *ngIf="actionName!='Add User'"  /> -->
              <!-- Show error message only if the field is touched and invalid -->
              <div *ngIf="editUserForm.get('location')?.touched && editUserForm.get('location')?.invalid">
                <small *ngIf="editUserForm.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small>
              </div>
            </div>
            <!-- Name Field -->
            <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">First Name</span>
              <input type="text" pInputText formControlName="name" placeholder="Enter First Name" />
              <!-- Show error message only if the field is touched and invalid -->
              <div *ngIf="editUserForm.get('name')?.touched && editUserForm.get('name')?.invalid">
                <small *ngIf="editUserForm.get('name')?.hasError('required')" style="color: red; font-size: 12px;">First Name is required.</small>
              </div>
               <small *ngIf="editUserForm.get('name')?.hasError('whitespace') && editUserForm.get('name')?.touched" class="text-red-500">
      First Name cannot be empty or just spaces
               </small>
            </div>
            
          

            <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">Last Name</span>
              <input type="text" pInputText formControlName="lastName" placeholder="Enter Last Name" />
              <!-- Show error message only if the field is touched and invalid -->
              <div *ngIf="editUserForm.get('lastName')?.touched && editUserForm.get('lastName')?.invalid">
                <small *ngIf="editUserForm.get('lastName')?.hasError('required')" style="color: red; font-size: 12px;">Last Name is required.</small>
              </div>
                <small *ngIf="editUserForm.get('lastName')?.hasError('whitespace') && editUserForm.get('lastName')?.touched" class="text-red-500">
  Last Name cannot be empty or just spaces
               </small>
            </div>
            <!-- Designation Field -->
            <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">Designation</span>
              <p-select 
                [options]="designations" 
                appendTo="body"
                formControlName="designation"
                optionLabel="designation_name" 
                optionValue="id"
                placeholder="Enter Designation" />
              <!-- Show error message only if the field is touched and invalid -->
              <div *ngIf="editUserForm.get('designation')?.touched && editUserForm.get('designation')?.invalid">
                <small *ngIf="editUserForm.get('designation')?.hasError('required')" style="color: red; font-size: 12px;">Designation is required.</small>
              </div>
            </div>
          <!-- </div> -->
          

          <!-- <div class="row"> -->
            <!-- Role Field -->
            <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">Role</span>
              <p-select
                [options]="roles" 
                formControlName="role"
                optionLabel="role_name"
                appendTo="body"
                optionValue="id" 
                placeholder="Enter Role" />
              <div *ngIf="editUserForm.get('role')?.touched && editUserForm.get('role')?.invalid">
                <small *ngIf="editUserForm.get('role')?.hasError('required')" style="color: red; font-size: 12px;">Role is required.</small>
              </div>
              
            </div>
            <!-- Email Field -->
            <div class="col-6 p-2">
              <span class="font-semibold">Email ID</span>
              <input type="text" pInputText formControlName="email" placeholder="Enter Email" (input)="checkEmailAvailability()" />
              <div *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.invalid">
                <small *ngIf="editUserForm.get('email')?.hasError('required')" style="color: red; font-size: 12px;">Email is required.</small>
                <small *ngIf="editUserForm.get('email')?.hasError('email')" style="color: red; font-size: 12px;">Email is invalid.</small>
              </div>
              <div>
                <small style="color: red; font-size: 12px;">{{showErrorMessage}}</small>
              </div>
            </div>
          <!-- </div> -->

          <!-- <div class="row"> -->
            <!-- Mobile Number Field -->
            <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">Mobile No</span>
              <input type="text" pInputText formControlName="mobileNo" placeholder="Enter Mobile Number" />
              <div *ngIf="editUserForm.get('mobileNo')?.touched && editUserForm.get('mobileNo')?.invalid">
                <small *ngIf="editUserForm.get('mobileNo')?.hasError('required')" style="color: red; font-size: 12px;">Mobile No is required.</small>
                <small *ngIf="editUserForm.get('mobileNo')?.hasError('pattern')" style="color: red; font-size: 12px;">Mobile No is invalid.</small>
              </div>
            </div>

            <!-- Associated Business Field -->
            <div class="col-6 p-2">
              <span class="font-semibold">Associated Business</span>
              <p-select 
                [options]="associatedBusinesses" 
                formControlName="associatedBusiness"
                optionLabel="business_vertical" 
                optionValue="id"
                appendTo="body"
                placeholder="Enter Associated Business"
                class="businessVertical-dropdown" />
              <div *ngIf="editUserForm.get('associatedBusiness')?.touched && editUserForm.get('associatedBusiness')?.invalid">
                <small *ngIf="editUserForm.get('associatedBusiness')?.hasError('required')" style="color: red; font-size: 12px;">Associated Business is required.</small>
              </div>
            </div>
          <!-- </div> -->

          <!-- <div class="row"> -->
            <!-- Status Field -->
            <div class="col-6 p-2 d-flex flex-column">
              <span class="font-semibold">Status</span>
              <p-select 
                [options]="statuses" 
                formControlName="status"
                optionLabel="name" 
                appendTo="body"
                optionValue="name"
                placeholder="Enter Status" />
              <div *ngIf="editUserForm.get('status')?.touched && editUserForm.get('status')?.invalid">
                <small *ngIf="editUserForm.get('status')?.hasError('required')" style="color: red; font-size: 12px;">Status is required.</small>
              </div>
            </div>

           
          </div>
          
          </div>
        </div>
      </div>
    <!-- </div> -->

    <div class="div-btn" [ngClass]="showBDL?'mt-[110px]':'mt-[35px]'">
      <p-button label="Cancel" class="btn text-white mr-5" (click)="visible = false"></p-button>
      <p-button label="Submit" class="btn text-white" (click)="submit()"></p-button>
    </div>
  </form>
</p-dialog>


<!-- Trigger Button -->



