<div class="min-w-full h-full bg-gray-100">
  <h1 class="text-xl font-serif ml-2">Stock Order Request</h1>

  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap flex-col p-2 gap-3 shadow-lg border-dashed border-2 bg-white rounded-md border-white"
    >
      <p-tabs value="0">
        <p-tablist>
          <p-tab class="text-xs" value="0">WorkShop Sale</p-tab>
          <p-tab class="text-xs" value="1">Counter Sale</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">

            <p-floatlabel variant="on">
                <p-select
                  [checkmark]="true"
                  optionLabel="name"
                  [showClear]="true"
                  size="small"
                  class="w-44"
                />
                <label for="parameters" class="text-xs">Order Type</label>
              </p-floatlabel>
              <br>
            <div class="flex justify-start bg-white">
              <p class="text-md font-medium">Add Part Wise</p>
            </div>
            <br />

            <div class="flex flex-wrap gap-3" [formGroup]="AddPartWise">
              <div class="flex items-center gap-2">
                <label for="partnumber" class="text-sm mt-1 font-medium"
                  >Part Number :</label
                >
                <input
                  type="text"
                  id="partnumber"
                  formControlName="PartNumber"
                  placeholder="Enter Part Number"
                  [pSize]="'small'"
                  pInputText
                  class="w-44 h-8"
                />
              </div>
              <div class="flex items-center gap-2">
                <label for="qty" class="text-sm mt-1 font-medium"
                  >Quantity :</label
                >
                <input
                  type="text"
                  id="qty"
                  formControlName="Quantity"
                  placeholder="Enter Quantity"
                  [pSize]="'small'"
                  pInputText
                />
              </div>
              <div class="flex items-center gap-2">
                <label for="remark" class="text-sm mt-1 font-medium"
                  >Remark :</label
                >
                <input
                  type="text"
                  id="remark"
                  formControlName="Remark"
                  placeholder="Enter Remark"
                  [pSize]="'small'"
                  pInputText
                />
              </div>
              <p-button
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                icon="pi pi-plus"
                aria-label="Save"
              />
            </div>
            <br />
            <p-divider />

            <p class="text-md">Bulk Order Upload</p>
            <div
              class="w-full max-w-full flex gap-5 flex-wrap items-center bg-gray-100 p-3 font-medium"
            >
              <p-button
                size="small"
                icon="pi pi-download"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                (onClick)="SampleExcelDownload()"
                iconPos="right"
                class="text-xs"
              />
              <p-fileupload
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                [multiple]="true"
                accept="xlxs/*"
                class="text-xs"
                [maxFileSize]="1000000"
                mode="advanced"
                chooseLabel="Choose"
                [chooseStyleClass]="
                  'w-[84px] background-color: #008080, color: #fff h-[30px] !text-[12px]'
                "
                uploadLabel="Upload"
                cancelLabel="Cancel"
                styleClass="w-auto"
              >
                <ng-template #empty>
                  <div class="text-gray-500 text-sm">
                    Drag and drop files here to upload.
                  </div>
                </ng-template>
              </p-fileupload>
            </div>
            <br />

            <div class="flex gap-2">
              <p-button
                label="Reset"
                size="small"
                icon="pi pi-undo"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                iconPos="right"
              />
              <p-button
                label="Save"
                size="small"
                (onClick)="OnClickAdd()"
                icon="pi pi-check"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                iconPos="right"
              />
            </div>
          </p-tabpanel>
          <p-tabpanel value="1">
            <div class="flex gap-4 mb-4">
              <p-floatlabel variant="on">
                <p-select
                  [checkmark]="true"
                  optionLabel="name"
                  [showClear]="true"
                  size="small"
                  class="w-44"
                />
                <label for="parameters" class="text-xs">Order Type</label>
              </p-floatlabel>

              <p-floatlabel variant="on">
                <p-select
                  [checkmark]="true"
                  optionLabel="name"
                  [showClear]="true"
                  size="small"
                  class="w-44"
                />
                <label for="parameters" class="text-xs">Party Name</label>
              </p-floatlabel>
              <p-floatlabel variant="on">
                <p-select
                  [checkmark]="true"
                  optionLabel="name"
                  [showClear]="true"
                  size="small"
                  class="w-44"
                />
                <label for="parameters" class="text-xs">Party Code</label>
              </p-floatlabel>

              <p-button
                size="small"
                icon="pi pi-download"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                (onClick)="SampleExcelDownload()"
                iconPos="right"
                class="text-xs"
              />
              <p-fileupload
                #fu
                mode="basic"
                chooseLabel="Choose"
                [chooseStyleClass]="
                  'w-[84px] background-color: #008080, color: #fff h-[30px] !text-[12px]'
                "
                chooseIcon="pi pi-upload"
                accept="image/*"
                maxFileSize="1000000"
              />
              <p-button
                label="Upload"
                size="small"
                (onClick)="fu.upload()"
                severity="secondary"
              />
            </div>

            <div class="flex justify-start bg-white mb-3">
              <p class="text-md font-medium">Add Part Wise</p>
            </div>
            

            <div class="flex flex-wrap gap-3" [formGroup]="AddPartWise">
              <div class="flex items-center gap-2">
                <label for="partnumber" class="text-sm mt-1 font-medium"
                  >Part Number :</label
                >
                <input
                  type="text"
                  id="partnumber"
                  formControlName="PartNumber"
                  placeholder="Enter Part Number"
                  [pSize]="'small'"
                  pInputText
                  class="w-44 h-8"
                />
              </div>
              <div class="flex items-center gap-2">
                <label for="qty" class="text-sm mt-1 font-medium"
                  >Quantity :</label
                >
                <input
                  type="text"
                  id="qty"
                  formControlName="Quantity"
                  placeholder="Enter Quantity"
                  [pSize]="'small'"
                  pInputText
                />
              </div>
              <div class="flex items-center gap-2">
                <label for="remark" class="text-sm mt-1 font-medium"
                  >Remark :</label
                >
                <input
                  type="text"
                  id="remark"
                  formControlName="Remark"
                  placeholder="Enter Remark"
                  [pSize]="'small'"
                  pInputText
                />
              </div>
              <p-button
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                icon="pi pi-plus"
                aria-label="Save"
              />
            </div>

            <p-divider />

            <p class="text-md">Bulk Order Upload</p>
            <div
              class="w-full max-w-full flex gap-5 flex-wrap items-center bg-gray-100 p-3 font-medium"
            >
              <p-button
                size="small"
                icon="pi pi-download"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                (onClick)="SampleExcelDownload()"
                iconPos="right"
                class="text-xs"
              />
              <p-fileupload
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                [multiple]="true"
                accept="xlxs/*"
                class="text-xs"
                [maxFileSize]="1000000"
                mode="advanced"
                chooseLabel="Choose"
                [chooseStyleClass]="
                  'w-[84px] background-color: #008080, color: #fff h-[30px] !text-[12px]'
                "
                uploadLabel="Upload"
                cancelLabel="Cancel"
                styleClass="w-auto"
              >
                <ng-template #empty>
                  <div class="text-gray-500 text-sm">
                    Drag and drop files here to upload.
                  </div>
                </ng-template>
              </p-fileupload>
            </div>
            <br>
            
            <div class="flex gap-2">
              <p-button
                label="Reset"
                size="small"
                icon="pi pi-undo"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                iconPos="right"
              />
              <p-button
                label="Save"
                size="small"
                (onClick)="OnClickAdd()"
                icon="pi pi-check"
                [style]="{ 'background-color': '#008080', color: '#fff' }"
                iconPos="right"
              />
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>

      <br />
    </div>
  </div>
  <br />
  <p-button
          size="small"
          icon="pi pi-sliders-h"
          label="Configure Table"
          [raised]="true"
          (onClick)="showDialogconfig()"
          severity="secondary"
          class="ml-2"
        />

  <!-- Table  -->
  <div class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2">
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        [scrollable]="true"
        scrollHeight="600px"
        [showGridlines]="true"
        scrollDirection="both"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr class="">
            <th
              class="!px-1 flex-auto !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px] !min-h-[22px]"
            >
              S.No
            </th>

            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Part Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Latest Part Number
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Substitution
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Part Description
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              MOQ
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Quantity
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Price
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Stock as on
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Group Stock
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Party Name
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Non Moving Check
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              OOQ
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Type
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Value
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Open Jobline with Open JC
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Date
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Action
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Order Remark
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
            <td
              class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
            >
              {{ rowData.Dashboard }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator
        class="h-6 w-full text-sm"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [appendTo]="body"
        pagginatordropdownappendto="body"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      />
    </div>
  </div>
</div>

<p-dialog
  header="⚠️ Important Info"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  [closable]="false"
>
  <div class="flex justify-between items-center mb-4">
    <span class="text-gray-500 text-sm">
      The following parts are
      <span class="font-semibold text-teal-500">not available in Master</span>:
    </span>
    <p-button
      icon="pi pi-download"
      [size]="'small'"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      class="!text-blue-600 hover:!bg-blue-50 transition-colors"
    />
  </div>

  <!-- Content Box (scrollable if long list) -->
  <div
    class="bg-teal-50 border-l-4 border-teal-400 rounded-md p-4 mb-6 shadow-sm max-h-40 overflow-y-auto"
  >
    <h4 class="text-sm font-semibold text-gray-700 mb-2">Part Numbers:</h4>
    <p class="text-gray-800 text-base leading-relaxed">
      9782228, 3434432, 44G4533, 9782228, 3434432, 44G4533, 9782228, 3434432,
      44G4533, 9782228, 3434432, 44G4533, 9782228, 3434432, 44G4533
    </p>
  </div>

  <!-- Action Buttons -->
  <div class="flex justify-end gap-3 mt-6">
   
    <p-button
      label="Fill Details"
      icon="pi pi-align-left"
      size="small"
      class="!bg-blue-600 !border-blue-600 !rounded-lg !shadow-sm hover:!bg-blue-700 hover:!shadow-md transition-all"
      (click)="visible = false"
    />
  </div>
</p-dialog>



<p-dialog
  header="⚙️ Configure Table Columns"
  [(visible)]="visibleConfig"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '95vw' }"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ 'max-height': '80vh', 'overflow-y': 'auto' }"
  [draggable]="true"

  [resizable]="false"


>
  <!-- Content -->
  <div class="grid grid-cols-5 gap-3 p-2">
    <div
      class="flex items-center bg-gray-50 hover:bg-gray-100 rounded-lg px-3 py-2 transition"
      *ngFor="let col of tableColumns"
    >
      <p-checkbox
        [inputId]="col.field"
        name="columns"
        [value]="col.field"
        [(ngModel)]="selectedColumns"
        binary="true"
      />
      <label
        [for]="col.field"
        class="ml-2 mt-2 text-sm text-gray-700 cursor-pointer select-none"
      >
        {{ col.header }}
      </label>
    </div>
  </div>

  <!-- Footer -->
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-3">
      <button
        pButton
        label="Save as Default"
        severity="info"
        class="p-button-outlined p-button-sm"
        (click)="visible=false"
      ></button>
      <button
        pButton
        label="Cancel"
        class="p-button-outlined p-button-sm"
        (click)="visible=false"
      ></button>
      <button
        pButton
        label="Apply for Now"
        class="p-button-sm"
        
      ></button>
    </div>
  </ng-template>
</p-dialog>