<div class="flex lg:flex-row bg-[#FDF5E6] flex-col w-full h-full overflow-hidden">
    <div class="rounded-2xl relative group">
        <img src="legacy_image.jpg " class="lg:w-[50vw] lg:h-[100vh] w-[100vw] cursor-pointer h-[50vh] rounded-md shadow-2xl p-2 filter-image" alt="Legacy">
        <h1 class="font-bold lg:text-6xl text-5xl absolute left-7 top-[90px] lg:left-7 lg:top-16  text-white">
            Explore The Legacy
        </h1>
          <span class="font-bold lg:text-2xl text-l sm:text-3xl absolute left-7 sm:left-24 top-1/2 lg:left-20 lg:top-48 text-white">
            Classic Performance, Consistent Results
          </span>
        <a href="https://scope.sparecare.in/UAD_SC_WAC/Login.aspx" routerLinkActive="router-link-active"  class="button absolute top-2/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hover-remove-filter " style="--clr: #7808d0">
            <span class="button__icon-wrapper">
              <svg
                viewBox="0 0 14 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="button__icon-svg"
                width="10"
              >
                <path
                  d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                  fill="currentColor"
                ></path>
              </svg>
          
              <svg
                viewBox="0 0 14 15"
                fill="none"
                width="10"
                xmlns="http://www.w3.org/2000/svg"
                class="button__icon-svg button__icon-svg--copy"
              >
                <path
                  d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                  fill="currentColor"
                ></path>
              </svg>
            </span>
            Explore The Legacy
        </a>
    </div>
    <div class="rounded-2xl relative group">
          <img src="new_website.jpg" alt="New" class="lg:w-[50vw] w-[100vw] h-[50vh] relative cursor-pointer rounded-md shadow-2xl lg:h-[100vh] p-2 filter-image">
        <h1 class="font-bold lg:text-6xl text-5xl absolute left-7 top-[90px] lg:left-7 lg:top-16 text-white">
            Explore The Change
        </h1>
        <span class="font-bold lg:text-2xl text-l sm:text-3xl absolute left-7 sm:left-20 top-1/2 lg:left-20 lg:top-48   text-white">
          Modern Solutions for Modern Challenges
        </span>
        <a href="http://103.30.72.109/login" class="button absolute top-2/3  left-1/2 transform -translate-x-1/2 -translate-y-1/2 " style="--clr: #7808d0">
            <span class="button__icon-wrapper">
              <svg
                viewBox="0 0 14 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="button__icon-svg"
                width="10"
              >
                <path
                  d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                  fill="currentColor"
                ></path>
              </svg>
          
              <svg
                viewBox="0 0 14 15"
                fill="none"
                width="10"
                xmlns="http://www.w3.org/2000/svg"
                class="button__icon-svg button__icon-svg--copy"
              >
                <path
                  d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                  fill="currentColor"
                ></path>
              </svg>
            </span>
            Explore The Change
        </a>
        
    </div>
    <div class="lg:w-[15vw] lg:h-[33vh] h-[15vh] w-[33vw] sm:w-[30vw] sm:h-[20vh] flex items-center justify-center bg-white rounded-full absolute lg:left-1/2 lg:top-1/2 lg:translate-x-[-50%] lg:translate-y-[-50%] top-[50vh] right-1/2 translate-x-[50%] translate-y-[-50%]">
      <img src="logo/sparecarelogo.png" class="p-4  animate-zoomInOut" alt="">
    </div>  
</div>
  