<p-toast></p-toast>
<p-blockUI [blocked]="isLoading">
  <i class="bx bx-loader-circle fa-spin custom-icon fa-spinner"></i>
</p-blockUI>
<!-- *ngIf="isLinkValid; else expiredTemplate" -->
<div class="body">
  <!-- <img
    src="Background_image.png"
    alt="Background"
    class="w-full h-full object-cover -z-10 fixed"
  /> -->
  <div class="flex justify-center align-items-center h-[90vh] flex-col">
    <div
      class="card w-[40vw] h-auto flex justify-center bg-gray-200 items-center rounded-lg shadow-lg mt-5"
    >
      <!-- <div *ngIf="timeLeft > 0" class="d-flex justify-end w-100 me-5 mt-2">
          <h2 class="font-semibold"> {{ minutes }} : {{ seconds | number: '2.0' }} left</h2>
        </div> -->
      <form [formGroup]="updateForm">
        <div class="flex flex-col gap-3 w-[40vw] p-5">
          <h2 class="flex text-2xl justify-center font-semibold">
            Create your Password
          </h2>
          <br>

          <div class="flex flex-col gap-5 items-center justify-center">
            <div class="flex w-full  gap-4">
              <div class="flex flex-col items-center justify-center h-auto">
                <label for="username" class="me-5">Email :</label>
              </div>
              <div class="ml-[26px]">
                <input
                  type="text"
                  pInputText
                  class="ng-invalid ng-dirty"
                  (input)="checkEmailAvailability()"
                  formControlName="email"
                  variant="filled"
                />
                <div
                  *ngIf="
                    updateForm.get('email')?.touched &&
                    updateForm.get('email')?.invalid
                  "
                >
                  <small
                    *ngIf="updateForm.get('email')?.hasError('required')"
                    style="color: red; font-size: 12px"
                    >Email is required.</small
                  >
                </div>
                <div *ngIf="emailMessage">
                  <small style="color: red; font-size: 11px">{{
                    emailMessage
                  }}</small>
                </div>
              </div>
            </div>
            <div class="flex w-full  gap-4">
              <div class="flex flex-col items-center justify-center h-auto">
                <label for="username" class="me-5">Password:</label>
              </div>
              <div class="">
                <input
                  pInputText
                  id="password"
                  class="ng-invalid ng-dirty"
                  variant="filled"
                  aria-describedby="username-help"
                  formControlName="password"
                  (input)="validPassword()"
                />
                <div
                  *ngIf="
                    updateForm.get('password')?.touched &&
                    updateForm.get('password')?.invalid
                  "
                >
                  <small
                    *ngIf="updateForm.get('password')?.hasError('required')"
                    style="color: red; font-size: 12px"
                    >Password is required.</small
                  >
                </div>
                <div
                  *ngIf="
                    updateForm.get('password')?.touched &&
                    updateForm.get('password')?.invalid
                  "
                >
                  <small
                    *ngIf="updateForm.get('password')?.hasError('pattern')"
                    style="color: red; font-size: 12px"
                    >Password must be at least 8 characters long .Password must
                    contain characters.Password must contain at least one special
                    character. Password can contain numbers.
                  </small>
                </div>
                <div *ngIf="passwordMessage">
                  <small style="color: red; font-size: 12px">{{
                    passwordMessage
                  }}</small>
                </div>
              </div>
            </div>

          </div>

          <div class="d-flex justify-center flex-column">
            <button type="submit" class="mt-3" (click)="googleAuth()">
              Click for Google Authentication
            </button>
            <div
              *ngIf="qrCodeUrl"
              class="d-flex justify-center align-items-center flex-column mt-3"
            >
              <h3>Scan this QR code with Google Authenticator App</h3>
              <img [src]="qrCodeUrl" alt="QR Code" />
              <div class="d-flex">
                <input
                  type="text"
                  name="token"
                  formControlName="OTP"
                  placeholder="Enter OTP"
                  class="p-2 me-4"
                  variant="filled"
                />
                <button (click)="verifyOTP()" class="w-30 h-50 btn verify-btn">
                  Verify OTP
                </button>
              </div>
            </div>
            <div
              *ngIf="
                updateForm.get('OTP')?.touched && updateForm.get('OTP')?.invalid
              "
              class="d-flex justify-center"
            >
              <small
                *ngIf="updateForm.get('OTP')?.hasError('required')"
                style="color: red; font-size: 12px"
                >Authentication is required.</small
              >
            </div>
            <div class="d-flex justify-center">
              <button
                class="btn-submit my-3"
                (click)="submit()"
                [disabled]="isSubmitted"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <ng-template #expiredTemplate>
  <div>

    <p>The link has expired. Please request a new one.</p>
    <button (click)="requestNewLink()" class="btn btn-new mt-2">Request a new link</button>
  </div>

  </ng-template> -->
