:host ::ng-deep input.p-inputtext.p-component.p-element:focus{
    
    outline: none;
    box-shadow: none;
    background-color: #e5e7eb;
}
:host ::ng-deep input.p-inputtext.p-component.p-element{
    outline: none;
    box-shadow: none;
    background-color: #e5e7eb;
}
.btn-submit{
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60px;
    height: 30px;
}

.btn-new{
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: max-content;
    height: 30px;
}

.btn-new:focus-visible,.btn-new:active{
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: max-content;
    height: 30px;
}

:host ::ng-deep input.p-2.me-4.ng-pristine.ng-valid.ng-touched:focus-visible{
    border: none;
    outline: none;
    background-color: #e5e7eb;
   
}
:host ::ng-deep input.p-2.me-4{
    background-color: #e5e7eb;
    height: 40px;
    border-radius: 4px;
}

:host ::ng-deep .verify-btn{
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 91px;
    height: 38px !important  
}

:host ::ng-deep .verify-btn:focus-visible, :host ::ng-deep .verify-btn:active{
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 91px;
    height: 38px !important  
}

:host ::ng-deep input:focus-visible{
    border: none !important;
    outline: none !important;
}
