#submit {
  color: #228b22;
}

:host ::ng-deep span.filelabel {
  display: none;
}

::ng-deep .p-datatable-filter-overlay {
  transform: scale(0.85) !important; /* or 0.75 if you want smaller */
}

/* Optional: reduce font-size and padding inside */
::ng-deep .p-datatable-filter-overlay * {
  font-size: 12px !important;
}


  ::ng-deep
  timesicon.p-component.p-iconwrapper.p-select-clear-icon.ng-star-inserted {
  top: 60%;
  left: 60%;
}


::ng-deep .low-z-paginator .p-paginator .p-paginator-page,
::ng-deep .low-z-paginator .p-paginator .p-paginator-first,
::ng-deep .low-z-paginator .p-paginator .p-paginator-prev,
::ng-deep .low-z-paginator .p-paginator .p-paginator-next,
::ng-deep .low-z-paginator .p-paginator .p-paginator-last {
  z-index: 1 !important; /* or even 0 if needed */
}


 /* ::ng-deep .custom-clear-style .p-select-clear-icon {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: gray;
  margin-right: 5px;
  margin-bottom: 5px !important;
  transition: all 0.2s ease;
}

::ng-deep .custom-clear-style .p-select-clear-icon:hover {
  background-color: #ddd;
  color: black;
}  */


/* ::ng-deep .p-select-label {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
} */



::ng-deep .low-z-paginator .p-paginator {
  height: 3rem !important;          /* container height */
  min-height: 3rem !important;
}