#submit {
  color: #228b22;
}

:host ::ng-deep span.filelabel {
  display: none;
}

::ng-deep .p-datatable-filter-overlay {
  transform: scale(0.85) !important; /* or 0.75 if you want smaller */
}

/* Optional: reduce font-size and padding inside */
::ng-deep .p-datatable-filter-overlay * {
  font-size: 12px !important;
}


  ::ng-deep
  timesicon.p-component.p-iconwrapper.p-select-clear-icon.ng-star-inserted {
  top: 60%;
  left: 60%;
}


::ng-deep .low-z-paginator .p-paginator .p-paginator-page,
::ng-deep .low-z-paginator .p-paginator .p-paginator-first,
::ng-deep .low-z-paginator .p-paginator .p-paginator-prev,
::ng-deep .low-z-paginator .p-paginator .p-paginator-next,
::ng-deep .low-z-paginator .p-paginator .p-paginator-last {
  z-index: 1 !important; /* or even 0 if needed */
}
