<div class="relative h-full w-auto bg-[#f6f6f6] overflow-auto">
    <!-- <app-loader [isloading]="isloading"></app-loader> -->
    
    <!-- <div
    class="flex items-center justify-between h-[8vh] bg-customBlue lg:h-[10vh] px-2"
    >
    <p-button (click)='onClickSidebar()'  icon="pi pi-bars" />
   
    <h1 class="text-white text-center text-lg font-bold lg:text-3xl mx-auto">
      Admin Visibility Of Norms
    </h1>
    
   
    <img src="logo/sparecare_horizontal_logo.png" class="w-40 h-auto ml-4" alt="Logo" />
    </div>


   -->

   <!-- <div>
    <h1 class="text-3xl ml-10 font-semibold">Admin Norms Management</h1>
  </div> -->
    <div class="flex flex-col gap-1">
      <!-- Filter form  -->
      <div>
        <form
          action=""
          [formGroup]="adminFilterData"
          class="flex flex-wrap py-5 justify-start items-center gap-3 w-auto scale-[.9]"
        >
          <!-- brand -->
          <p-floatlabel variant="on">
            <p-select
              formControlName="brand"
              [options]="brandData"
              optionValue="bigid"
              optionLabel="vcbrand"
              class="!w-32 !text-[10px]"
              scrollHeight="150px"
              (onChange)="onClickBrand()"
              [filter]="true"
              
              filterBy="vcbrand"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  adminFilterData.get('brand')?.touched &&
                  adminFilterData.get('brand')?.invalid
              }"
            />
            <label for="brand" class="text-[10px]">Brand</label>
          </p-floatlabel>
  
          <p-floatlabel variant="on">
            <p-select
              formControlName="dealer"
              [options]="dealerData"
              optionValue="dealerid"
              optionLabel="dealer"
              scrollHeight="150px"
              class="!w-32 !text-[10px]"
              (onChange)="onclickDealer()"
              [filter]="true"
              
              filterBy="dealer"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  adminFilterData.get('dealer')?.touched &&
                  adminFilterData.get('dealer')?.invalid
              }"
            />
            <label for="dealer" class="text-[10px]">Dealer</label>
          </p-floatlabel>
  
          <p-floatlabel variant="on">
            <p-select
              formControlName="location"
              [options]="locaitonData"
              optionValue="locationid"
              optionLabel="location"
              scrollHeight="150px"
              class="!w-28 !text-[10px]"
              (onChange)="onClickLocation()"
              [filter]="true"
              
              filterBy="location"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  adminFilterData.get('location')?.touched &&
                  adminFilterData.get('location')?.invalid
              }"
            />
            <label for="Locaiton" class="text-[10px]">Locations</label>
          </p-floatlabel>
  
          <p-floatlabel variant="on">
            <p-select
              [options]="maxData"
              formControlName="max"
              optionLabel="name"
              optionValue="code"
              class="!w-32 !text-[10px]"
              [filter]="true"
              filterBy="name"
            />
            <label for="max" class="text-[10px]">MAX</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              [options]="partType"
              scrollHeight="150px"
              formControlName="parttype"
              optionLabel="Description"
              
              optionValue="parttypeid"
              class="!w-32 !text-[10px]"
            />
            <label for="parttype" class="text-[10px]">Part Type</label>
          </p-floatlabel>
  
          <p-floatlabel variant="on">
            <p-select
              [options]="natureData"
              formControlName="nature"
              optionLabel="Description"
              optionValue="tCode"
              class="!w-28 !text-[10px]"
              [filter]="true"
              scrollHeight="150px"
              filterBy=" Description"
            />
            <label for="nature" class="text-[10px]">Part Nature</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              [options]="modelData"
              formControlName="model"
              optionValue="ModelID"
              optionLabel="Model"
              scrollHeight="150px"
              class="!w-28 !text-[10px]"
             
              [filter]="true"
              filterBy=" Model"
            />
  
            <label for="model" class="text-[10px]">Model</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              [options]="seasondata"
              formControlName="seasonal"
              optionLabel="Description"
              optionValue="tCode"
              class="!w-28 !text-[10px]"
            />
            <label for="seasonal" class="text-[10px]">Seasonal </label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              formControlName="status"
              [options]="adminstatus"
              optionValue="code"
              optionLabel="name"
              class="!w-32 !text-pretty !text-[10px]"
              (onChange)="onClickBrand()"
            />
            <label for="status" class="text-[10px]">Status </label>
          </p-floatlabel>
  
          <div class="flex flex-col">
            <span class="text-xs -mb-2 ml-3">Price Range</span>
            <div class="flex flex-row">
              <input
                type="text"
                pInputText
                formControlName="fromrate"
                class="w-24 !text-xs mb-4 h-[32px] mt-3"
                placeholder="From"
              />
              <input
                type="text"
                pInputText
                formControlName="torate"
                class="w-24 !text-xs mb-4 h-[32px] -ml-3 !rounded-l-none !shodow-none mt-3 !"
                placeholder="To"
              />
            </div>
          </div>
          <div class="flex flex-col">
            <span class="text-xs -mb-2 ml-3">Average 3Mth Sale</span>
            <div class="flex flex-row">
              <input
                type="text"
                pInputText
                formControlName="fromrange"
                class="w-24 !text-xs mb-4 h-[32px] mt-3"
                placeholder="From"
              />
              <input
                type="text"
                pInputText
                formControlName="torange"
                class="w-24 !text-xs mb-4 h-[32px] -ml-3 !rounded-l-none !shodow-none mt-3 !"
                placeholder="To"
              />
            </div>
          </div>
          <div
            *ngFor="let category of categories"
            class="field-checkbox flex flex-col justify-start"
          >
            <label [for]="category.key" class="ml-2 text-[10px]">{{
              category.name
            }}</label>
            <p-radiobutton
              [inputId]="category.key"
              name="selectedCategory"
              [value]="category"
              formControlName="selectedCategory"
              class="ml-2"
            />
          </div>
  
          <p-floatlabel variant="on">
            <input
              formControlName="partnumber"
              pInputText
              id="parSearch"
              autocomplete="off"
              class="min-w-44 !w-[18vw] !text-[10px]"
            />
            <label for="Part Search" class="text-[10px]">Part Search</label>
          </p-floatlabel>
          <p-button
            class="text-[10px]"
            id="submit"
            label="Submit"
            size="small"
            severity="success"
            (onClick)="onClickSubmitfilterData()"
          />
          <p-button
            id="submit"
            size="small"
            class="text-[10px]"
            label="All Export"
            severity="info"
            (onClick)="exportToExcelOldSP()"
          />
          <p-button
            id="submit"
            size="small"
            class="text-[10px]"
            label="Pending Export"
            severity="info"
            (onClick)="exportToExcelNewSP()"
          />
          <p-button
            id="submit"
  
            class="text-[10px]"
            (onClick)="onClickResetField()"
            label="Reset Filter"
            size="small"
            severity="info"
          />
  
          <p-button size="small" (onClick)="onClickShowUpload()" label="Upload Review or Feedback" />
          <p-button size="small" (onClick)="OnclickPendinCount()" label="Pending Count" />
  
          
          
        </form>
      </div>
  
      <!-- part family sales Table -->
  
      <div
        class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2"
        *ngIf="showSale"
      >
        <div
          class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden"
          style="zoom: 0.77"
        >
          <p-table
            [rows]="1"
            scrollable="true"
            [value]="partFamilySaleData"
            [showGridlines]="true"
            class="!w-[90vw]"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template #header>
              <tr class="bg-gray-200 text-gray-800 text-sm font-semibold">
                <ng-container *ngFor="let col of columns">
                  <th
                    *ngIf="
                      col.header !== 'Brand' &&
                      col.header !== 'Dealer' &&
                      col.header !== 'Partid'
                    "
                    class="!text-wrap text-[11px] !bg-gray-400"
                    style="min-width: 50px"
                  >
                    {{ col.header }}
                  </th>
                </ng-container>
              </tr>
            </ng-template>
  
            <ng-template #body let-rowData let-i="rowIndex">
              <tr class="border-b hover:bg-green-100 transition duration-200">
                <td
                  *ngFor="let value of getValues(rowData)"
                  style="min-width: 50px; font-size: 11px"
                >
                  {{ value }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
  
      <div class="flex gap-3 ml-4">
        <div class="w-10 h-10w-10 border-black border-1 bg-orange-100"></div>
        <h6 class="">Pending</h6>
        <div class="w-10 h-10w-10 bg-green-100 border-black border-1"></div>
        <h6 class="">Reviewed</h6>
        <div class="w-10 h-10w-10 bg-white border-black border-1"></div>
        <h6 class="">No feedback</h6>
      </div>
  
      <!-- table Data -->
      <div
        class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2"
      >
        <div
          class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden"
          style="zoom: 0.77"
        >
          <p-table
            [scrollable]="true"
            scrollHeight="600px"
            [value]="AdminPeningView"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[20, 30, 40, 50, 100]"
            [showGridlines]="true"
            scrollDirection="both"
            class="!w-[90vw]"
            sortable="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="['partnumber', 'partdesc', 'UserRemark']"
          >
            <ng-template #header>
              <tr class="bg-gray-200 text-gray-800 text-sm font-semibold">
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  S.No
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Brand
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Dealer
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Location
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Part Number / Family part
                  <p-columnFilter type="text" field="partnumber" display="menu" />
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Order Part Number
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Part Desc
                  <p-columnFilter type="text" field="partdesc" display="menu" />
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Model
                </th>
                <th
                  pSortableColumn="landedcost"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Landed Cost <p-sortIcon field="landedcost" />
                </th>
                <th
                  pSortableColumn="maxvalue"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  MAX <p-sortIcon field="n1" />
                </th>
                <th
                  pSortableColumn="Avg3Msale"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Avg 3M <p-sortIcon field="Avg3MSale" />
                </th>
                <th
                  pSortableColumn="n1"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  N1 <p-sortIcon field="n1" />
                </th>
                <th
                  pSortableColumn="n2"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  N2 <p-sortIcon field="n2" />
                </th>
                <th
                  pSortableColumn="n3"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  N3 <p-sortIcon field="n3" />
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Category
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Part Nature
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  MOQ
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  View Sale
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Latest Feedback
                  <p-columnFilter type="text" field="SPMRemark" display="menu" />
                </th>
                <th
                  pSortableColumn="ProposedQty"
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Proposed Qty <p-sortIcon field="ProposedQty" />
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Review
                </th>
                <th
                  class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                  Review Qty
                </th>
                <th
                class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
                >
                Action
              </th>
              <th
                class="!px-1 !py-1 !text-center !min-w-[60px] !min-h-auto !bg-gray-300 text-[13px]"
              >
                View Logs
              </th>
              </tr>
            </ng-template>
  
            <ng-template #body let-rowData let-i="rowIndex">
              <tr
                class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
                [ngClass]="{
                  '!bg-orange-100': rowData.status === 'Pending',
                  '!bg-green-100': rowData.status === 'Reviewed'
                }"
                [hidden]="
                rowData.status == 'Reviewed' &&
                this.adminFilterData.value.status != 1
              "
              >
                <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.brand }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.dealer }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.location }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-blue-500 uppercase underline cursor-pointer"
                  *ngIf="rowData.Subpartcount > 0; else normalText"
                  (click)="onclickPartNumber(rowData.partnumber)"
                >
                  {{ rowData.partnumber }}
                </td>
  
                <ng-template #normalText>
                  <td
                    class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                  >
                    {{ rowData.partnumber }}
                  </td>
                </ng-template>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.orderpartnumber }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.partdesc }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.model }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.landedcost }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.maxvalue }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.Avg3Msale }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.n1 }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.n2 }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.n3 }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.category }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.nature }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.moq }}
                </td>
                <td class="!px-1 !py-1 !text-center !h-[20px] text-[13px]">
                  <p-button
                    icon="pi pi-eye"
                    raised="true"
                    [rounded]="true"
                    class="!w-[13px] !h-[15px]"
                    (onClick)="onClickShowSales(rowData)"
                  />
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.SPMRemark }}
                </td>
                <td
                  class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
                >
                  {{ rowData.ProposedQty }}
                </td>
                <td class="!px-1 !py-1 !text-center !h-[20px] text-[13px]">
                  <div class="flex flex-col gap-y-2">
                    <p-select
                      [options]="adminRemark"
                      placeholder="Remark"
                      [(ngModel)]="rowData.selectedRemark"
                      optionLabel="remark"
                      optionValue="Remarkid"
                      appendTo="body"
                      class="!w-[100px] text-[10px] !h-[33px] md:w-56"
                      (onChange)="onRemarkChange(rowData, i)"
                    />
                    <input
                      class="border px-2 py-1 rounded text-sm"
                      *ngIf="rowData.showOtherInput"
                      type="text"
                      [(ngModel)]="rowData.customRemark"
                      placeholder="Enter custom Feedback"
                    />
                  </div>
                </td>
                <td class="p-3">
                  <input
                    type="number"
                    min="0"
                    pInputText
                    [(ngModel)]="rowData.qty"
                    placeholder="Enter Qty"
                    class="border rounded p-1 w-24 scale-75 text-center"
                  />
                </td>
                <td class="p-3 text-center">
                  <p-button
                  label="Submit"
                  severity="success"
                  (click)="submitAdminRow(rowData)"
                  class="py-1 text-white rounded"
                  />
                </td>
                <td class="p-3 text-center">
                  <p-button
                    icon="pi pi-eye"
                    raised="true"
                    [rounded]="true"
                    (onClick)="onClickViewLog(rowData)"
                  />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div class="card flex justify-center">
    <!-- it is for error Message -->
    <p-dialog
      header="Message"
      [(visible)]="visible"
      [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '30vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p class="text-lg font-semibold">
        {{ Result }}
      </p>
    </p-dialog>
  </div>
  <p-dialog
    header="View Recent Log"
    [(visible)]="changelogDialog"
    class="w-auto h-auto">
    <div class="p-text-secondary block mb-8">
      <p-table
        [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true"
        [value]="Adminviewlog"
        showGridlines="true"
      >
        <ng-template #header>
          <tr>
            <th>Feedback Date</th>
            <th>Proposed Qty</th>
            <th>Reviewed Qty</th>
            <th>Proposed Remark</th>
            <th>Reviewed Remark</th>
            <th>MAX</th>
            <th>Updated Date</th>
            <th>Updated By</th>
          </tr>
        </ng-template>
        <ng-template #body let-data>
          <tr>
            <td>{{ data.FeedbackDate | date : "dd-MMM-yy / h:mm a" : "UTC" }}</td>
            <td>{{ data.ProposedQty }}</td>
            <td>{{ data.ApprovedQty }}</td>
            <td>{{ data.UserRemark }}</td>
            <td>{{ data.MaxValue }}</td>
            <td>{{ data.AdminRemark }}</td>
            <!-- <td>{{ data.AdminRemark }}</td> -->
            <td>{{ data.AdminFBDate | date : "dd-MMM-yy / h:mm a" : "UTC" }}</td>
            <td>{{ data.quantity }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
  <div class="card flex justify-center">
    <p-dialog
      header="Part Family"
      [(visible)]="familyPartDataVisible"
      [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '70vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p-table
        [value]="familyPartData"
        showGridlines
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th class="!text-[12px]">Part Number</th>
            <th class="!text-[12px]">Latest Part Number</th>
            <th class="!text-[12px]">Part Description</th>
            <th class="!text-[12px]">Category</th>
            <th class="!text-[12px]">landed Cost</th>
          </tr>
        </ng-template>
        <ng-template #body let-Data>
          <tr>
            <td class="!text-[12px]">{{ Data.partnumber1 }}</td>
            <td class="!text-[12px]">{{ Data.LatestPartNumber }}</td>
            <td class="!text-[12px]">{{ Data.partdesc }}</td>
            <td class="!text-[12px]">{{ Data.category }}</td>
            <td class="!text-[12px]">{{ Data.landedcost }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
  </div>
  
  <p-dialog
    header="Upload"
    [(visible)]="showupload"
    class="!w-auto !h-auto bg-slate-500 gap-16"
    
  >
  <div  class="flex gap-5 ">
    <div class="flex flex-col">
      <p-fileupload
        #fu
        mode="basic"
        chooseLabel="Dealer Feedback"
        chooseIcon="pi pi-upload"
        name="excelFile"
        accept=".xls,.xlsx"
        maxFileSize="5000000"
        [auto]="false"
        (onSelect)="onFileSelectDealer($event)"
      />
      <span class="text-sm">{{ selectedFileName }}</span>
    </div>
    <p-button
      label="Upload"
      (onClick)="UploadExcelDealer()"
      severity="secondary"
      size="small"
    />
  </div>
  
  
  <div  class="flex gap-5 mt-10 ">
    <div class="flex flex-col">
      <p-fileupload
        #fu
        mode="basic"
        chooseLabel="Admin Review"
        chooseIcon="pi pi-upload"
        name="excelFile"
        accept=".xls,.xlsx"
        maxFileSize="5000000"
        [auto]="false"
        (onSelect)="onFileSelectAdmin($event)"
      />
      <span class="text-sm">{{ adminFileName }}</span>
    </div>
    <p-button
      label="Upload"
      (onClick)="UploadExcelAdmin()"
      severity="secondary"
      size="small"
    />
  </div>
  
  </p-dialog>
  
  <!-- <app-sidebar-2 [sidebarvisible]="sidebarvisible" (close)="sidebarvisible = false"></app-sidebar-2> -->