:root{
    --primary-color: #49505757;
    --theme-color:#34495e !important;
    --theme2-color: #5a9fa3 !important;
    --secondary-color:#f2f2f2 !important;
    --tertiary-color:#2f667f !important
}

.custom-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ccc;
    /* color: red; */
    animation: spin 1s infinite linear;
}

body.loader {
    overflow: hidden; /* Hides scrollbar */
  }

  .text-white{
    font:white;
}

.f-18{
    font-size: 18px !important;
}

.f-11{
    font-size: 11px !important;
}
.f-13{
    font-size: 13px !important;
}
.custom-icon {
    position: absolute;
    font-size: 3rem;
    color: #ccc; /* You can adjust the color */
    animation: spin 1s infinite linear;
}