:root{
    --primary-color: #49505757;
    --theme-color:#34495e !important;
    --theme2-color: #5a9fa3 !important;
    --secondary-color:#f2f2f2 !important;
    --tertiary-color:#2f667f !important
}

.custom-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ccc;
    /* color: red; */
    animation: spin 1s infinite linear;
}

body.loader {
    overflow: hidden; /* Hides scrollbar */
  }

  .text-white{
    font:white;
}

.f-18{
    font-size: 18px !important;
}

.f-11{
    font-size: 11px !important;
}
.f-13{
    font-size: 13px !important;
}
.f-8{
    font-size: 8px !important;
}

.f-20{
    font-size: 20px !important;
}
.custom-icon {
    position: absolute;
    font-size: 3rem;
    color: #ccc; /* You can adjust the color */
    animation: spin 1s infinite linear;
}

 .dropdown{
    transform: none !important;
    width: 10rem !important;
    font-size: 12px !important;
  }
 /* button.p-ripple.p-button.p-component.p-button-secondary{
    border: none !important;
  outline: none !important;
  background-color: rgb(12 98 182 / 69%) !important;
  color: white !important;
  padding: 3px;
  border-radius: 4px;
  z-index: auto;
  
} */

.p-select-label{
    padding:5px !important;
    font-size: 12px !important;
  }

  .truncate-file-name {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px !important;
  }

   .p-fileupload-advanced{
    border: none !important;
    border-radius: none !important;
    background: none !important;
    display: flex!important;
    align-items: center !important;
  }

   .p-fileupload-header{
    border-radius: 0rem !important;
    padding:0rem !important;
    background: none !important;
  }

   .p-fileupload-content{
    gap: 0rem !important;
    padding: 0rem !important;
  }

   .p-fileupload-content .p-progressbar{
    display: none !important;
  }

   .p-datatable{
    transform: none !important;
  }

   .p-icon{
    height: 11px !important;
  }

   .p-paginator-current{
    font-size: 12px;
    order: 2;
    margin-left: 20px !important;
  }
 button.p-ripple.p-paginator-page.ng-star-inserted.p-paginator-page-selected {
    background-color: #007bff7d !important;
    color: white !important; /* Change text color */
  
    font-weight: bold !important;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height:30px !important;
    font-size: 12px !important;
  }

   button.p-ripple.p-button.p-component.p-fileupload-choose-button.undefined{
    border: none !important;
    outline: none !important;
    padding: 3px !important;
  }