/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './global.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-drawer-header {
    padding: 0px !important;
  }
  
  .p-drawer-close {
    display: none !important;
  }
   .p-drawer.p-component{
    /* position: fixed !important;
    top: 10vh !important; /* Below the header */
    /* left: 0;
    height: 90vh; */ 
  }
   .p-overlay-mask{
    /* background: none;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
    /* z-index: inherit !important; */
   
  }
  /*
  .p-sidebar-mask{
    display: none !important;
  }   */

  .f-15{
    font-size: 15px;
  }
  .custom-icon {
    position: absolute;
    font-size: 3rem;
    color: #ccc; /* You can adjust the color */
    animation: spin 1s infinite linear;
}

  :host ::ng-deep .p-blockui-mask-document.p-blockui.p-blockui-mask.p-overlay-mask{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  html.loader ,body.loader {
    overflow: hidden !important; /* Hide scrollbars */
  position: fixed !important;  /* Prevent scrolling */
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  }

  -select#pn_id_5 {
    scale: 1.4;
  }
  
  /* #pn_id_5 {
      transform: scale(0.7);
      transform-origin: top left;
    }
  
  
    #pn_id_4 {
      transform: scale(0.7);
      transform-origin: top left;
    }
  
    #pn_id_6 {
      transform: scale(0.7);
      transform-origin: top left;
    } */
  
    .table-Data {
      z-index: 1 !important; /* Ensure this is lower than the dropdown's z-index */
    }
  
  
    .ng-tns-c1151199684-3.p-overlay.p-component.ng-star-inserted {
  
      width: fit-content;
      max-width: 150px;
      font-size: 12px;
     
   }
   .ng-tns-c1151199684-4.p-overlay.p-component.ng-star-inserted {
  
    width: fit-content;
    max-width: 150px;
    font-size: 12px;
   
  }
  
   .ng-tns-c1151199684-5.p-overlay.p-component.ng-star-inserted {
  
    width: fit-content;
      max-width: 150px;
      font-size: 12px;
  
   }
  
   .ng-tns-c1151199684-6.p-overlay.p-component.ng-star-inserted {
  
    width: fit-content;
      max-width: 150px;
      font-size: 12px;
  
   }
  
   .ng-tns-c1151199684-7.p-overlay.p-component.ng-star-inserted {
  
    width: fit-content;
      max-width: 150px;
      font-size: 12px;
  
   }
  
   .ng-tns-c1151199684-8.p-overlay.p-component.ng-star-inserted {
  
    width: fit-content;
      max-width: 150px;
      font-size: 12px;
  
   }
  
   .ng-tns-c1151199684-9.p-overlay.p-component.ng-star-inserted {
  
    width: fit-content;
      max-width: 150px;
      font-size: 12px;
  
   }
  
   .ng-tns-c1151199684-10.p-overlay.p-component.ng-star-inserted{
  
  
    width: fit-content;
      max-width: 150px;
      font-size: 12px;
  
   }
  
   .f-12{
    font-size:12px;
   }
  

    :host ::ng-deep timesicon.p-component.p-iconwrapper.p-select-clear-icon.ng-star-inserted {
    top: 60%;
    left: 60%
}