<div class="relative h-[100vh] w-[100vw] bg-gray-200 overflow-auto">
  <app-loader [isloading]="isloading"></app-loader>
  
  <div
      class="flex flex-wrap items-center justify-between h-[8vh] bg-slate-500 lg:h-[10vh] px-2"
    >
    <p-button (click)='onClickSidebar()'  icon="pi pi-bars" />
      <!-- Center Text -->
      <h1 class="text-white text-center text-lg font-bold lg:text-3xl mx-auto">
        Admin Remark
      </h1>
  
      <!-- Logo -->
      <img src="logo/sparecarelogo.png" class="w-16 h-10" alt="Sparecare Logo" />
    </div>
    <form
      action=""
      [formGroup]="adminRemarkInputData"
      class="flex py-10 justify-center items-center gap-2 w-full "
    >
      <p-floatlabel variant="on">
        <p-select
          formControlName="type"
          [options]="typeData"
          optionValue="code"
          optionLabel="name"
          class="!w-40 !text-xs"
        />
        <label for="type" class="text-xs !font-normal">Type</label>
      </p-floatlabel>
  
      <p-floatlabel variant="on">
        <p-select
          formControlName="brand"
          [options]="brandData"
          optionValue="bigid"
          optionLabel="vcbrand"
          class="!w-40 !text-xs"
        />
        <label for="brand" class="text-xs !font-normal">Brand</label>
      </p-floatlabel>
  
      <div class="card flex flex-col justify-center">
        <textarea
          rows="5"
          cols="30"
          pTextarea
          placeholder="Enter Remark"
          class="h-11 w-72"
          formControlName="remarkInput"
        ></textarea>
        <div *ngIf="adminRemarkInputData.get('remarkInput')?.errors">
          <div
            class="text-red-500 text-xs"
            *ngIf="adminRemarkInputData.get('remarkInput')?.errors?.['maxLength']"
          >
            Maximum 50 characters allowed.
          </div>
          <div
            *ngIf="adminRemarkInputData.get('remarkInput')?.errors?.['invalidCharacters']"
            class="text-red-500 text-xs"
          >
            Only alphanumeric characters "," "-" and " " are allowed.
          </div>
        </div>
      </div>
  
      <div class="card flex justify-center">
        <p-button
          label="Submit"
          [disabled]="adminRemarkInputData.invalid"
          (click)="onSubmitRemarkData()"
          class="scale-y-[.8] text-xs"
        />
      </div>
      <div class="card flex justify-center">
        <p-button
          label="Show Table"
          [disabled]="adminRemarkInputData.invalid"
          (click)="onclickShowTable()"
          class="scale-y-[.8] text-xs"
        />
      </div>
    </form>
  
    <div class="flex justify-center mt-10 scale-[.8]" *ngIf="showtable">
      <div
        class="!w-auto h-auto md:w-[120vw] flex justify-center p-3 bg-gray-50 rounded-lg shadow-lg mb-5"
      >
        <div class="p-text-secondary mb-8">
          <p-table
            [tableStyle]="{ 'min-width': '50rem' }"
            [scrollable]="true"
            [value]="remarkData"
            scrollHeight="400px"
          >
            <ng-template #header>
              <tr>
                <th>Brand</th>
                <th>Remark</th>
                <th>Added By</th>
                <th>Added On</th>
              </tr>
            </ng-template>
            <ng-template #body let-data>
              <tr>
                <td>{{ data.vcbrand }}</td>
                <td>{{ data.remark }}</td>
                <td>{{ data.AddedBy }}</td>
                <td>{{ data.addedon | date : "dd-MMM-yy / h:mm a" : "UTC" }}</td>
    
                <!-- <td>{{ data.AdminRemark }}</td> -->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card flex justify-center">
    <!-- it is for error Message -->
    <p-dialog
      header="Message"
      [(visible)]="visible"
      [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '30vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p class="text-lg font-semibold">
        {{ Result }}
      </p>
    </p-dialog>
  </div>
  
  <app-sidebar-2 [sidebarvisible]="sidebarvisible" (close)="sidebarvisible = false"></app-sidebar-2>
  