<div class="min-w-full h-full bg-gray-100">
  <h1 class="text-2xl font-serif ml-2">Keyword Master</h1>
  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap flex p-2 gap-3 items-center border-dashed border-2 bg-gray-50 border-gray-200"
    >
      <p-floatlabel variant="on">
        <input type="text" id="keyworinput" pSize="small" pInputText />
        <label for="keyworinput" class="text-xs">Keyword Name</label>
      </p-floatlabel>

      <p-button
        size="small"
        [style]="{ 'background-color': '#008080', color: '#fff' }"
        icon="pi pi-check"
        iconPos="right"
      />

      <p-button
        size="small"
        label="View Table"
        [style]="{ 'background-color': '#008080', color: '#fff' }"
        icon="pi pi-table"
        iconPos="right"
      />
      <p-button
        size="small"
        label="Edit Keyword Master"
        (click)="showDialog()"
        [style]="{ 'background-color': '#008080', color: '#fff' }"
        icon="pi pi-table"
        iconPos="right"
      />
    </div>
  </div>


  <div class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2">
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        [scrollable]="true"
        scrollHeight="600px"
        [showGridlines]="true"
        scrollDirection="both"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr class="">
            <th
              class="!px-1 flex-auto !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px] !min-h-[22px]"
            >
              S.No
            </th>
            <th
              class="!px-1 flex-2 !py-1 !text-center text-[12px] !bg-gray-300 !max-w-[60px]"
            >
              Keyword Name
              <p-columnFilter type="text" field="" display="menu" />
            </th>
            
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Created On
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 !min-w-[60px]"
            >
              Last Updated
            </th>
            <th
              class="!px-1 !py-1 !text-center text-[12px] !bg-gray-300 font-semibold !min-w-[60px]"
            >
              Creaded By
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="p-1 text-[10px] text-center">{{ i + 1 }}</td>
            <td
              class="!px-1 !py-1 !text-center !h-[20px] text-[13px] text-gray-700"
            >
              {{ rowData.Dashboard }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        class="h-6 text-sm"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [appendTo]="body"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      />
    </div>
  </div>
</div>

<p-dialog
  header="Edit Keyword"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [class]="'!h-[250px] w-auto' "
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex gap-2">
    <p-select
      appendTo="body"
      optionLabel="name"
      placeholder="Select Bucket"
      class="w-full md:w-56"
    />

    <p-floatlabel variant="on">
        <input type="text" id="keyworinput2" pSize="small" pInputText />
        <label for="keyworinput2" class="text-xs">Keyword Name</label>
      </p-floatlabel>

    <p-button
      size="small"
      [style]="{ 'background-color': '#008080', color: '#fff' }"
      icon="pi pi-check"
      iconPos="right"
    />
  </div>
</p-dialog>