::ng-deep .my-custom-filter .p-inputtext {
  height: 24px;
  font-size: 12px;
}

    :host ::ng-deep timesicon.p-component.p-iconwrapper.p-select-clear-icon.ng-star-inserted {
    top: 60%;
    left: 60%
}