body{
    /* background: var(--secondary-color) !important; */
    height: 100%;
    overflow: hidden !important;
}
.body{
    /* background-color: var(--secondary-color) !important; */
    height: 100vh;
    /* overflow: auto; */
}

:host ::ng-deep .p-select{
    width: 90%;
}
:host ::ng-deep .p-fileupload-content{
    display: none;
}
:host ::ng-deep .p-fileupload-buttonbar{
    padding: 0%;
    /* background-color: var(--secondary-color) !important; */
}

:host ::ng-deep span.p-ripple.p-element.p-button.p-component.p-fileupload-choose{
/* background-color: var(--theme-color); */
padding: 10px !important;
/* width: 128px;
height: 36px;
margin-left: 64px; */
}

:host ::ng-deep p-dropdown .p-dropdown.p-component.p-inputwrapper{
    border-radius:4px !important;
    /* width:-webkit-fill-available !important; */
    width: 90% !important;
}

:host ::ng-deep .p-dropdown:not(.p-disabled):hover {
    border-color:#d1d5db !important;
}

:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    border-color:#d1d5db !important;
    box-shadow:none !important
}

:host ::ng-deep span.p-element.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted{
    padding: 4px !important;
    padding-left:10px !important;
}

.card{
    background-color: white;
}

.btn-search{
    /* background-color: var(--theme-color); */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-view{
    /* background-color: var(--theme-color); */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep button:focus:not(:focus-visible) {
    outline: 0;
    border: none;
    box-shadow: none;
}



:host ::ng-deep span.p-element.p-dropdown-label.p-inputtext.ng-star-inserted{
    padding: 4px !important;
    padding-left:10px !important;
}
:host ::ng-deep span.p-select-label.p-placeholder.ng-star-inserted{
    padding: 5px !important;
    font-size: 14px;
}
:host ::ng-deep .btn-export{

    /* background-color: var(--theme-color); */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 70px;
}

/* :host ::ng-deep input#icondisplay{
    border-radius:22px !important;
    width:-webkit-fill-available !important;
    padding: 4px !important;
    padding-left:10px !important;
    outline: 0;
    box-shadow: none;
} */

/* :host ::ng-deep div#pn_id_9{
    border-radius:22px !important;
    width:-webkit-fill-available !important;
    padding: 0px !important;
    padding-left:1px !important;
    outline: 0;
    box-shadow: none;
} */

:host ::ng-deep .p-multiselect-label {
    padding: 3px;
    padding-left: 5px;
}

:host ::ng-deep input.p-element {
    padding: 3px !important;
    padding-left: 10px !important;
    border-radius: 5px !important;
}

:host ::ng-deep .p-element.p-multiselect-label-container{
    padding:3px !important;
}
:host ::ng-deep .p-dropdown-items-wrapper{
    max-height:350px !important;
}
:host ::ng-deep ul{
    padding-top:10px
}
:host ::ng-deep li{
    padding-bottom: 4px;
}

/* :host ::ng-deep p-dropdownitem.p-element.ng-star-inserted{
    display: flex;
    align-items: center;
} */

:host ::ng-deep .p-checkbox-box{
    border: 2px solid !important;
}
::ng-deep /deep/ .p-multiselect {
    width: 90% !important;
    border-radius: 5px !important;
    padding: 0px;
  }
  
  ::ng-deep /deep/ .p-multiselect .p-multiselect-label {
    width: 100% !important;
    font-size: 14px;
    /* padding: 10px !important; */
  }
  
  ::ng-deep /deep/ .p-multiselect-panel {
    width: 100% !important;
    border-radius:5px !important;
  }
  :host ::ng-deep span.p-element.p-dropdown-label.p-inputtext{
    padding:5px !important
}

:host ::ng-deep .custom-datepicker  input{
    padding: 4px !important;
    padding-left: 5px !important;
    font-size: 14px !important;
}

  @media (min-width:768px) and (max-width:900px){
    :host ::ng-deep .label-ordering-months{
        margin-left:27px;
     }
  }
  @media (min-width:768px) and (max-width:1024px){
    label{
        font-size:13px !important
    }
    :host ::ng-deep span.p-element.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted{
        padding: 3px !important;
        padding-left:10px !important;
        font-size: 14px !important;
    }
     
    :host ::ng-deep span.p-element.p-dropdown-label.p-inputtext.ng-star-inserted{
        padding: 3px !important;
        padding-left:10px !important;
        font-size: 14px !important;
    }
     :host ::ng-deep input.p-element{
        padding:2px !important;
        padding-left:10px !important;
        font-size: 14px !important;
     }
     :host ::ng-deep .p-multiselect-label{
        padding: 5px;
    padding-left: 5px;
    font-size: 14px;
     }
     :host ::ng-deep .col-2{
        padding-right: 0px;
     }

    
} 