<p-toast position="top-center"></p-toast>
  <!-- <p-blockUI [blocked]="loading"> -->
    <!-- <p-progressSpinner 
      styleClass="w-4rem h-4rem" 
      strokeWidth="8" 
      fill="var(--surface-ground)" 
      animationDuration=".5s" /> -->
      <!-- <i class='bx bx-loader-circle fa-spin custom-icon fa-spinner'></i>
  </p-blockUI> -->
  <!-- <div>
    <img
    src="Background_image.png"
    alt="Background"
    class=" w-full h-full object-cover -z-10 fixed"
  />
    <app-header></app-header>
</div> -->
  <div class="body d-flex ml-10">
   
    <!-- <div>
      <app-sidebar></app-sidebar>
    </div> -->
    <div class="row col">
        
       <!-- <div class="d-flex justify-center align-items-center"  *ngIf=" !userPermissions.edit1 && !userPermissions.add1 && !userPermissions.view1 && !userPermissions.delete1" >
        <h2>You do not have the access for User Management</h2>  
    </div>  -->
    <!-- *ngIf="userPermissions.length>0 || userPermissions?.edit1 ||  userPermissions?.add1 || userPermissions?.view1 || userPermissions?.delete1" -->
      <form [formGroup]="exportForm" >
        <!-- <div class="font-semibold row ms-2">
          <span class=" ms-2  d-flex align-items-center text-[20px]">Lead Time Export</span>
        </div> -->
        <!-- <div class="flex justify-center">
          <div
            class="flex flex-row w-[80vw] md:w-[62vw] py-2 md:px-0 justify-between"
          >
            <h3 class="font-semibold text-base text-md md:text-xl">Lead Time Export</h3>
          </div>
        </div> -->
       
      <div class="row mt-2" [ngClass]="sidebarVisible?'w-[95vw]':'w-[82vw]'">
        <div class="col-12 d-flex flex-column gap-4">
            <div class="row flex items-center justify-center">
                <div class="col-2">
                    <label class="d-flex justify-content-end align-items-center" for="brand">Brand :</label>
                </div>
                <div class="col-10">
                    <p-select
                [styleClass]=""
                [options]="brands"
    [filter]="true"
                filterPlaceholder="Select Brand.."
                id="brand"
                formControlName="brand"
                optionLabel="brand"
                optionValue="brand_id"
                placeholder="Select Brand"
                (ngModelChange)="getDealers($event)"
              >
              </p-select>
              <div *ngIf="exportForm.get('brand')?.touched && exportForm.get('brand')?.invalid">
                <small *ngIf="exportForm.get('brand')?.hasError('required')" style="color: red; font-size: 12px;">Brand is required.</small>
              </div>
                </div>
            </div>
    
            <div class="row flex items-center justify-center">
                <div class="col-2">
                    <label class="d-flex justify-content-end align-items-center " for="dealer">Dealer :</label>
                </div>
                <div class="col-10">
                    <p-select
            [options]="dealers"
            optionValue="dealer_id"
            id="dealer"
            formControlName="dealer"
            optionLabel="dealer_name"
            placeholder="Select Dealer"
            [filter]="true"
                filterPlaceholder="Select Dealer.."
            (ngModelChange)="getLocations($event)"
          >
          </p-select>
          <div *ngIf="exportForm.get('dealer')?.touched && exportForm.get('dealer')?.invalid">
            <small *ngIf="exportForm.get('dealer')?.hasError('required')" style="color: red; font-size: 12px;">Dealer is required.</small>
          </div>
                </div>
            </div>
    
            <div class="row flex items-center justify-center">
                <div class="col-2">
                    <label class="d-flex justify-content-end align-items-center" for="location">Location :</label>
                </div>
                <div class="col-10">
                    <p-select
            [options]="locations"
            [filter]="true"
                filterPlaceholder="Select Location.."
            id="location"
            formControlName="location"
            optionLabel="location_name"
            optionValue="location_id"
            placeholder="Select Location"
          >
          </p-select>
          <div *ngIf="exportForm.get('location')?.touched && exportForm.get('location')?.invalid">
            <small *ngIf="exportForm.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small>
          </div>
                </div>
            </div>
            

            <div class="row flex items-center justify-center">
              <div class="col-2">
                  <label class="d-flex justify-content-end align-items-center" for="category">Category :</label>
              </div>
              <div class="col-10">
                  <p-select
          [options]="categories"
          id="category"
          formControlName="category"
          optionLabel="name"
          optionValue="name"
          placeholder="Select Category"
        >
        </p-select>
        <div *ngIf="exportForm.get('category')?.touched && exportForm.get('category')?.invalid">
          <small *ngIf="exportForm.get('category')?.hasError('required')" style="color: red; font-size: 12px;">Category is required.</small>
        </div>
              </div>
          </div>
          <div class="row flex items-center justify-center">
            <div class="col-2 pr-0 pl-1">
                <label class="d-flex justify-content-end align-items-center label-ordering-months" for="orderingMonths">Ordering Months :</label>
            </div>
            <div class="col-10 d-flex ">
              <div>
                <!-- <p-calendar 
                placeholder="From"
                [minDate]="minDate" 
                [maxDate]="maxDate"
                [styleClass]="'w-[15vw] h-[30px] me-3 flex items-center'"
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                formControlName="fromMonth"
                dateFormat="dd/mm/yy"
                inputId="icondisplay" /> -->
                <p-datepicker 
                view="month" 
                placeholder="From"
                [minDate]="minDate"     
                [maxDate]="maxDate"
                [styleClass]="'custom-datepicker w-[15vw] h-[30px] me-3 flex items-center '"
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                (onSelect)="onStartDateChange($event)"
                formControlName="fromMonth"
                dateFormat="mm/yy" />
                <div *ngIf="exportForm.get('fromMonth')?.touched && exportForm.get('fromMonth')?.invalid">
                  <small *ngIf="exportForm.get('fromMonth')?.hasError('required')" style="color: red; font-size: 12px;">From Month is required.</small>
                </div>

              </div>
              <div>

                <p-datepicker 
                view="month" 
                placeholder="To"
                [minDate]="minDate" 
                [maxDate]="maxDate"
                [styleClass]="'custom-datepicker w-[15vw] h-[30px] me-3 flex items-center'"
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                (onSelect)="onEndDateChange($event)"
                formControlName="toMonth"
                dateFormat="mm/yy" />
                <!-- <p-calendar 
                placeholder="To"
                [minDate]="minDate" 
                [maxDate]="maxDate"
                [styleClass]="'w-[15vw] h-[30px] flex items-center'"
                [iconDisplay]="'input'" 
                formControlName="toMonth"
                [showIcon]="true" 
                inputId="icondisplay" /> -->
        
                <!-- <p-calendar view="month" 
                placeholder="To"
                [minDate]="minDate" 
                [maxDate]="maxDate"
                dateFormat="dd/mm/yy"
                [styleClass]="'w-[15vw] h-[30px] flex items-center'"
                [iconDisplay]="'input'" 
                formControlName="toMonth"
                [showIcon]="true" 
                dateFormat="mm/yy"></p-calendar> -->
        <div *ngIf="exportForm.get('toMonth')?.touched && exportForm.get('toMonth')?.invalid">
          <small *ngIf="exportForm.get('toMonth')?.hasError('required')" style="color: red; font-size: 12px;">To Month is required.</small>
        </div>
              </div>
            </div>
        </div>
        <div class="row flex items-center justify-center">
          <div class="col-2">
              <label class="d-flex justify-content-end align-items-center " for="dealer">File Type :</label>
          </div>
          <div class="col-10">
            <p-multiSelect 
            [options]="fileTypes" 
            formControlName="fileType"
            optionLabel="name" 
            optionValue="name"
            placeholder="Select fileType" />
    <div *ngIf="exportForm.get('fileType')?.touched && exportForm.get('fileType')?.invalid">
      <small *ngIf="exportForm.get('fileType')?.hasError('required')" style="color: red; font-size: 12px;">File Type is required.</small>
    </div>
          </div>
      </div>
            <!-- <div class="row ">
                <div class="col-2">
                    <span class="d-flex justify-content-end align-items-center">Upload Excel :</span>
                    
                </div>
                <div class="col-10 d-flex flex-row gap-5">
                    <div class="row col-2 me-2">
    
                        <p-fileUpload
                        #fileInput
                        mode="advanced"
                        name="demo[]"
                        multiple="true"
                        chooseIcon="pi pi-upload"
                        accept=".xlsx, .xls,.csv"
                        [auto]="true"
                        chooseLabel="Upload"
                        (onSelect)="onUpload($event)" 
                          />
                    </div>
                    <div class="col-2 btn-search">
                        <p-button [styleClass]="'text-white'" label="Search"  (click)="submit()" />
                    </div>
                    <div class="col-2 btn-view">
                        <p-button [styleClass]="' text-white'" label="View Mapping" [disabled]="!showMapping" (click)="show()" />
    
                    </div>
                </div>
            </div> -->
            

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-1 btn-export" >
                    <p-button [styleClass]="'text-white'" class="" label="Export" (click)="downloadExcel()" />
                </div>
                <!-- <div class="col-1 btn-export">
                  <p-button [styleClass]="'text-white'" class="" label="Export" (click)="downloadExcel()" />
              </div> -->
            </div>
            
        </div>
      </div>
    </form>
</div>
  </div>