<div class="min-w-full bg-gray-100">
  <h1 class="text-2xl font-serif ml-2">Remark Master</h1>
  <div class="min-w-full !min-h-auto flex items-center justify-start px-2">
    <div
      class="min-w-full min-h-[15vh] flex-wrap flex p-2 gap-3 items-center rounded bg-gray-50"
    >
      <div class="flex flex-wrap gap-4">
        <form [formGroup]="remarkForm">
          <div class="flex flex-wrap gap-4">
            <!-- User Type -->
            <div class="flex flex-col">
              <p-floatlabel variant="on">
                <p-select
                  optionLabel="Name"
                  optionValue="Id"
                  [options]="UserTypeData"
                  formControlName="userType"
                  size="small"
                  class="w-44 h-8"
                  (onChange)="OnclickUser()"
                />
                <label for="userType" class="text-xs">User Type</label>
              </p-floatlabel>

              <div
                class="text-red-500 text-[11px] mt-1"
                *ngIf="
                  remarkForm.get('userType')?.touched &&
                  remarkForm.get('userType')?.hasError('required')
                "
              >
                User Type is required
              </div>
            </div>

            <!-- Remark Type -->
            <div class="flex flex-col">
              <p-floatlabel variant="on">
                <p-select
                  optionLabel="Remark"
                  optionValue="Id"
                  [options]="RemarkData"
                  formControlName="remarkType"
                  size="small"
                  class="w-44 h-8"
                />
                <label class="text-xs">Remark Type</label>
              </p-floatlabel>

              <div
                class="text-red-500 text-[11px] mt-1"
                *ngIf="
                  remarkForm.get('remarkType')?.touched &&
                  remarkForm.get('remarkType')?.hasError('required')
                "
              >
                Remark Type is required
              </div>
            </div>

            <!-- Brand -->
            <div class="flex flex-col">
              <p-floatlabel variant="on">
                <p-select
                  optionLabel="vcbrand"
                  [options]="BrandData"
                  optionValue="bigid"
                  formControlName="brand"
                  size="small"
                  class="w-44 h-8"
                  (onChange)="OnclickBrands()"
                />
                <label class="text-xs">Select Brand</label>
              </p-floatlabel>

              <div
                class="text-red-500 text-[11px] mt-1"
                *ngIf="
                  remarkForm.get('brand')?.touched &&
                  remarkForm.get('brand')?.hasError('required')
                "
              >
                Brand is required
              </div>
            </div>

            <!-- Dealer -->
            <div class="flex flex-col">
              <p-floatlabel variant="on">
                <p-select
                  [options]="DealerData"
                  optionLabel="dealer"
                  optionValue="dealerid"
                  formControlName="dealer"
                  size="small"
                  class="w-44 h-8"
                  (onChange)="OnclickDealer()"
                />
                <label class="text-xs">Select Dealer</label>
              </p-floatlabel>

              <div
                class="text-red-500 text-[11px] mt-1"
                *ngIf="
                  remarkForm.get('dealer')?.touched &&
                  remarkForm.get('dealer')?.hasError('required')
                "
              >
                Dealer is required
              </div>
            </div>

            <!-- Location -->
            <div class="flex flex-col">
              <p-floatlabel variant="on">
                <p-select
                  optionLabel="location"
                  optionValue="locationid"
                  formControlName="location"
                  [options]="LocationData"
                  size="small"
                  class="w-44 h-8"
                />
                <label class="text-xs">Select Location</label>
              </p-floatlabel>

              <div
                class="text-red-500 text-[11px] mt-1"
                *ngIf="
                  remarkForm.get('location')?.touched &&
                  remarkForm.get('location')?.hasError('required')
                "
              >
                Location is required
              </div>
            </div>

            <!-- Remark Input -->
            <div class="flex flex-col">
              <p-floatlabel variant="on">
                <input
                  type="text"
                  class="h-8 w-52"
                  id="keyworinput"
                  pSize="small"
                  pInputText
                  formControlName="remark"
                />
                <label for="keyworinput" class="text-xs">Enter Remark</label>
              </p-floatlabel>

              <div
                class="text-red-500 text-[11px] mt-1"
                *ngIf="
                  remarkForm.get('remark')?.touched &&
                  remarkForm.get('remark')?.hasError('required')
                "
              >
                Remark is required
              </div>
            </div>

            <!-- Buttons -->
            <p-button
              size="small"
              label="Save"
              [style]="{ 'background-color': '#008080', color: '#fff' }"
              icon="pi pi-check"
              iconPos="left"
              (onClick)="onClickSendData()"
            />
            <p-button
              size="small"
              label="View"
              [style]="{ 'background-color': '#008080', color: '#fff' }"
              icon="pi pi-eye"
              iconPos="left"
              (onClick)="OnClickViewData()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="m-2 flex flex-col items-center rounded-lg bg-white shadow-lg p-2"
    *ngIf="visibleTableData"
  >
    <div class="bg-gray-50 h-auto rounded-lg shadow-lg w-full overflow-hidden">
      <p-table
        #dt1
        [scrollable]="true"
        scrollHeight="400px"
        [value]="RemarksDataTable"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 30, 40, 50, 100]"
        [showGridlines]="true"
        paginatorDropdownAppendTo="body"
        class="!w-[90vw]"
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="[
          'id',
          'Brand',
          'BrandId',
          'Dealer',
          'DealerId',
          'Location',
          'LocationId',
          'PartNumber',
          'LatestPartNumber',
          'PartDesc',
          'MRP',
          'LandedCost',
          'MOQ',
          'PartType',
          'PartTypeId',
          'Model',
          'GSTPer',
          'QtyPerVehicle',
          'HSNCode',
          'HSNID',
          'Name',
          'Addedby',
          'Remarks',
          'AddedOn',
          'Remark',
          'Type',
          'Addedby',
          'RemarkFor'
        ]"
      >
        <ng-template let-item pTemplate="paginatordropdownitem">
          {{ item.value === RemarksDataTable?.length ? "All" : item.value }}
        </ng-template>

        <ng-template pTemplate="caption">
          <div class="flex items-center">
            <p-button
              label="Clear"
              size="small"
              [outlined]="true"
              icon="pi pi-filter-slash"
              (click)="clear(dt1)"
            ></p-button>

            <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input
                pInputText
                type="text"
                size="small"
                (input)="onGlobalFilter($event)"
                placeholder="Search keyword"
              />
            </p-iconfield>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="bg-gray-200 text-gray-800 text-sm font-semibold">
            <th class="!px-1 !py-1 text-center text-[12px] !bg-gray-300">
              S.No
            </th>
            <th
              pSortableColumn="Brand"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Brand
              <p-sortIcon field="Brand" />
              <p-columnFilter type="text" field="Brand" display="menu" />
            </th>
            <th
              pSortableColumn="Dealer"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Dealer
              <p-sortIcon field="Dealer" />
              <p-columnFilter type="text" field="Dealer" display="menu" />
            </th>
            <th
              pSortableColumn="Location"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Location
              <p-sortIcon field="Location" />
              <p-columnFilter type="text" field="Location" display="menu" />
            </th>
            <th
              pSortableColumn="Remark"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Remark
              <p-sortIcon field="Remark" />
              <p-columnFilter type="text" field="Remark" display="menu" />
            </th>
            <th
              pSortableColumn="RemarkFor"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Remark For
              <p-sortIcon field="RemarkFor" />
              <p-columnFilter type="text" field="RemarkFor" display="menu" />
            </th>
            <th
              pSortableColumn="Type"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Remark Type
              <p-sortIcon field="Type" />
              <p-columnFilter type="text" field="Type" display="menu" />
            </th>
            <th
              pSortableColumn="Addedby"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Added By
              <p-sortIcon field="Addedby" />
              <p-columnFilter type="text" field="Addedby" display="menu" />
            </th>
            <th
              pSortableColumn="AddedOn"
              class="!px-1 !py-1 text-center text-[12px] !bg-gray-300"
            >
              Added On
              <p-sortIcon field="AddedOn" />
              <p-columnFilter type="text" field="AddedOn" display="menu" />
            </th>
            <th class="!px-1 !py-1 text-center text-[12px] !bg-gray-300">
              Action
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
          <tr
            class="!border-b hover:!shadow-xl !hover:!border-2 !transition duration-100 transform hover:-translate-y-1 active:translate-y-0"
          >
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ i + 1 }}
            </td>

            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.Brand }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.Dealer }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.Location }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.Remark }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.RemarkFor }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.Type }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.Addedby }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              {{ rowData.AddedOn | date : "dd-MM-yyyy HH:mm:ss a" : "UTC" }}
            </td>
            <td class="!px-1 !py-1 text-center text-[13px] text-gray-700">
              <p-button
                icon="pi pi-pencil"
                size="small"
                severity="success"
                (click)="OnClickUpdateRemark(rowData)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="Update Advisor Info"
  [(visible)]="editDialogVisible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw', height: '50vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="EditRemarkForm" class="h-full flex flex-col">
    <div class="grid grid-cols-2 gap-4 p-3">
      <!-- Remark Type -->
      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-select
            optionLabel="Remark"
            optionValue="Id"
            [options]="RemarkData"
            formControlName="remarkTypeId"
            appendTo="body"
            size="small"
            class="w-full h-8"
          />
          <label class="text-xs">Remark Type</label>
        </p-floatlabel>
        <div
          class="text-red-500 text-[11px] mt-1"
          *ngIf="
            EditRemarkForm.get('remarkType')?.touched &&
            EditRemarkForm.get('remarkType')?.hasError('required')
          "
        >
          Remark Type is required
        </div>
      </div>

      <!-- Brand -->
      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-select
            optionLabel="vcbrand"
            [options]="BrandData"
            optionValue="bigid"
            formControlName="brand"
            size="small"
            appendTo="body"
            class="w-full h-8"
            (onChange)="OnclickEditBrands()"
          />
          <label class="text-xs">Select Brand</label>
        </p-floatlabel>
        <div
          class="text-red-500 text-[11px] mt-1"
          *ngIf="
            EditRemarkForm.get('brand')?.touched &&
            EditRemarkForm.get('brand')?.hasError('required')
          "
        >
          Brand is required
        </div>
      </div>

      <!-- Dealer -->
      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-select
            [options]="DealerData"
            optionLabel="dealer"
            optionValue="dealerid"
            formControlName="dealer"
            size="small"
            appendTo="body"
            class="w-full h-8"
            (onChange)="OnclickEditDealer()"
          />
          <label class="text-xs">Select Dealer</label>
        </p-floatlabel>
        <div
          class="text-red-500 text-[11px] mt-1"
          *ngIf="
            EditRemarkForm.get('dealer')?.touched &&
            EditRemarkForm.get('dealer')?.hasError('required')
          "
        >
          Dealer is required
        </div>
      </div>

      <!-- Location -->
      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-select
            optionLabel="location"
            optionValue="locationid"
            formControlName="location"
            [options]="LocationData"
            appendTo="body"
            size="small"
            class="w-full h-8"
          />
          <label class="text-xs">Select Location</label>
        </p-floatlabel>
        <div
          class="text-red-500 text-[11px] mt-1"
          *ngIf="
            EditRemarkForm.get('location')?.touched &&
            EditRemarkForm.get('location')?.hasError('required')
          "
        >
          Location is required
        </div>
      </div>

      <!-- Remark Input -->
      <div class="col-span-2 flex flex-col">
        <p-floatlabel variant="on">
          <input
            type="text"
            class="h-8 w-full"
            id="keyworinput"
            pSize="small"
            appendTo="body"
            pInputText
            formControlName="remark"
          />
          <label for="keyworinput" class="text-xs">Enter Remark</label>
        </p-floatlabel>
        <div
          class="text-red-500 text-[11px] mt-1"
          *ngIf="
            EditRemarkForm.get('remark')?.touched &&
            EditRemarkForm.get('remark')?.hasError('required')
          "
        >
          Remark is required
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <button
        pButton
        size="small"
        label="Save"
        icon="pi pi-check"
        (click)="OnClickSaveEdit()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Message"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="text-lg">
    {{ Result }}
  </p>
</p-dialog>
